{% extends "base.html" %}
{% load i18n static wger_extras %}

{% block title %}{% translate "License list" %}{% endblock %}


{% block content %}
    <ul class="list-group">
        {% for license in license_list %}
            <li class="list-group-item list-group-item-action">
                <div class="btn-group float-end">
                    <button type="button" class="btn btn-dark dropdown-toggle btn-sm"
                            data-bs-toggle="dropdown">
                        <span class="{% fa_class 'cog' %}"></span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        {% translate 'Edit' as text %}
                        {% url 'core:license:edit' license.id as url %}
                        {% modal_link url=url text=text css_class='dropdown-item' %}

                        {% translate 'Delete' as text %}
                        {% url 'core:license:delete' license.id as url %}
                        {% modal_link url=url text=text css_class='dropdown-item' %}
                    </div>
                </div>
                {{ license }}
            </li>
            {% empty %}
            <li class="list-group-item">
                {% translate "Nothing found" %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}



{#         #}
{# Options #}
{#         #}
{% block options %}
    {% if perms.core.add_license %}
        {% translate 'Add' as text %}
        {% modal_link url='core:license:add' text=text %}
    {% endif %}
{% endblock %}
