{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "License list" %}{% endblock %}


{% block content %}

<table class="table">
<thead>
<tr>
    <th>{% trans "Actions" %}</th>
    <th>{% trans "Name" %}</th>
</tr>
</thead>
<tbody>
{% for license in license_list %}
<tr>
    <td class="no-hover">
        <a href="{% url 'core:license:delete' license.id %}"
           class="wger-modal-dialog">
            <img src="{% static 'images/icons/trash.svg' %}"
                 width="22"
                 height="22"
                 alt="{% trans 'Delete' %}"
                 title="{% trans 'Delete' %}">
        </a>
        <a href="{% url 'core:license:edit' license.id %}"
           class="wger-modal-dialog">
            <img src="{% static 'images/icons/edit.svg' %}"
                 width="22"
                 height="22"
                 alt="{% trans 'Edit' %}"
                 title="{% trans 'Edit' %}">
        </a>
    </td>
    <td>{{license}}</td>
</tr>
{% empty %}
<tr>
    <td colspan="2">{% trans "Nothing found" %}</td>
</tr>
{% endfor %}
</tbody>

</table>
<div style="padding-top:3em;"></div>
{% endblock %}




{% block sidebar %}
{% if perms.core.add_license %}
<h4>{% trans "Options" %}</h4>
<p>
       <a href="{% url 'core:license:add' %}"
          {% auto_link_css flavour "wger-modal-dialog" %}>
       <img src="{% static 'images/icons/new.svg' %}"
            width="32"
            height="32"
            alt="{% trans 'Add' %}"
            title="{% trans 'Add' %}">
       {% trans "Add" %}
       </a>
</p>

<p>{% blocktrans %}If a license has been localized, e.g. the Creative Commons
licenses for the different countries, add them as separate entries here.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
