{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}



<div data-role="popup"
     id="editoptions-day-{{ day.id }}"
     data-theme="d"
     data-overlay-theme="a">
        <div data-role="header" data-theme="b">
            <h3>{{day.description}}</h3>
        </div>
        <div role="main" class="ui-content">
        <a href="{% url 'day-log' day.id %}"
           title="{% trans 'Add weight log to this day' %}"
           data-role="button">
                <img src="{% static 'images/icons/statistics.svg' %}"
                     width="22"
                     height="22"
                     alt="{% trans 'Add weight log to this day' %}">
                    {% trans 'Add weight log to this day' %}
        </a>
        <a href="{% url 'day-edit' day.id %}"
            title="{% trans 'Edit' %}"
            data-role="button">
                <img src="{% static 'images/icons/edit.svg' %}"
                     width="22"
                     height="22"
                     alt="{% trans 'Edit' %}">
                    {% trans 'Edit' %}
        </a>
        <a href="{% url 'wger.manager.views.day.delete' workout.id day.id %}"
           title="{% trans 'Delete' %}"
           data-role="button">
                <img src="{% static 'images/icons/trash.svg' %}"
                     width="22"
                     height="22"
                     alt="{% trans 'Delete' %}">
                     {% trans "Delete" %}
        </a>
        </div>
</div>


{% for set in day.set_set.select_related %}
<div data-role="popup"
     id="editoptions-set-{{ set.id }}"
     data-overlay-theme="a">
        <div data-role="header" data-theme="b">
            <h3>{% trans "Options" %}</h3>
        </div>
        <div role="main" class="ui-content">
        <a href="{% url 'wger.manager.views.set.edit' set.id %}"
           title="{% trans 'Delete' %}"
           data-role="button">
                <img src="{% static 'images/icons/edit.svg' %}"
                     width="16"
                     height="16"
                     alt="{% trans 'Edit' %}"
                     class="ui-li-icon ui-corner-none">
                {% trans "Edit" %}
        </a>
        <a href="{% url 'wger.manager.views.set.delete' set.id %}"
           title="{% trans 'Delete' %}"
           data-role="button">
                <img src="{% static 'images/icons/trash.svg' %}"
                     width="16"
                     height="16"
                     alt="{% trans 'Delete' %}"
                     class="ui-li-icon ui-corner-none">
                {% trans "Delete" %}
        </a>

        <h5>{% trans "Exercises" %}</h5>
        {% for exercise in set.exercises.select_related %}
            <a href="{{ exercise.get_absolute_url }}"
               title="{{ exercise.name }}"
               data-role="button">
                {{ exercise.name }}
        </a>
        {% endfor %}
    </div>
</div>
{% endfor %}

<ul data-role="listview"
    id="table-day-{{ day.id }}"
    style="margin-top: 3em;"
    data-split-icon="grid"
    data-split-theme="b">
    <li data-theme="b">
        <a href="#editoptions-day-{{ day.id }}" data-rel="popup">
        <h4>{{day.description}}</h4>
        {% for day_of_week in day.day.select_related %}
            {% trans day_of_week.day_of_week %}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
        </a>


        <a href="{% url 'day-log' day.id %}"></a>
    </li>

    {% for set in day.set_set.select_related %}
    <li id="set-{{ set.id }}" data-icon="false">
    <a href="#editoptions-set-{{ set.id }}"
       data-rel="popup"
       data-position-to="window">

        {% for exercise in set.exercises.select_related %}
            <div id="exercise-{{ exercise.id }}" class="ajax-set-edit-target">
                <h3>{{ exercise.name }}</h3>

                <p><strong>
                {% comment %}
                    If there are more than 1 settings, don't output the repetitions
                    e.g. "4 x 8 8 10 10" is shown only as "8 8 10 10", after all
                    those 4 sets are not done four times! But "3 x 12" is stil shown
                    like that.
                {% endcomment %}
                {% if exercise|get_current_settings:set.id|length == 1 %}
                    {{ set.sets }} ×
                {% endif %}

                {% comment %}
                    get_current_settings only does a exercise.setting_set.filter(set_id=set_id)
                {% endcomment %}

                <span class="settings-list">
                {% for setting in exercise|get_current_settings:set.id %}
                    <span id="setting-{{setting.id}}">
                    {% if setting.reps == 99 %}
                         ∞
                    {%else%}
                        {{setting.reps}}
                    {%endif%}
                    {% if not forloop.last %} – {% endif %}
                    </span>
                {% empty %}
                    <a href="{% url 'set-edit' set.id %}"
                       data-role="button">
                        {% trans "This exercise has no repetitions." %}
                        {% trans "Edit them now."%}
                    </a>
                {% endfor %} <!--for setting in exercise-->
                </span>
                </strong></p>

                <p class="exercise-comments">
                    {% for comment in exercise.exercisecomment_set.all %}
                        {{comment}}<br>
                    {% endfor %}
                </p>


            </div>
        {% endfor %} <!--for exercise in set-->
    </a>
    </li>
    {% empty %}
    <li>
        <a href="{% url 'set-add' day.id %}"
           data-ajax="false">
               {% trans "No exercises selected for this day." %}<br>
               {% trans "Add one now." %}
            </a>
    </li>
    {% endfor %} <!--for set in day-->

    {% if day.set_set.select_related %}
    <li data-icon="arrow-r">
        <a href="{% url 'set-add' day.id %}"
           data-ajax="false"
           >{% trans "Add exercises to this workout day" %}</a>
    </li>
    {% endif %}

</ul>

