{% load i18n %}
{% if not field.is_hidden %}
<tr>
    <td colspan="2">
        <label for="{{field.auto_id}}">
            {% trans field.label %}
        </label>

        {% if not field.field.required %}
            <span style="font-size:90%;">— <em>{% trans "Optional" %}</em></span><br>
        {% endif %}

        {% if field.errors %}
            <div class="ym-fbox-text ym-error">
                {% for error in field.errors %}
                    <p class="ym-message">{% trans error %}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if field.help_text %}
            <p class="dimmed">{% trans field.help_text %}</p>
        {% endif %}

        <div class="{{css_class}} {% if field.errors %}ym-error{% endif %}">
        {{ field }}
        </div>
    </td>
</tr>
{% else %}
    {{field}}
{% endif %}
