{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{% trans "Your workouts" %}{% endblock %}


{% block content %}
<div class="list-group">
    {% for workout in workouts %}
        <a href="{{ workout.get_absolute_url }}" class="list-group-item wger-list-group-item">
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>

            {% if workout == current_workout %}
            <span class="label label-primary pull-right"><em>{% trans "active" %}</em></span>
            {% endif %}

            <h3 class="list-group-item-heading">{{ workout }}</h4>
            <p class="list-group-item-text">{{ workout.creation_date }}</p>
        </a>
    {% empty %}
        <a href="{% url 'manager:workout:add' %}" class="list-group-item">
        {% trans "No workouts found." %}<br>{% trans "Add one now." %}
        </a>
    {% endfor %}
</div>
{% endblock %}


{% block sidebar %}
<h4>{% trans "Options" %}</h4>
<p>
    <a href="{% url 'manager:workout:add' %}" {% auto_link_css flavour %}>
    <img src="{% static 'images/icons/new.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Add workout' %}"
         title="{% trans 'Add workout' %}">
    {% trans "Add workout" %}</a>
</p>
{% endblock %}
