{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your workouts" %}{% endblock %}


{% block content %}
{% if workouts %}
    <table id="workout-table" data-role="table"  class="ui-responsive table-stroke table-stripe">
    <thead>
    <tr>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Date" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for workout in workouts %}
    <tr>
        <td>
            <a href="{% url 'wger.manager.views.workout.view' workout.id %}"
               data-role="button"
               data-inline="true"
               data-mini="true">
                {% if workout.comment %}
                    {{ workout.comment }}
                {% else %}
                    {% trans "Workout" %}
                {% endif %}
            </a>
        </td>
        <td>
            {{ workout.creation_date }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <a href="{% url 'wger.manager.views.workout.add' %}" data-role="button">
    {% trans "No workouts found." %}<br>{% trans "Add one now." %}
    </a>
{% endif %}
{% endblock %}


{% block sidebar %}
<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url 'wger.manager.views.workout.add' %}" data-role="button">
    <img src="{% static 'images/icons/new.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Add workout' %}"
         title="{% trans 'Add workout' %}">
    {% trans "Add workout" %}</a>
</p>
{% endblock %}
