{% load i18n %}
<div data-ng-controller="timerCtrl">
{% verbatim %}

    <h2>{{ stepData.exercise.name }}</h2>


    <form action="" method="POST">
        <input name="exercise"
               id="id-exercise-{{ page }}"
               value="{{ stepData.exercise.id }}"
               type="hidden">
{% endverbatim %}

    <div class="row filler_div">
        <div class="col-xs-6">
            <label for="id-reps">{% trans "Repetitions" %}:</label>

            <input name="reps"
                   id="id-reps"
                   placeholder="{% trans 'Repetitions' %}"
                   value="{% verbatim %}{{stepData.reps}}{% endverbatim %}"
                   type="number"
                   autocomplete="off"
                   class="form-control">

        </div>
        <div class="col-xs-6">
            <label for="id-weight">{% trans "Weight" %}:</label>

            <input name="weight"
                   id="id-weight"
                   placeholder="{% trans 'Weight' %}"
                   value="{% verbatim %}{{stepData.weight}}{% endverbatim %}"
                   type="number"
                   autocomplete="off"
                   class="form-control">
        </div>
    </div>
    </form>

    <div class="sub_header">
    <h2>

    {% verbatim %}
        {{stepData.reps}} × {{stepData.weight}}
    {% endverbatim %}
    </h2>
    </div>

    <div class="row bottom_buttons">
        <div class="col-xs-6">
            <a class="btn btn-default btn-block" href="#step/{% verbatim %}{{ page + 1 }}{% endverbatim %}">
                {% trans "Skip" %} <span class="glyphicon glyphicon-forward"></span>
            </a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-success btn-block" href="#">
                {% trans "Save" %} <span class="glyphicon glyphicon-save"></span>
            </a>
        </div>
    </div>

</div>
