{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Add your fitbit account" %}{% endblock %}

{% block content %}
<p>{% blocktrans trimmed %}
    To synchronize your fitbit weight data with wger click the button below. You
    will be redirected to an authorization page where you can grant wger
    permission to read your data.
    {% endblocktrans %}
</p>

<p>
    <a href="{{ fitbit_auth_link }}" class="btn btn-default">{% trans "Sync with Fitbit" %}</a>
</p>
{% endblock %}
