{% extends "base.html" %}
{% load browserid i18n staticfiles wger_extras %}

{% block title %}{% trans "Delete account" %}{% endblock %}


{% block header %}
{% browserid_css %}
{% endblock %}

{% block content %}

<form action="{{form_action}}"
      method="post"
      class="form-horizontal"
      role="form">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Are you sure?" %}</h4>
        </div>
        <div class="panel-body">
            {% with username=user_delete|format_username %}
            <p>{% blocktrans %}This action will delete the user account "{{username}}".
It will also  irrevocably remove all the data associated with it (workouts, logs, etc.)
and can't be undone. {% endblocktrans %}{% endwith %}</p>

                {% render_form_fields form 'tmp' False %}
                {% render_form_submit 'Delete' 'danger' %}
        </div>
    </div>
</form>

{% endblock %}


{% block sidebar %}
{% endblock %}
