{% extends "base.html" %}
{% load i18n static wger_extras crispy_forms_tags %}

{% block title %}{% translate "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}


{% block sidebar %}
<h4>{% translate "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}">
        <span class="{% fa_class 'sign-in-alt' %}"></span>
        {% translate "Register" %}
    </a>
</p>

<h4>{% translate "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" >
        <span class="{% fa_class 'key' %}"></span>
        {% translate "Reset password" %}
    </a>
</p>
{% endblock %}
