{% extends "base.html" %}
{% load i18n %}
{% load wger_extras %}

{% block title %}{% trans "Password reset confirmation" %}{% endblock %}


{% block content %}

{% if validlink %}
<h3>{% trans 'Enter new password' %}</h3>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action=""
      method="post"
      class="ym-form">
      {% csrf_token %}
      
      <table>
      {% yaml_form_field form.new_password1 %}
      {% yaml_form_field form.new_password2 %}
    <tr>
        <td colspan="2">
            <input type="submit" value="{% trans 'Change my password' %}" id="form-save">
        </td>
    </tr>
    </table>
</form>

{% else %}

<h3>{% trans 'Password reset unsuccessful' %}</h3>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}

{% endblock %}
