{% extends "base.html" %}
{% load i18n %}
{% load wger_extras %}

{% block title %}{% trans "Password reset confirmation" %}{% endblock %}


{% block content %}

{% if validlink %}
<h4>{% trans 'Enter new password' %}</h4>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action=""
      method="post"
      class="form-horizonal">
    {% trans 'Change my password' as submit_text %}
    {% render_form_fields form submit_text %}
</form>

{% else %}

<h4>{% trans 'Password reset unsuccessful' %}</h4>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}

{% endblock %}
