
{% load i18n static wger_extras crispy_forms_tags socialaccount %}



{% block sidebar %}
{% if user.is_anonymous %}
    <h4>{% trans "Already have an account?" %}</h4>
    <p>
        <a href="{% url 'core:user:login' %}">
            <span class="{% fa_class 'sign-in-alt' %}"></span>
            {% trans "Login" %}
        </a>
    </p>
    {% if oidc_enabled %}
        <p>
            {% provider_login_url oidc_provider_id as oidc_login_url %}
            <a href="{{ oidc_login_url }}">
                <span class="{% fa_class 'sign-in-alt' %}"></span>
                {% blocktranslate with name=oidc_provider_name %}Login using {{ name }}{% endblocktranslate %}
            </a>
        </p>
    {% endif %}
{% endif %}
{% endblock %}

