{% load i18n socialaccount %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="row mt-3">
    <div class="col-md-12 text-center">
        <h4>&mdash; {% translate "or login with" %} &mdash;</h4>

        {% for provider in socialaccount_providers %}
            <form method="post" action="{% provider_login_url provider %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary me-2 mb-2">
                    {{ provider.name }}
                </button>
            </form>
        {% endfor %}
    </div>
</div>
{% endif %}
