<div class="row">
  <div class="col-12">
    <app-weight-chart></app-weight-chart>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-3 font-weight-bold" i18n>Date</div>
          <div class="col-3 font-weight-bold" i18n>Weight</div>
          <div class="col-3 font-weight-bold" i18n>Change</div>
          <div class="col-2 font-weight-bold" i18n>Days</div>
          <div class="col-1"></div>
        </div>
      </li>
      <app-weight-detail
        [entry]="entry.entry"
        [dayDiff]="entry.dayDiff"
        [weightDiff]="entry.weightDiff"
        *ngFor="let entry of weightEntriesProcessed | slice: (page-1) * pageSize : page * pageSize"></app-weight-detail>
    </ul>

    <ngb-pagination
      [collectionSize]="weightEntriesProcessed.length"
      [pageSize]="pageSize"
      [(page)]="page"
      [boundaryLinks]="true"
      [ellipses]="true"
      [maxSize]="maxPageShown"
      class="d-flex justify-content-center mt-2"></ngb-pagination>
  </div>
</div>
