{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Weight units" %}{% endblock %}


{% block content %}
<ul class="list-group">
    {% for unit in object_list %}
    <li class="list-group-item ">
        {% if unit.id != 1 and unit.id != 2 %}
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                <span class="{% fa_class 'cog' %}"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="{% url 'core:weight-unit:edit' unit.id %}" class="wger-modal-dialog">{% trans 'Edit' %}</a>
                </li>
                <li>
                    <a href="{% url 'core:weight-unit:delete' unit.id %}" class="wger-modal-dialog">{% trans 'Delete' %}</a>
                </li>
            </ul>
        </div>
        {% endif %}
        {{unit}}
    </li>
    {% empty %}
        <li class="list-group-item">
            {% trans "Nothing found" %}
        </li>
    {% endfor %}
</ul>
{% endblock %}




{#         #}
{# Options #}
{#         #}
{% block options %}
{% if perms.core.add_license %}
   <a href="{% url 'core:weight-unit:add' %}" class="btn btn-success btn-sm wger-modal-dialog">
   {% trans "Add" %}
   </a>
{% endif %}
{% endblock %}
