{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Languages" %}{% endblock %}


{% block content %}
<table class="table">
<thead>
    <tr>
        <th>{% trans "Language short name" %}</th>
        <th>{% trans "Language full name" %}</th>
    </tr>
</thead>
<tbody>
{% for language in language_list %}
    <tr>
        <td>{{language.short_name}}</td>
        <td><a href="{% url 'config:language:view' language.id %}">{{language.full_name}}</a></td>
    </tr>
{% endfor %}
</tbody>

</table>
{% endblock %}



{% block sidebar %}
<h4>{% trans "Options" %}</h4>
<p>
    <a href="{% url 'config:language:add' %}" {% auto_link_css flavour "wger-modal-dialog" %}>
        <img src="{% static 'images/icons/folder-new.svg' %}"
             width="32"
             height="32"
             alt="{% trans 'Add' %}"
             >
        {% trans "Add" %}
    </a>
</p>
{% endblock %}
