{% extends "base.html" %}
{% load i18n %}

<!--
        Title
-->
{% block title %}{% trans "Search results" %}- &quot;{{ search_term }}&quot;{% endblock %}


<!--
        Main Content
-->
{% block content %}
<form action="{% url wger.exercises.views.exercise_search %}"
      method="get"
      id="exercise_search_form">
    {% csrf_token %}
    <input name="term" id="exercise-search">
</form>

<ul>
{% for exercise in exercises %}
    <li><a href="{% url wger.exercises.views.exercise_view exercise.id %}">{{ exercise.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{% endblock %}
