/*
    This file is part of Workout Manager

    Workout Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Workout Manager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
*/

/**************************************************************
 *
 * This file contains custom classes and styles for the mobile version
 *
 **************************************************************/


/* Use Open Sans for the body text */
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.ui-body-c .ui-link{
    font-weight: normal;
}

/*
 * Links in warning boxes get a different style, the default blue doesn't match
 * well with orange
 */
div.success a.ui-link, div.success a.ui-link:hover, div.success a.ui-link:active,
div.warning a.ui-link, div.warning a.ui-link:hover, div.warning a.ui-link:active,
div.info a.ui-link, div.info a.ui-link:hover, div.info a.ui-link:active{
    /*color: black;*/
    text-decoration: underline;
    background-color: transparent;
}

/*
 * Copied from YAML's typography.css file
 */
.box {
    border-radius: 0.3em;
    border-width: 1px;
    border-style: solid;
    border-color: #888;
    border-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
    /*color: #444;*/
    color: rgba(0,0,0,.8);
    padding: 1.4286em;
    margin: 1.5em 0 0 0;
}

.dimmed {
    color:#888;
}


table {
    width:100%;
    border-collapse:collapse;
    margin: 1.3571em 0 0 0;
    color:#333;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

table.bordertable {
    border:1px #ccc solid;
}

.bordertable thead th {
    background:#e0e0e0;
    border-right:1px #ccc solid;
    border-bottom:1px #ccc solid;
    text-align: left;
}

.bordertable tbody th[scope="row"] {
    background:#f0f0f0;
}

tbody th {
    text-align: left;
    border-top:1px solid #ccc;
    text-align:left;
}

.bordertable tbody th {
    border-right:1px solid #ccc;
}

tbody td {
    text-align: left;
    border-top:1px solid #ccc;
}

.bordertable tbody td {
    border-right:1px solid #ccc;
}


/*
 * Set the sizes for the background where the muscles are shown on the exercise view page
 */
div.muscle-background
{
    width: 200px;
    height: 369px;
    background-repeat: no-repeat;
}


/**************************************************************
 * Muscle overview
 **************************************************************/
.muscle-list, .exercise-overview{
    padding-left: 0px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
	font-weight: 300;
}


/**************************************************************
 * Header
 **************************************************************/

/*
 * Add a shadow to the application name
 */
header h1{
    text-shadow: 2px 3px 3px #292929;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

