# Git
.git
.gitignore

# Docker
Dockerfile*
.dockerignore

# Python
__pycache__/
*.pyo
*.pyd
.venv
venv
*.sqlite3
*.egg-info

# IDE / OS specific
.idea/
.vscode/
*.swp
.DS_Store

# Other files and folders
/coverage.lcov
/media/
/static/
/db/
/dist/
/node_modules/
/wger.egg-info
/npm-debug.log*
/extras/open-food-facts/dump/
/extras/authors/commits_cache/
/extras/authors/*.md
/extras/scripts/*.json
