# Compiled files and co.
*.pyc
*.swp
*~

# Database
*.sqlite

# Local settings
settings.py

# Package building
*.egg-info
build/*
dist/*
versiontools*

# Unit test / coverage reports
.coverage
htmlcov

# Editor, etc. configs
.idea/*
/CACHE
