include README.rst
include AUTHORS.txt
include AGPL.txt
include CC-BY-SA.txt
include requirements.txt

recursive-include wger *.*
recursive-exclude wger *.pyc
recursive-exclude wger *.swp
recursive-exclude wger *~