# Files in root folder
include README.rst
include AUTHORS.txt
include AGPL.txt
include CC-BY-SA.txt
include requirements.txt
include requirements_dev.txt

# Application folder as well as extras
recursive-include extras *.*
recursive-include wger *.*
recursive-exclude wger *.pyc
recursive-exclude wger *.swp
recursive-exclude wger *~
include extras/docker/*/Dockerfile

# Documentation
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
