#
# Common requirements for wger
#

# Application
bleach[css]~=6.0
crispy-bootstrap5==0.7

# this is a fork of django-bootstrap-breadcrumbs
# we might need to think about migrating away from this completely
django-bootstrap-breadcrumbs2==1.0.0
django-formtools~=2.4
django-recaptcha~=3.0.0
Django==4.1.7
django-activity-stream==1.4.2
django-axes==5.41.1
django-crispy-forms~=2.0
crispy-bootstrap4==2022.1
# note: bs3 can be deleted when we solve https://github.com/wger-project/wger/issues/1127
crispy-bootstrap3==2022.1
django-simple-history~=3.3
django-email-verification~=0.3.1
django_compressor~=4.3
django_extensions~=3.2
django-storages~=1.13
django-environ==0.10.0
easy-thumbnails==2.8.5
fontawesomefree~=6.4.0
icalendar==5.0.5
invoke==2.1.2
pillow==9.5.0
reportlab==4.0.0
requests==2.29.0
tzdata==2023.3
celery[redis]==5.2.7
flower==1.2.0


# AWS
#boto3

# REST API
django-cors-headers==4.0.0
django-filter==23.2
djangorestframework~=3.14
djangorestframework-simplejwt[crypto]==5.2.2

# Not used anymore, but needed because some modules are imported in DB migration
# files
django-sortedm2m~=3.1
