#
# Requirements for wger during development only
#

# Regular packages
-r requirements.txt

# Building/installing
wheel==0.44.0

# for ingredient import script from OFF
pymongo==4.7.1

# for running the dummy entry generators
faker==26.0.0

# Development packages
django-extensions~=3.2
coverage==7.5.4
django-debug-toolbar==4.4.5
isort==5.13.2
ruff==0.6.2
tblib==3.0.0
