#
# Requirements for wger for production
#

bleach
django-bootstrap-breadcrumbs
django-bower
django-formtools>=1.0,<1.1
django-recaptcha
django-sortedm2m
Django>=1.9,<1.10
django_compressor
django_mobile
easy-thumbnails
icalendar
invoke>=0.14,<0.15
pillow
python-mimeparse
reportlab>=3.3,<3.4
requests
sphinx

# REST API
django-cors-headers
django-filter
django-tastypie>=0.13,<0.14
djangorestframework>=3.2,<3.3

# Python3 compatibility
six
