#
# Requirements for wger for production
#

Django>=1.6,<1.7
django-browserid==0.11
django-recaptcha
reportlab
django_mobile
bleach
south < 2.0
python-mimeparse
pillow
easy-thumbnails
django_compressor
icalendar
django-bootstrap-breadcrumbs

# REST API
djangorestframework==2.3.13
django-filter
django-tastypie==0.9.16
django-cors-headers

# Python3 compatibility
six
