{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load manager_extras %} 


{% block title %}{% trans "Weight entry" %}{% endblock %}


{% block header %}
{% if language.short_name == 'de' %}
<script src="{% static 'js/jquery.ui.datepicker-de.js' %}"></script>
{% endif %}

<script>
$(document).ready(function () {
        init_weight_datepicker();
    });
</script>
{% endblock %} 


<!--
        Main Content
-->
{% block content %}

<h2>{% trans "Weight entry" %}</h2>


<form action="{% url wger.weight.views.add weight.id %}"
      method="post"
      class="ym-form">
{% csrf_token %}
{{ weight_form.non_field_errors }}
<table>
    {% yaml_form_field weight_form.weight %}
    {% yaml_form_field weight_form.creation_date %}
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" id="form-save"></td>
        <td></td>
    </tr>
</table>
</form>


{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{% endblock %}
