{% extends "base.html" %}
{% load wger_extras %}
{% load i18n %}

{% block title %}{% trans "Import weight logs" %}{% endblock %}

{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal">

    {% trans 'Submit' as submit_text %}
    {% render_form_fields form submit_text %}
</form>
{% endblock %}


{% block sidebar %}
<p>{% blocktrans %}Use this import field to import your weight logs into Workout
Manager.{% endblocktrans %}</p>

<p>{% blocktrans %}You can copy and paste from your spreadsheet into the text input,
the system will try to guess the format to import. The only things to consider is
that the first column is the <strong>date</strong>, the second the <strong>weight</strong>.
All further columns are ignored. There is a 1000 row limit.
{% endblocktrans %}</p>

<p>{% blocktrans %}If there are errors, you can correct or discard them in a
second step.{% endblocktrans %}</p>

{% endblock %}
