{% extends "base.html" %}
{% load i18n static wger_extras %}

{#       #}
{# Title #}
{#       #}
{% block title %}{% translate "Weight overview" %}{% endblock %}

{#        #}
{# Header #}
{#        #}
{% block header %}
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'angular/en/styles.css' %}">
    -->

    <script src="{% static 'angular/en/runtime.js' %}" defer></script>
    <script src="{% static 'angular/en/polyfills.js' %}" defer></script>

    {# Manually load the appropriate language if it's available #}
    {% if language.short_name in languages_angular %}
        {% with 'angular/'|add:language.short_name|add:"/main.js" as test %}
        <script src="{% static test %}" defer></script>
        {% endwith %}
    {% else %}
        <script src="{% static 'angular/en/main.js' %}" defer></script>
    {% endif %}
{% endblock %}



{#         #}
{# Content #}
{#         #}
{% block content %}



<app-root></app-root>


{% endblock %}


{#          #}
{# Side bar #}
{#          #}
{% block sidebar %}
{% endblock %}



{#         #}
{# Options #}
{#         #}
{% block options %}
{% if is_owner %}
<div class="btn-group">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="{% fa_class 'cog' %}"></span>
            {% translate "Options" %}
        </button>

        <div class="dropdown-menu">
            <a href="{% url 'weight:export-csv' %}" target="_blank" class="dropdown-item">
                <span class="{% fa_class 'download' %}"></span>
                {% translate "Export as CSV" %}
            </a>
            <a href="{% url 'weight:import-csv' %}" class="dropdown-item">
                <span class="{% fa_class 'upload' %}"></span>
                {% translate "Import from spreadsheet" %}
            </a>
        </div>
    </div>
</div>
<a href="{% url 'weight:add' %}" class="btn btn-success btn-sm wger-modal-dialog">
    {% translate "Add" %}
</a>
{% endif %}
{% endblock %}
