{% extends "base.html" %}
{% load i18n static wger_extras %}

{#       #}
{# Title #}
{#       #}
{% block title %}{% translate "Weight overview" %}{% endblock %}

{#        #}
{# Header #}
{#        #}
{% block header %}
<script src="{% static 'js/weight.js' %}"></script>
{% endblock %}



{#         #}
{# Content #}
{#         #}
{% block content %}
<div id="current-username" data-current-username="{{ owner_user.username }}"></div>


{% if not min_date %}
<p>
    {% translate "There is no chart here because there are no weight entries." %}
    {% translate "Use link to add one." %}
</p>
{% endif %}

<div id="weight_diagram"></div>
<br>
<input id="height" placeholder="{% translate "height in cm" %}" type="number">
<input id="enable_bmi" type="button" value="BMI">

<div class="btn-group modify-time-period-controls float-right" role="group" aria-label="..." style="padding-bottom: 1em;">
    <button type="button" class="btn btn-light" data-time_period="90">{% translate "Last 3 months" %}</button>
    <button type="button" class="btn btn-light" data-time_period="365">{% translate "Last 12 months" %}</button>
    <button type="button" class="btn btn-light active" data-time_period="all">{% translate "No filter" %}</button>
</div>


{% if is_owner %}
{% if last_five_weight_entries_details %}
<table class="table">
    <tr>
        <th>{% translate 'Date' %}</th>
        <th>{% translate 'Weight' %}</th>
        <th>{% translate 'Change' context "Noun, not verb" %}</th>
        <th>{% translate 'Days' %}</th>
    </tr>
    {% for entry_detail in last_five_weight_entries_details %}
        <tr>
            <td>{{ entry_detail.0.date }}</td>
            <td>{{ entry_detail.0.weight }}</td>
            <!-- weight diff and day diff below -->
            <td>
                {% if entry_detail.1 > 0 %}
                    +
                {% endif %}
                {% if entry_detail.1 %}
                    {{ entry_detail.1 }}
                {% else %}
                    -/-
                {% endif %}
            </td>
            <td>
                {% if entry_detail.2 %}
                    {{ entry_detail.2 }}
                {% else %}
                    -/-
                {% endif %}
            </td>
            <td>
                <div class="btn-group" role="group" >
                    <div class="btn-group" role="group">
                        <button id="btnGroupWorkout" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupWorkout">
                            <a href="{% url 'weight:edit' entry_detail.0.id %}" class="dropdown-item wger-modal-dialog">
                               <span class="{% fa_class 'edit' %}"></span>
                               {% translate "Edit weight" %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'weight:delete' entry_detail.0.id %}" class="dropdown-item wger-modal-dialog">
                                <span class="{% fa_class 'trash' %}"></span>
                                {% translate "Delete" %}
                            </a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endif %}

{% endblock %}


{#          #}
{# Side bar #}
{#          #}
{% block sidebar %}
{% endblock %}



{#         #}
{# Options #}
{#         #}
{% block options %}
{% if is_owner %}
<div class="btn-group">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="{% fa_class 'cog' %}"></span>
            {% translate "Options" %}
        </button>

        <div class="dropdown-menu">
            <a href="{% url 'weight:export-csv' %}" target="_blank" class="dropdown-item">
                <span class="{% fa_class 'download' %}"></span>
                {% translate "Export as CSV" %}
            </a>
            <a href="{% url 'weight:import-csv' %}" class="dropdown-item">
                <span class="{% fa_class 'upload' %}"></span>
                {% translate "Import from spreadsheet" %}
            </a>
        </div>
    </div>
</div>
<a href="{% url 'weight:add' %}" class="btn btn-success btn-sm wger-modal-dialog">
    {% translate "Add" %}
</a>
{% endif %}
{% endblock %}
