{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{% trans "Gym list" %}{% endblock %}


{% block content %}

<ul class="list-group">
    {% for gym in gym_list %}
    <li class="list-group-item ">
        <div class="pull-right">
            <a href="{% url 'gym:gym:delete' gym.id %}"
               class="btn btn-danger btn-xs wger-modal-dialog">
                {% trans 'Delete' %}
            </a>
            <a href="{% url 'gym:gym:edit' gym.id %}"
               class="btn btn-default btn-xs wger-modal-dialog">
                {% trans 'Edit' %}
            </a>
        </div>
        <a href="{% url 'gym:gym:user-list' gym.pk %}">{{gym}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}




{% block sidebar %}
<h4>{% trans "Options" %}</h4>
{% if perms.core.add_gym %}
<p>
       <a href="{% url 'gym:gym:add' %}"
          {% auto_link_css flavour "wger-modal-dialog" %}>
       <img src="{% static 'images/icons/new.svg' %}"
            width="32"
            height="32"
            alt="{% trans 'Add new gym' %}"
            title="{% trans 'Add new gym' %}">
       {% trans "Add new gym" %}
       </a>
</p>
{% endif %}
{% if perms.gym.change_gymconfig %}
<p>
       <a href="{% url 'config:gymconfig-edit' %}"
          {% auto_link_css flavour %}>
       <img src="{% static 'images/icons/list.svg' %}"
            width="32"
            height="32"
            alt="{% trans 'Default gym configuration' %}"
            title="{% trans 'Default gym configuration' %}">
       {% trans "Default gym configuration" %}
       </a>
</p>
{% endif %}

{% endblock %}
