{% extends "base.html" %}
{% load i18n staticfiles wger_extras django_bootstrap_breadcrumbs %}

{% block title %}{{mod_user|format_username}}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    {% if perms.gym.manage_gyms %}
        {% breadcrumb "Gyms" "gym:gym:list" %}
        {% breadcrumb_raw mod_user.userprofile.gym "gym:gym:user-list" mod_user.userprofile.gym.pk %}
        {% breadcrumb_raw mod_user.get_full_name "gym:gym:edit-user-permission" mod_user.pk %}
        {% breadcrumb "Reset user password" "gym:gym:reset-user-password" %}
    {% endif %}
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <th>{% trans "User" %}</th>
        <td>{{mod_user.get_full_name}} ({{mod_user}})</td>
    </tr>
    <tr>
        <th>{% trans "Password" %}</th>
        <td>{{password}}</td>
    </tr>
</table>
{% endblock %}

{% block sidebar %}
<p>
    {% blocktrans %}This user's password has been reset. Please notify the user of their new password.{% endblocktrans %}
</p>
{% endblock %}
