{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{{mod_user|format_username}}{% endblock %}


{% block content %}
<table class="table">
    <tr>
        <th>{% trans "User" %}</th>
        <td>{{mod_user.get_full_name}} ({{mod_user}})</td>
    </tr>
    <tr>
        <th>{% trans "Password" %}</th>
        <td>{{password}}</td>
    </tr>
</table>
{% endblock %}




{% block sidebar %}
<h4>{% trans "Info" %}</h4>
<p>
    {% blocktrans %}This user's password has been reset. Please notify the user of their new password.{% endblocktrans %}
</p>

<h4>{% trans "Options" %}</h4>
<p>
<a href="{% url 'gym:gym:user-list' mod_user.userprofile.gym.pk %}" {% auto_link_css flavour %}>
    <img src="{% static 'images/icons/list.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Back to overview' %}">
    {% trans "Back to gym" %}
</a>
</p>
{% endblock %}
