{% extends "base.html" %}
{% load i18n %} 
{% load staticfiles %}
{% load manager_extras %} 

{% block title %}{% trans "Weight log for workout" %} – {{ workout.creation_date }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h2>{% trans "Weight log for workout" %} {{ workout.id }}</h2>


{% if workout.comment %}
<p>
    <strong>{% trans "Goal" %}:</strong>
    <span class="dimmed">{{workout.comment}}</span>
</p>
{% endif %}

{% regroup workout.workoutlog_set.all by date as workout_log %}


{% for day in workout.day_set.select_related %}
    <div id="div-day-{{ day.id }}">
        <h3>{{ day.description }}</h3>
        {% for set in day.set_set.select_related %}
            {% for exercise in set.exercises.select_related %}
                <p><a href="{{ exercise.get_absolute_url }}">{{ exercise.name }}</a></p>
               
                <!-- Nested tables, ugh! -->
                <div style="overflow-x: auto;">
                <table class="noborder" style="border: 0 none;">
                    <tr>
                    {% for day in workout_log %}
                        
                        <td style="padding: 0em; border-top-width: 0px;">
                            <table class="narrow" style="width: 7em;">
                                <tr>
                                    <th>{{day.grouper|date:"d.m.Y" }}</th>
                                </tr>
                                {% for entry in day.list %}
                                <tr>
                                    {% if entry.exercise == exercise %}
                                        <td>{{entry.reps}} {% trans "Reps" %} × {{entry.weight}}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    {% endfor %}
                    </tr>
                </table>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% empty %}
<div class="box warning">
    {% trans "No days for this workout." %}
    <a href="{% url day-add workout.id %}" class="modal-dialog">
    {% trans "Add training day." %}
    </a>
</div>
{% endfor %}



<table class="bordertable narrow">
<thead>
    <tr>
        <th>Name</th>
        <th>Datum</th>
        <th>Reps</th>
        <th>Weight</th>
    </tr>
</thead>
{% for log_entry in workout.workoutlog_set.all %}
    <tr>
        <td>{{log_entry.exercise.name}}</td>
        <td>{{log_entry.date}}</td>
        <td>{{log_entry.reps}}</td>
        <td>{{log_entry.weight}}</td>
    </tr>
{% endfor %}
</table>


{% endblock %}



<!--
        Side bar
-->
{% block sidebar %}
<h3>{% trans "Options" %}</h3>
<p>
<a href="{% url workout-view workout.id %}">
    {% trans "Back to workout" %}
</a>
</p>
{% endblock %}
