{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{% trans "Your workouts" %}{% endblock %}


{% block content %}

<h2>{% trans "Your workouts" %}</h2>

<ul>
{% for workout in workouts %}
    <li>
        <a href="{% url manager.views.view_workout workout.id %}">
            {% if workout.comment %}
                {{ workout.comment }}
            {% else %}
                {% trans "Workout plan" %}
            {% endif %}
        </a>
        – {{ workout.creation_date }} 
    </li>
{% empty %}
    <li>
        <div class="box warning">
            {% trans "No workouts found." %} {% trans "Use link to add one." %}
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}


{% block sidebar %}
<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url manager.views.add %}">
    <img src="{% static 'images/icons/new.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Add workout' %}"
         title="{% trans 'Add workout' %}">
    {% trans "Add workout" %}</a>
</p>
{% endblock %}