{% extends "base.html" %}
{% load i18n %} 
{% load manager_extras %} 

{% block title %}{% trans "Workout for" %} {{ workout.creation_date }}{% endblock %}

{% block content %}
<h2> {% trans "Workout for" %} {{ workout.creation_date }}</h2>


{% for day in workout.day_set.select_related %}
<table class="bordertable">
<thead>
    <tr>
        <th>{{ day.description }}<!--(Day-ID: {{ day.id }})--></th>
        <th style="text-align:right">
            <div class="editoptions">
                <a href="{% url manager.views.delete_day workout.id day.id %}"
                   title="{% trans "Delete" %}">[x]</a>
                <a href="{% url manager.views.edit_day workout.id day.id %}"
                   title="{% trans "Edit" %}">[e]</a>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
        {% for set in day.set_set.select_related %}
        <tr>
            <td >{{ set.order }}<br> <!--(Set-ID: {{ set.id }})-->
                <div class="editoptions">
                    <a href="{% url manager.views.delete_set workout.id day.id set.id %}"
                       title="{% trans "Delete" %}">[x]</a>
                    <a href="{% url manager.views.edit_set workout.id day.id set.id %}"
                       title="{% trans "Edit" %}">[e]</a>
                </div>
            </td>
            <td>
                <ul>
                {% for exercise in set.exercises.select_related %}
                    <li>
                        {{ exercise }}: <!--(exercise-ID: {{ exercise.id }})-->
                        

                        <!-- Comments to the exercise -->
                        <!--
                        {% for comment in exercise.exercisecomment_set.all %}
                            {{comment}}
                        {% endfor %}
                        -->

                        {{ set.sets }} x <!--(Set-ID: {{ set.id }})-->

                        {% comment %}
                            get_current_settings only does a exercise.setting_set.filter(sets_id=set_id)
                        {% endcomment %}
                        {% for setting in exercise|get_current_settings:set.id %}
                            {{ setting.reps }}
                            {% if not forloop.last %} – {% endif %}
                        {% empty %}
                            <div class="box warning">
                                {% trans "No settings for this exercise." %} {% trans "Use link to add one." %}
                            </div>
                        {% endfor %} <!--for setting in exercise-->
                        <div class="editoptions">
                            <a href="{% url manager.views.edit_setting workout.id set.id exercise.id None %}"
                               title="{% trans "Edit" %}">[e]</a>
                            <a href="{% url manager.views.edit_setting workout.id set.id exercise.id None %}"
                               title="{% trans "Delete" %}">[x]</a>
                        </div>
                    </li>
                {% endfor %} <!--for exercise in set-->
                </ul>
        {% empty %}
        <tr>
            <td colspan="2">
                <div class="box warning">
                {% trans "No sets for this day." %} {% trans "Use link to add one." %}
                </div>
        {% endfor %} <!--for set in day-->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{% url manager.views.edit_set workout.id day.id None %}">{% trans "Add workout set" %}</a>
            </td>
        </tr>
    </tbody>
</table>

{% empty %}
<p class="box warning">
    {% trans "No days for this workout." %} {% trans "Use link to add one." %}
</p>
{% endfor %}


<p><a href="{% url manager.views.edit_day workout.id day.id %}">{% trans "Add training day" %}</a></p>
<p><a href="{% url manager.views.delete_workout workout.id %}">{% trans "Delete this workout" %}</a></p>

{% endblock %} <!--day in workout-->



<!--
        Side bar
-->
{% block sidebar %}
<h3>{% trans "Steps" %}</h3>
<ol>
    <li>{% trans "Days" %}</li>
    <li>{% trans "Sets on days" %}</li>
    <li>{% trans "Exercises on set" %}</li>
    <li>{% trans "Settings for set" %}</li>
</ol>

<h3>{% trans "Options" %}</h3>
<a href="{% url manager.views.pdf_workout workout.id %}">{% trans "Download as PDF" %}</a>

{% endblock %}
