<form [formGroup]="group" (ngSubmit)="onSubmit()">

  <div class="form-row">
    <div class="col">
          <label for="date">Date</label>
          <input
            type="date"
            id="date"
            formControlName="date"
            class="form-control">
        </div>

      <div class="col">
          <label for="weight">Weight</label>
          <input
            type="text"
            id="weight"
            formControlName="weight"
            class="form-control">
      </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="group.invalid">Save
      </button>
    </div>
  </div>

</form>
