{% load i18n %}

{% if not user.userprofile.has_exercise_permission %}
<h4>{% translate "Submitting an ingredient" %}</h4>
<p><strong>{% blocktranslate %}Thank you for submitting an ingredient. This is much
appreciated!{% endblocktranslate %}</strong></p>

<p>{% blocktranslate %}After you submit the form, the administrators will be notified.
Once it is reviewed, it will be added to the database. Till this happens,
it will not be visible in the overview or the search. In case you added your email
when you registered, you will get notified when the process is completed sucessfully.{% endblocktranslate %}</p>
{% endif %}
