{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{% trans "Ingredients pending review" %}{% endblock %}


{% block content %}

<table class="table">
<thead>
<tr>
    <th>{% trans "Submission date" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "User" %}</th>
</tr>
</thead>
<tbody>
{% for ingredient in ingredient_list %}
<tr>
    <td>
        {{ingredient.creation_date}}
    </td>
    <td><a href="{{ ingredient.get_absolute_url }}">{{ingredient.name}}</a></td>
    <td>{{ingredient.user.username}}</td>
</tr>
{% empty %}
<tr>
    <td colspan="2">{% trans "Nothing found" %}</td>
</tr>
{% endfor %}
</tbody>

</table>
<div style="padding-top:3em;"></div>
{% endblock %}
