{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block header %}
<style>
div.table {
    display:table;
    margin-top: 1em;
}
div.table > div {
    display:table-row;
}
div.table > div > div {
    display:table-cell;
    padding-left: 1em;
    /*width:50%;*/
}
div.bmi-legend {
    width:1em;
    height:1em;
}
</style>

<script>
$(document).ready(function() {

    $("#bmi-form").click(function(e){
        e.preventDefault();
        var url = $("#bmi-form").attr( 'action' );

        $.post(url,
               $("#bmi-form").serialize(),
               function(data) {
                   console.log(data);

                   $('#bmi-result-container').show();
                   $('#bmi-result-value').html(data.bmi);

                   //$('.result').html(data);
               });
    });

 });
</script>
{% endblock %}

<!--
        Title
-->
{% block title %}{% trans "BMI calculator" %}{% endblock %}


<!--
        Main Content
-->
{% block content %}
<form action="{% url 'bmi-calculate' %}"
      method="post"
      class="ym-form"
      id="bmi-form">
{% csrf_token %}

{% if form.non_field_errors %}
<div class="ym-fbox-text ym-error">
    {% for error in form.non_field_errors %}
        <p class="ym-message">{% trans error %}</p>
    {% endfor %}
</div>
{% endif %}

<table>
    {% for current_field in form %}
        {% if current_field.name in select_lists %}
            {% yaml_form_field current_field "ym-fbox-select" %}
        {% else %}
            {% yaml_form_field current_field %}
        {% endif %}
    {% endfor %}
    <tr>
        <td colspan="2">
            <input type="submit" value="{% trans 'Calculate' %}" id="form-save">
        </td>
    </tr>
</table>
</form>

<div id="bmi-result-container" style="display:hidden;">
    <h3>{% trans 'Results' %}</h3>
    <p>{% trans 'You BMI is: ' %} <span id="bmi-result-value">-/-</span></p>
</div>


<div class="ym-grid linearize-level-1">
    <div class="ym-g75 ym-gl">
        <div class="ym-gbox-left">
            <img width="479"
                 height="300"
                 title="{% trans 'BMI' %}"
                 alt="{% trans 'BMI' %}"
                 src="{% static 'images/bmi.svg' %}"
                 style="margin-top:3em;"></img>
        </div>
    </div>
    <div class="ym-g25 ym-gl">
        <div class="ym-gbox-left">
            <h3>{% trans "Legend" %}</h3>
            <div class="table">
                <div>
                    <div><div class="bmi-legend" style="background-color:#800000;">&nbsp;</div></div>
                    <div>{% trans "Adipositas Grad III" %}</div>
                </div>
                <div>
                    <div><div class="bmi-legend"  style="background-color:#ff0000;">&nbsp;</div></div>
                    <div>{% trans "Adipositas Grad II" %}</div>
                </div>
                <div>
                    <div><div class="bmi-legend"  style="background-color:#ff7f2a;">&nbsp;</div></div>
                    <div>{% trans "Adipositas Grad I" %}</div>
                </div>
                <div>
                    <div><div class="bmi-legend"  style="background-color:#ffff00;">&nbsp;</div></div>
                    <div>{% trans "Übergewicht" %}</div>
                </div>
                <div>
                    <div><div class="bmi-legend"  style="background-color:#00ff00;">&nbsp;</div></div>
                    <div>{% trans "Normalgewicht" %}</div>
                </div>
                <div>
                    <div><div class="bmi-legend"  style="background-color:#00ffff;">&nbsp;</div></div>
                    <div>{% trans "Leichtes Untergewicht" %}</div>
                </div>
                <div>
                    <div><div class="bmi-legend"  style="background-color:#0000ff;">&nbsp;</div></div>
                    <div>{% trans "Mäßiges Untergewicht" %}</div>
                </div>
                <div>
                    <div><div class="bmi-legend"  style="background-color:#000080;">&nbsp;</div></div>
                    <div>{% trans "Starkes Untergewicht" %}</div>
                </div>
            </div>
        </div>
    </div>
</div>



<h3>{% trans "Legend" %}</h3>
<div class="table">
    <div>
        <div><div class="bmi-legend" style="background-color:#800000;">&nbsp;</div></div>
        <div>{% trans "Adipositas Grad III" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend"  style="background-color:#ff0000;">&nbsp;</div></div>
        <div>{% trans "Adipositas Grad II" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend"  style="background-color:#ff7f2a;">&nbsp;</div></div>
        <div>{% trans "Adipositas Grad I" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend"  style="background-color:#ffff00;">&nbsp;</div></div>
        <div>{% trans "Übergewicht" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend"  style="background-color:#00ff00;">&nbsp;</div></div>
        <div>{% trans "Normalgewicht" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend"  style="background-color:#00ffff;">&nbsp;</div></div>
        <div>{% trans "Leichtes Untergewicht" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend"  style="background-color:#0000ff;">&nbsp;</div></div>
        <div>{% trans "Mäßiges Untergewicht" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend"  style="background-color:#000080;">&nbsp;</div></div>
        <div>{% trans "Starkes Untergewicht" %}</div>
    </div>
</div>

{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{% if sidebar %}{% include sidebar %}{% endif %}{% endblock %}
