{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<style>
div.table {
    display:table;
    margin-top: 1em;
}
div.table > div {
    display:table-row;
}
div.table > div > div {
    display:table-cell;
    padding-left: 1em;
}
div.bmi-legend {
    width:1em;
    height:1em;
}
</style>


<script>
$(document).ready(function () {

    wgerRenderBodyMassIndex();

    /*
     * Process the form
     */
    $("#submit-id-submit").click(function(e){
        e.preventDefault();
        wgerRenderBodyMassIndex();
    });

});
</script>




{% endblock %}

<!--
        Title
-->
{% block title %}{% translate "BMI calculator" %}{% endblock %}


<!--
        Main Content
-->
{% block content %}

{% crispy form %}


<div id="bmi-result-container" style="display:none;">
    <h3>{% translate 'Results' %}</h3>
    <p>{% translate 'Your BMI is: ' %} <strong><span id="bmi-result-value">{{user.userprofile.calculate_bmi|floatformat:1}}</span></strong></p>
</div>



<div id="bmi-chart"></div>


<h4>{% translate "Legend" %}</h4>
<div class="table">
    <div>
        <div><div class="bmi-legend" style="background-color:#800000;">&nbsp;</div></div>
        <div>{% translate "Adipositas III" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend" style="background-color:#ff0000;">&nbsp;</div></div>
        <div>{% translate "Adipositas II" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend" style="background-color:#ff7f2a;">&nbsp;</div></div>
        <div>{% translate "Adipositas I" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend" style="background-color:#ffff00;">&nbsp;</div></div>
        <div>{% translate "Overweight" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend" style="background-color:#00ff00;">&nbsp;</div></div>
        <div>{% translate "Normal weight" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend" style="background-color:#00ffff;">&nbsp;</div></div>
        <div>{% translate "Slight underweight" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend" style="background-color:#0000ff;">&nbsp;</div></div>
        <div>{% translate "Moderate underweight" %}</div>
    </div>
    <div>
        <div><div class="bmi-legend" style="background-color:#000080;">&nbsp;</div></div>
        <div>{% translate "Strong underweight" %}</div>
    </div>
</div>


{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
<h4>Info</h4>
<p>
{% blocktranslate %}Use the form to calculate your BMI (Body Mass Index).
If you have entered data in the weight section, the last entry will
be used automatically. Otherwise the weight you enter here will be saved
in a new entry.{% endblocktranslate %}
</p>
{% endblock %}
