{% load i18n %}{% load cache %}{% load wger_extras %}
<div class="modal fade" id="language-options">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Language" %}</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    {% for language in languages %}
                        {% language_select language %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<nav id="nav">
    <div>
        <div class="navbar navbar-default" style="background-color: transparent; border-width: 0px;">
            <div class="container">

                <div class="navbar-collapse " id="main-navbar-navigation">
                    <ul class="nav navbar-nav">
                        {#          #}
                        {# User tab #}
                        {#          #}
                        <li>
                            <a href="{% url 'core:index' %}">
                                {% if active_tab == 'user' %}<strong>{% endif %}
                                {% trans "Dashboard" %}
                                {% if active_tab == 'user' %}</strong>{% endif %}
                            </a>
                        </li>


                        {#             #}
                        {# Workout tab #}
                        {#             #}
                        <li class="dropdown">
                            <a href="{% url 'workout-overview' %}"
                               rel="nofollow"
                               class="dropdown-toggle"
                               data-toggle="dropdown">
                                {% if active_tab == 'workout' %}<strong>{% endif %}
                                {% trans "Workouts" %} <b class="caret"></b>
                                {% if active_tab == 'workout' %}</strong>{% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'workout-overview' %}" rel="nofollow">{% trans "Workouts" %}</a></li>
                                <li><a href="{% url 'workout-calendar' %}" rel="nofollow">{% trans "Calendar" %}</a></li>
                                <li><a href="{% url 'schedule-overview' %}" rel="nofollow">{% trans "Workouts schedules" %}</a></li>
                            </ul>
                        </li>


                        {#               #}
                        {# Exercises tab #}
                        {#               #}
                        <li class="dropdown">
                            <a href="{% url 'exercise-overview' %}"
                               class="dropdown-toggle"
                               data-toggle="dropdown">
                                {% if active_tab == 'exercises' %}<strong>{% endif %}
                                {% trans "Exercises" %} <b class="caret"></b>
                                {% if active_tab == 'exercises' %}</strong>{% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'exercise-overview' %}">{% trans "Exercises" %}</a></li>
                                <li><a href="{% url 'muscle-overview' %}">{% trans "Muscle overview" %}</a></li>
                                <li><a href="{% url 'equipment-overview' %}">{% trans "Equipment overview" %}</a></li>
                                {% if user.is_authenticated and not user.userprofile.is_temporary %}
                                <li><a href="{% url 'exercise-add' %}">{% trans "Add new exercise" %}</a><li>
                                {% endif %}

                                {% cache cache_timeout user-admin-exercises user.id language.id %}
                                {% if perms.exercises %}
                                <li class="divider"></li>
                                <li class="nav-header">{% trans "Administration" %}</li>
                                <li><a href="{% url 'exercise-pending' %}">{% trans "Exercises pending review" %}</a></li>
                                <li><a href="{% url 'equipment-list' %}">{% trans "Equipment" %}</a></li>
                                {% endif %}
                                {% endcache %}
                            </ul>
                        </li>


                        {#            #}
                        {# Weight tab #}
                        {#            #}
                        <li class="dropdown">

                            <a href="{% url 'weight-overview' %}"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               rel="nofollow">
                                {% if active_tab == 'weight' %}<strong>{% endif %}
                                {% trans "Weight" %} <b class="caret"></b>
                                {% if active_tab == 'weight' %}</strong>{% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'weight-overview' %}" rel="nofollow">{% trans "Weight overview" %}</a></li>
                                <li><a href="{% url 'weight-add' %}" rel="nofollow">{% trans "Add weight entry" %}</a></li>
                            </ul>
                        </li>


                        {#               #}
                        {# Nutrition tab #}
                        {#               #}
                        <li class="dropdown">
                            <a href="{% url 'nutrition-overview' %}"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               rel="nofollow">
                                {% if active_tab == 'nutrition' %}<strong>{% endif %}
                                {% trans "Nutrition" %} <b class="caret"></b>
                                {% if active_tab == 'nutrition' %}</strong>{% endif %}
                            </a>
                            <ul class="dropdown-menu">
                            <li><a href="{% url 'nutrition-overview' %}" rel="nofollow">{% trans "Nutrition plans" %}</a></li>
                            <li><a href="{% url 'ingredient-list' %}">{% trans "Ingredient overview" %}</a></li>
                            <li><a href="{% url 'bmi-view' %}" rel="nofollow">{% trans "BMI calculator" %}</a></li>
                            <li><a href="{% url 'calories-calculator' %}" rel="nofollow">{% trans "Daily calories calculator" %}</a></li>
                            {% cache cache_timeout user-admin-ingredients user.id language.id %}
                            {% if perms.exercises %}
                                <li class="divider"></li>
                                <li class="nav-header">{% trans "Administration" %}</li>
                                <li><a href="{% url 'weight-unit-list' %}">{% trans "Ingredient weight units" %}</a></li>
                                <li><a href="{% url 'ingredient-pending' %}">{% trans "Ingredients pending review" %}</a></li>
                            {% endif %}
                            {% endcache %}
                            </ul>
                        </li>


                        {#              #}
                        {# Software tab #}
                        {#              #}
                        <li class="dropdown">
                            <a href=""
                               class="dropdown-toggle"
                               data-toggle="dropdown">
                                {% if active_tab == 'software' %}<strong>{% endif %}
                                {% trans "About this software" %} <b class="caret"></b>
                                {% if active_tab == 'software' %}</strong>{% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'software:features' %}">{% trans "Features" %}</a></li>
                                <li><a href="{% url 'software:contribute' %}">{% trans "Contribute!" %} </a></li>
                                <li><a href="{% url 'software:issues' %}">{% trans "Problems and wishes" %} </a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'software:code' %}">{% trans "Get the code" %} </a></li>
                                <li><a href="{% url 'software:api' %}">{% trans "REST API" %} </a></li>
                                <li><a href="{% url 'software:license' %}">{% trans "License" %} </a></li>
                                <li><a href="{% url 'software:changelog' %}">{% trans "Changelog" %} </a></li>
                                <li><a href="https://github.com/rolandgeider/wger">{% trans "Github" %} </a></li>
                                <li><a href="https://www.transifex.com/projects/p/wger-workout-manager/">{% trans "Translate with Transifex" %} </a></li>
                                {% cache cache_timeout user-admin-software user.id language.id %}
                                {% if perms.exercises %}
                                <li class="divider"></li>
                                <li class="nav-header">{% trans "Administration" %}</li>
                                <li><a href="{% url 'config:language-overview' %}">{% trans "Languages" %} </a></li>
                                <li><a href="{% url 'core:license-list' %}">{% trans "Licenses" %} </a></li>
                                {% endif  %}
                                {% endcache %}
                            </ul>
                        </li>

                        {#                     #}
                        {# Options and contact #}
                        {#                     #}
                        <li class="dropdown">
                            <a href=""
                               class="dropdown-toggle"
                               data-toggle="dropdown">{% trans "Options" %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                {# Contact #}
                                <li><a href="{% url 'core:contact' %}">{% trans "Get in touch" %}</a></li>
                                <li><a href="{% url 'core:about' %}">{% trans "About" %}</a></li>

                                {# Language #}
                                <li><a href="#language-options" data-toggle="modal">{% trans "Language" %}</a></li>
                            </ul>
                        </li>



                        {#             #}
                        {# Options tab #}
                        {#             #}
                        {% if not user.is_authenticated or user.userprofile.is_temporary %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans "Login" %} / {% trans "Register" %}
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'core:login' %}">{% trans "Login" %}</a></li>
                                <li><a href="{% url 'core:registration' %}">{% trans "Register" %}</a></li>
                                <li><a href="{% url 'core:password_reset' %}">{% trans "Reset password" %}</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if user.email %}
                                {{user.email}}
                            {% else %}
                                {{user.username}}
                            {% endif %}
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'core:preferences' %}">{% trans "My preferences" %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'core:logout' %}" class="browserid-logout">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    {% trans "Logout" %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>


                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</nav>

