{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Edit ingredient" %}{% endblock %}


{% block content %}

<h2>{% trans "Edit ingredient" %}</h2>

<form action="{% url nutrition.views.ingredient_edit ingredient.id %}"
      method="post"
      class="ym-form">
{% csrf_token %}
{{ form.non_field_errors }}
<table>
    {% include "form_snippet.html" with field=form.name %}
    {% include "form_snippet.html" with field=form.energy %}
    {% include "form_snippet.html" with field=form.protein %}
    {% include "form_snippet.html" with field=form.carbohydrates %}
    {% include "form_snippet.html" with field=form.carbohydrates_sugar %}
    {% include "form_snippet.html" with field=form.fat %}
    {% include "form_snippet.html" with field=form.fat_saturated %}
    {% include "form_snippet.html" with field=form.fibres %}
    {% include "form_snippet.html" with field=form.sodium %}
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" /></td>
        <td></td>
    </tr>
</table>
</form>



{% endblock %}
