{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Edit meal" %}{% endblock %}


{% block header %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/workout-manager.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    // Init the autocompleter
    $("#id_ingredient_freetext").autocomplete({
        source: "{% url nutrition.views.ingredient_search %}",
        minLength: 2,
        select: function(event, ui) {
            
            // TODO: do something with the result
            // result ID can be accessed with ui.item.id
        }
    });
});
</script>
{% endblock %}




{% block content %}

<h2>{% trans "Edit meal" %}</h2>

<form action="{% url nutrition.views.edit_meal_item plan.id meal.id meal_item.id%}"
      method="post"
      class="ym-form">
{% csrf_token %}
{{ form.non_field_errors }}
<table>
    {% include "form_snippet.html" with field=form.amount_gramm %}
    {% include "form_snippet.html" with field=form.amount_freetext %}
    {% comment %}
    {% include "form_snippet.html" with field=form.ingredient css_class="ym-fbox-select" %}
    {% endcomment %}
    {% include "form_snippet.html" with field=form.ingredient_freetext %}
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" /></td>
        <td></td>
    </tr>
</table>
</form>



{% endblock %}
