{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Edit meal" %}{% endblock %}


{% block header %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/workout-manager.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    // Init the autocompleter
    init_ingredient_autocompleter();
});
</script>
{% endblock %}




{% block content %}

<h2>{% trans "Edit meal" %}</h2>

<form action="{% url nutrition.views.edit_meal_item plan.id meal.id meal_item.id%}{% if js_active %}?js=on{% endif %}"
      method="post"
      class="ym-form">
{% csrf_token %}
{{ form.non_field_errors }}
<table>
    {% include "form_snippet.html" with field=form.amount_gramm %}
    {% if js_active %}
        <input type="hidden" id="id_ingredient" name="ingredient" value="{{ingredient}}">
        {% else %}
        {% include "form_snippet.html" with field=form.ingredient css_class="ym-fbox-select" %}
    {% endif %}
    <tr>
        <td style="text-align:right;">
            {% trans "Ingredient name" %}    
        </td>
        <td>
            <div class="ym-fbox-text">
            <input type="text"
                   id="id_ingredient_searchfield"
                   name="ingredient_searchfield"
                   value="{{ingredient_searchfield}}">
            </div>
        </td>
    </tr>
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" /></td>
        <td></td>
    </tr>
</table>
</form>



{% endblock %}
