{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Edit meal" %}{% endblock %}


{% block content %}

<h2>{% trans "Edit meal" %}</h2>

<form action="{% url nutrition.views.edit_meal_item plan.id meal.id meal_item.id%}"
      method="post"
      class="ym-form">
{% csrf_token %}
{{ form.non_field_errors }}
<table>
    {% include "form_snippet.html" with field=form.amount_gramm %}
    {% include "form_snippet.html" with field=form.amount_freetext %}
    {% include "form_snippet.html" with field=form.ingredient %}
    {% include "form_snippet.html" with field=form.ingredient_freetext %}
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" /></td>
        <td></td>
    </tr>
</table>
</form>



{% endblock %}
