{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Ingredient overview" %}{% endblock %}


{% block content %}
<h2>{% trans "Ingredient overview" %}</h2>

{% if ingredients %}
<ul>
{% for ingredient in ingredients %}
    <li>
        <a href="{{ ingredient.get_absolute_url }}">{{ ingredient.name }}</a>
    </li>
{% endfor %}
</ul>
{% else %}
    <div class="box warning">
        {% trans "No ingredients." %} {% trans "Use link to add one." %}
    </div>
{% endif %}


<div style="padding-top:3em;"></div>
<div class="pagination">
    {% if ingredients.has_previous %}
        <a href="?page={{ ingredients.previous_page_number }}"
           class="page gradient load-maincontent">{% trans "previous" %}</a>
    {% endif %}

    {% for i in ingredients.paginator.page_range %}
        {% if ingredients.number != i %}
            <a href="?page={{ i }}"
               class="page gradient load-maincontent">{{i}}</a>
        {% else %}
            <span class="page active">{{i}}</span>
        {% endif %}
    {% endfor %}
    
    {% if ingredients.has_next %}
        <a href="?page={{ ingredients.next_page_number }}"
           class="page gradient load-maincontent">{%trans "next" %}</a>
    {% endif %}
</div>

{% endblock %}

{% block sidebar %}
<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url ingredient-add %}">
       <img src="{% static 'images/icons/new.svg' %}"
            width="32"
            height="32"
            alt="{% trans 'Add ingredient' %}"
            title="{% trans 'Add ingredient' %}">
       {% trans "Add ingredient" %}
       </a>
</p>
{% endblock %}
