{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Ingredient overview" %}{% endblock %}

{% block header %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/workout-manager.js' %}"></script>
<script>
$(document).ready(function() {
    // Init the modal dialog to edit the exercise
    form_modal_dialog();
});
</script>
{% endblock %}

{% block content %}

<h2>{% trans "Ingredient overview" %}</h2>

{% if ingredients %}
<ul>
{% for ingredient in ingredients %}
    <li>
        <a href="{% url nutrition.views.ingredient_view ingredient.id %}">{{ ingredient.name }}</a>
    </li>
{% endfor %}
</ul>
{% else %}
    <div class="box warning">
        {% trans "No ingredients." %} {% trans "Use link to add one." %}
    </div>
{% endif %}

{% endblock %}

{% block sidebar %}
<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url nutrition.views.ingredient_edit None %}">
       <img src="{% static 'images/icons/new.svg' %}"
            width="32"
            height="32"
            alt="{% trans 'Add ingredient' %}"
            title="{% trans 'Add ingredient' %}">
       {% trans "Add ingredient" %}
       </a>
</p>
{% endblock %}
