{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your nutrition plans" %}{% endblock %}


{% block content %}

<h2>{% trans "Your nutrition plans" %}</h2>

<ul>
{% for plan in plans %}
    <li>
        <a href="{% url nutrition.views.view plan.id %}">
            {% if plan.description %}
                {{ plan.description }}
            {% else %}
                {% trans "Nutrition plan" %}
            {% endif %}
        </a>
        – {{ plan.creation_date }} 
    </li>
{% empty %}
    <li>
        <div class="box warning">
            {% trans "No nutrition plans." %} {% trans "Use link to add one." %}
        </div>
    </li>
{% endfor %}
</ul>

<p>
    <a href="{% url nutrition.views.add %}">{% trans "Add nutrition plan" %}</a>
</p>
{% endblock %}
