{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your nutrition plans" %}{% endblock %}


{% block content %}

<h2>{% trans "Your nutrition plans" %}</h2>

{% if plans %}
    <ul>
    {% for plan in plans %}
        <li>
            <a href="{% url nutrition.views.view plan.id %}">
                {% if plan.description %}
                    {{ plan.description }}
                {% else %}
                    {% trans "Nutrition plan" %}
                {% endif %}
            </a>
            – {{ plan.creation_date }} 
        </li>
    {% endfor %}
    </ul>
{% else %}
    <div class="box warning" id="nutrition-box-warning">
        {% trans "No nutrition plans." %} {% trans "Use link to add one." %}
    </div>
{% endif %}

{% endblock %}



{% block sidebar%}
<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url nutrition.views.add %}" id="nutrition-create-new">
    <img src="{% static 'images/icons/new.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Add nutrition plan' %}"
         title="{% trans 'Add nutrition plan' %}">
        {% trans "Add nutrition plan" %}</a>
</p>

<p>
    <a href="{% url nutrition.views.ingredient_overview %}" id="ingredient-overview">
    <img src="{% static 'images/icons/list.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Ingredient overview' %}"
         title="{% trans 'Ingredient overview' %}">
    {% trans "Ingredient overview" %}
    </a>
</p>
{% endblock %}
