{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ingredient.name}}{% endblock %}


{% block header %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/workout-manager.js' %}"></script>
<script>
$(document).ready(function() {
    // Init the modal dialog to edit the exercise
    form_modal_dialog();
});
</script>
{% endblock %}



{% block content %}

<h2>{{ingredient.name}}</h2>

<p>{% trans "Nutritional values in 100g of product." %}</p>

<table>
    <thead>
        <tr>
            <th colspan="2">
                {% trans "Macronutrients" %}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% trans "Energy" %}</td>
            <td>{{ingredient.energy}} kcal</td>
        </tr>
        <tr>
            <td>{% trans "Protein" %}</td>
            <td>{{ingredient.protein}} g</td>
        </tr>
        <tr>
            <td>{% trans "Carbohydrates" %}</td>
            <td>{{ingredient.carbohydrates}} g</td>
        </tr>
        <tr>
            <td style="padding-left: 3em;">{% trans "Sugar content in carbohydrates" %}</td>
            <td>{{ingredient.carbohydrates_sugar}} g</td>
        </tr>
        <tr>
            <td>{% trans "Fat" %}</td>
            <td>{{ingredient.fat}} g</td>
        </tr>
        <tr>
            <td style="padding-left: 3em;">{% trans "Saturated fat content in fats" %}</td>
            <td>{{ingredient.fat_saturated}} g</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2">
                {% trans "Others" %}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% trans "Fibres" %}</td>
            <td>{% if ingredient.fibres %}{{ingredient.fibres}} g{% else %}-/-{% endif %}</td>
        </tr>
        <tr>
            <td>{% trans "Sodium" %}</td>
            <td>{% if ingredient.sodium %}{{ingredient.sodium}} g{% else %}-/-{% endif %}</td>
        </tr>
    </tbody>
</table>

{% endblock %}



{% block sidebar %}
<h3>{% trans "Options" %}</h3>

<p>
<a href="{% url nutrition.views.delete_ingredient ingredient.id %}"
   title="{% trans 'Delete ingredient' %}">
   <img src="{% static 'images/icons/trash.svg' %}"
        width="32"
        height="32"
        alt="{% trans 'Delete ingredient' %}"
        title="{% trans 'Delete ingredient' %}">
    {% trans 'Delete ingredient' %}
</a>
</p>

<p>
<a href="{% url nutrition.views.ingredient_edit ingredient.id %}"
   title="{% trans 'Edit ingredient' %}"
   class="modal-dialog">
    <img src="{% static 'images/icons/edit.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Edit ingredient' %}"
         title="{% trans 'Edit ingredient' %}">
{% trans 'Edit ingredient' %}
</a>
</p>

{% endblock %}
