@media screen {

/*---------- peachpuff Styles ---------*/
.sh_peachpuff {
	background:none;
	padding:0;
	margin:0;
	border:0 none;
}

.sh_peachpuff .sh_sourceCode {
	background-color:#fefbf3;
	border: 1px solid #cecbc3;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color:#93a1a1;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_keyword {
	color:#195f91;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_type {
	color:#cb4b16;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_string {
	color:#268bd2;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode strong .sh_string {
	color:#268bd2;
	font-weight:bold;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_regexp {
	color:#c00058;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_specialchar {
	color:#6a5acd;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_comment {
	color:#93a1a1;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_number {
	color:#c00058;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_preproc {
	color:#93a1a1;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_function {
	color:#521cc7;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_url {
	color:#c00058;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_date {
	color:#a52a2a;
	font-weight:bold;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_time {
	color:#a52a2a;
	font-weight:bold;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_file {
	color:#a52a2a;
	font-weight:bold;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_ip {
	color:#c00058;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_name {
	color:#c00058;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_variable {
	color:#275fec;
	font-weight:bold;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_oldfile {
	color:#6a5acd;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_newfile {
	color:#c00058;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_difflines {
	color:#a52a2a;
	font-weight:bold;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_selector {
	color:#195f91;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_property {
	color:#cb4b16;
	font-weight:normal;
	font-style:normal;
}

.sh_peachpuff .sh_sourceCode .sh_value {
	color:#268bd2;
	font-weight:normal;
	font-style:normal;
}

/*-------- Snippet Base Styles ----------*/
.snippet-wrap { 
	position:relative;
	margin: 1.5em 0 0 0;
}

*:first-child+html .snippet-wrap { display:inline-block; }

* html .snippet-wrap { display:inline-block; }

.snippet-reveal { text-decoration:underline; }

.snippet-wrap .snippet-menu, .snippet-wrap .snippet-hide {
	position:absolute;
	top:10px;
	right:15px;
	font-size:.9em;
	z-index:1;
	background-color:transparent;
	background-color:rgba(0,0,0,.1);
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
}

.snippet-wrap .snippet-hide {
	top:auto;
	bottom:10px;
}

*:first-child+html .snippet-wrap .snippet-hide { bottom:25px; }

* html .snippet-wrap .snippet-hide { bottom:25px; }

.snippet-wrap .snippet-menu pre, .snippet-wrap .snippet-hide pre {
	background-color:transparent;
	margin:0;
	padding:0;
}

.snippet-wrap .snippet-menu a,
.snippet-wrap .snippet-hide a {
	padding:2px 5px;
	text-decoration:underline;
	position:relative;
	zoom: 1;	
}

.snippet-wrap .snippet-menu a:hover,
.snippet-wrap .snippet-hide a:hover {
	background: rgba(0,0,0,.5);
	color: #fff;
}

.snippet-wrap pre.sh_sourceCode {
	font-size: 12px;
	padding:0;
	line-height:1.75em;
	margin: 0;
	overflow:auto;
	position:relative;
	border-radius:3px;
	white-space: pre;
	word-wrap: normal;	
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow:  0px 1px 2px rgba(0,0,0,.2);
}

.snippet-wrap pre.snippet-textonly { padding:2em; }

*:first-child+html .snippet-wrap pre.snippet-formatted { padding:2em 1em; }

* html .snippet-wrap pre.snippet-formatted { padding:2em 1em; }

.snippet-reveal pre.sh_sourceCode {
	padding:.5em 1em;
	text-align:right;
}

.snippet-wrap .snippet-num li { padding-left:0.5em; }

.snippet-wrap .snippet-no-num {
	list-style:none;
	padding:.6em 1em;
	margin:0;
}

.snippet-wrap .snippet-no-num li {
	line-height: 1.75em;
	list-style:none;
	padding-left:0;
}

.snippet-wrap .snippet-num {
	margin: 1.6666em 0 1.6666em 0.5em;
	padding-left:3em;
}

.snippet-wrap .snippet-num li {
	line-height: 1.75em;
	list-style:decimal-leading-zero outside none;
}

.snippet-wrap .snippet-no-num li.box {
	padding:0 6px;
	margin-left:-6px;
}

.snippet-wrap .snippet-num li.box {
	border:1px solid;
	list-style-position:inside;
	margin-left:-3em;
	padding-left:6px;
}

*:first-child+html .snippet-wrap .snippet-num li.box { margin-left:-2.4em; }

* html .snippet-wrap .snippet-num li.box { margin-left:-2.4em; }

.snippet-wrap li.box-top { border-width:1px 1px 0 !important; }

.snippet-wrap li.box-bot { border-width:0 1px 1px !important; }

.snippet-wrap li.box-mid { border-width:0 1px !important; }

.snippet-wrap .snippet-num li .box-sp {
	width:18px;
	display:inline-block;
}

*:first-child+html .snippet-wrap .snippet-num li .box-sp { width:27px; }

* html .snippet-wrap .snippet-num li .box-sp { width:27px; }

.snippet-wrap .snippet-no-num li.box { border:1px solid; }

.snippet-wrap .snippet-no-num li .box-sp { display:none; }
}
