{% extends "base.html" %}
{% load i18n static cache wger_extras compress thumbnail %}

<!--
        Title
-->
{% block title %}{% translate "Muscle overview" %}{% endblock %}


{% block header %}
{% compress js %}
<script src="{% static 'js/exercises.js' %}"></script>
{% endcompress %}

{% endblock %}


<!--
        Main Content
-->
{% block content %}
{% cache cache_timeout muscle-overview language.id %}
<div class="accordion" id="muscleAccordion">
    {% for entry in muscle_list %}
    {% for muscle in entry %}
    <div class="card">
        <div class="card-header" id="header-{{muscle.pk}}">
            <button
                class="btn btn-block text-left muscle"
                type="button"
                data-toggle="collapse"
                aria-expanded="true"
                aria-controls="collapse-{{muscle.pk}}"
                data-target="#collapse-{{muscle.pk}}"
                data-muscle-target="muscle-{{muscle.id}}"
                data-is-front="{{muscle.is_front}}"
                data-name="{{muscle.name}}"
                itemscope itemtype="http://schema.org/Muscle"
            >
                {{ muscle }}
            </button>
        </div>
        <div class="collapse" id="collapse-{{muscle.pk}}" data-parent="#muscleAccordion">
            <div class="card-body px-0">
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        {% render_muscles muscle %}
                    </div>

                    {% for exercise_base in muscle.exercisebase_set.accepted %}
                        {% for exercise in exercise_base.exercises.accepted %}
                        {% if exercise.language in active_languages %}
                        <a href="{{ exercise.get_absolute_url }}" class="list-group-item">
                            <div class="media">
                                {% if exercise.main_image %}
                                    <img alt="{{ exercise.name }}"
                                    class="mr-3"
                                    style="width: 50px;"
                                    src="{{ exercise.main_image.image|thumbnail_url:'thumbnail' }}">
                                {% else %}
                                    <img alt="{% translate 'Placeholder image for exercise' %}"
                                        class="mr-3"
                                        style="width: 50px;"
                                        src="{% static 'images/icons/image-placeholder.svg' %}">
                                {% endif %}
                                <div class="media-body">
                                    <p class="media-heading h5">{{ exercise.name }}</p>
                                    <span class="text-muted small">
                                        {% translate exercise.category.name %}
                                        <!--
                                        {% translate "Main muscles" %}: {{ exercise.exercise_base.muscles.all|join:", " }}
                                        <br>
                                        {% translate "Secondary muscles" %}: {{ exercise.exercise_base.muscles_secondary.all|join:", " }}
                                        -->
                                    </span>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% empty %}
                            {% translate "No exercises for this muscle. Add or edit an exercise and set the muscle." %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endcache %}
{% endblock %}


<!--
    Side bar
-->
{% block sidebar %}
{% endblock %}


<!--
    Options
-->
{% block options %}
    {% if user.is_authenticated and not user.userprofile.is_temporary %}
        <a href="{% url 'exercise:exercise:add' %}" class="btn btn-success btn-sm">
            {% translate "Add new exercise" %}
        </a>
    {% else %}
        <a href="#" class="btn btn-success btn-sm disabled">
            {% translate "Add new exercise" %}<br>
            <small>
            {% translate "Only registered users can do this" %}
            </small>
        </a>
    {% endif %}
{% endblock %}
