<div class="row">
  <div class="col-12">
    <h1 i18n>Add exercise</h1>
  </div>

</div>


<div class="row">
  <div class="col-9">
    <ngb-accordion [closeOthers]="true" activeIds="static-1" type="light">
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span><b>1)</b> Basics</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <form>
            <div class="form-group">
              <label for="name" i18n>Name</label>*
              <input aria-describedby="emailHelp" class="form-control" id="name" type="text">
            </div>
            <div class="form-group">
              <label for="alternative_names">Alternative names</label>
              <textarea class="form-control" id="alternative_names" type="text"></textarea>
              <small i18n>One name per line</small>
            </div>
            <div class="form-group">
              <label for="category" i18n>Category</label>
              <select class="form-control" id="category">
                <option *ngFor="let category of categories"
                        [selected]="category.id === 1"
                        value="{{category.id}}">
                  {{category.name}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="equipment" i18n>Equipment</label>
              <select class="form-control" id="equipment" multiple size="3">
                <option *ngFor="let entry of equipment" value="{{entry.id}}">{{entry.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="muscles" i18n>Muscles</label>
              <select class="form-control" id="muscles" multiple size="3">
                <option *ngFor="let muscle of muscles" value="{{muscle.id}}">{{muscle.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="muscles_secondary" i18n>Secondary Muscles</label>
              <select class="form-control" id="muscles_secondary" multiple size="3">
                <option *ngFor="let muscle of muscles" value="{{muscle.id}}">{{muscle.name}}</option>
              </select>
            </div>

            <a class="btn btn-primary" i18n>Continue</a>
          </form>

        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span><b>2)</b> Duplicates and variations</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p i18n>If your exercise is a variant of one or more exercises, select the ones it's a variant of</p>

          <div class="form-group">
            <label for="search_variant" i18n>Search</label>*
            <input class="form-control" id="search_variant" type="text">
          </div>
          <div class="list-group" style="height: 15rem; overflow-y: scroll; overflow-x: hidden;">
            <div class="list-group-item list-group-item-action" *ngFor="let exercise of exercises">
              <div class="d-flex w-100 justify-content-between">
                <b class="mb-1">{{exercise.name}}</b>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch-{{exercise.id}}">
                  <label class="custom-control-label" for="customSwitch-{{exercise.id}}"></label>
                </div>
              </div>
              <p class="mb-1"><p>{{ exercise.equipment.join(', ')}}</p>


            </div>
          </div>

          <p>
          <small class="text-muted" i18n>If you notice an exercise that is identical to the one you're adding, please discard your draft and edit that exercise</small>
          </p>
          <a class="btn btn-primary" i18n>Skip</a>
        </ng-template>
      </ngb-panel>
      <ngb-panel  id="static-3" title="3) Images">
        <ng-template ngbPanelContent>
          <p i18n>Images must be compatible with the CC-BY-SA license. If in doubt, upload only photos you've taken yourself.</p>
          <div class="card" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title">To upload images, drag them here</h5>
              <p>or</p>
              <div class="btn btn-light">browse files</div>
            </div>
          </div>

          <a class="btn btn-primary" i18n>Skip</a>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-4" title="4) Description"> <!-- [disabled]="true" -->
        <ng-template ngbPanelContent>
          <p i18n>All submitted content must be exclusively your own work</p>
          <div class="form-group">
            <label for="starting_position" i18n>Starting position</label>
            <textarea class="form-control" id="starting_position" type="text"></textarea>
          </div>
          <div class="form-group">
            <label for="steps" i18n>Steps</label>*
            <textarea class="form-control" id="steps" type="text"></textarea>
          </div>
          <div class="form-group">
            <label for="notes" i18n>Notes</label>
            <textarea class="form-control" id="notes" type="text"></textarea>
            <small>Notes or comments about the execution of the exercise, one per line</small>
          </div>
          <p i18n>By submitting the exercise, you agree to wger's terms and conditions, including releaseing submitted content under the CC-BY-SA 4.0 license (or later)</p>
          <a class="btn btn-primary" i18n>Submit exercise</a>

        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-3">


  </div>
</div>
