{% load i18n wger_extras %}

<div class="btn-group btn-group-justified" role="group">
    <a href="{{value.workout.get_absolute_url}}" class="btn btn-link">{{ value.workout }}</a>
    <a href="{% url 'manager:log:log' value.workout.id %}" class="btn btn-link">{% translate "Log overview" %}</a>

    {% if is_owner %}
        {% if value.session %}
            <div class="btn-group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% translate "Workout session" %}
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        {% translate 'Edit' as text %}
                        {% url 'manager:session:edit' value.session.pk as url %}
                        {% modal_link url=url text=text css_class='dropdown-item' %}

                        <div class="dropdown-divider"></div>

                        {% translate 'Delete' as text %}
                        {% url 'manager:session:delete' value.session.pk as url %}
                        {% modal_link url=url text=text css_class='dropdown-item' %}

                        {% translate 'Delete with logs' as text %}
                        {% url 'manager:session:delete' value.session.pk 'logs' as url %}
                        {% modal_link url=url text=text css_class='dropdown-item' %}
                    </div>
                </div>
            </div>
        {% else %}
            {% translate 'Add workout impression' as text %}
            {% url 'manager:session:add' value.workout.id date|date:'Y' date|date:'m' date|date:'d' as url %}
            {% modal_link url=url text=text css_class='dropdown-item' %}
        {% endif %}
    {% endif %}
</div>


{% if value.session %}
<table class="table" style="margin-top: 2em;">
    <tr>
        <th style="width: 30%">{% translate "Time" %}</th>
        <td>
            {% if value.session.time_start %}
                {{value.session.time_start|time:"H:i"}} - {{value.session.time_end|time:"H:i"}}
            {% else %}
                -/-
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% translate "General impression" %}</th>
        <td>{% translate value.session.get_impression_display %}</td>
    </tr>
    <tr>
        <th>{% translate "Notes" %}</th>
        <td>{{value.session.notes|default:'-/-'}}</td>
    </tr>
</table>
{% endif %}
