{% extends "base.html" %}
{% load i18n %} 

<!--
        Title
-->
{% block title %}{% trans "Exercise details" %}{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{% if exercise.id %}
        {% trans "Edit" %} {{ exercise.name }}
    {% else %}
        {% trans "New exercise" %}
    {% endif %}
</h2>


<form action="/weight/add/{% if weight.id %}{{ weigth.id }}{% endif %}"
      method="post"
      class="ym-form">
{% csrf_token %}
{{ weight_form.non_field_errors }}
<table>
    {% include "form_snippet.html" with field=weight_form.weight %}
    {% include "form_snippet.html" with field=weight_form.creation_date %}
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" /></td>
        <td></td>
    </tr>
</table>
</form>


{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{% endblock %}