{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{% trans "Exercise details" %}{% endblock %}

<!-- 
        Header data
-->
{% block header %}
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/jquery-globalize/lib/globalize.js" %}"></script>
<script src="{% static "js/raphael.js" %}"></script>
<script src="{% static "js/jquery.wijmo-complete.js" %}"></script>
<script src="{% static "js/jquery.wijmo-open.js" %}"></script>
<script id="scriptInit" type="text/javascript">
        $(document).ready(function () {
 
            $("#wijscatterchartDefault").wijscatterchart({
                header: {
                    //text: "Title"
                },
                axis: {
                    y: {
                        text: "Weight (kg)",
                        labels: {
                            style: {
                                fill: "#7f7f7f",
                                "font-size": "11pt"
                            }
                        },
                        gridMajor: {
                            style: { stroke: "#353539", "stroke-dasharray": "- " }
                        },
                        tickMajor: { position: "outside", style: { stroke: "#7f7f7f"} },
                        tickMinor: { position: "outside", style: { stroke: "#7f7f7f"} }
                    },
                    x: {
                        text: "Date",
                        labels: {
                            style: {
                                fill: "#7f7f7f",
                                "font-size": "11pt",
                                rotation: -45
                            }
                        },
                        tickMajor: { position: "outside", style: { stroke: "#7f7f7f"} }
                    }
                },
                showChartLabels: false,
                hint: {
                    content: function () {
                        return this.x.toLocaleDateString() + ',  ' + this.y + ' kg'
                    },
                    contentStyle: {
                        "font-size": "10pt"
                    },
                    offsetY: -10
                },
                legend: {
                    visible: false
                },
                seriesList: [
                    {
                        label: "Female",
                        legendEntry: true,
                        data: {
                            x: [{{ data_x }}],
                            y: [{{ data_y }}]
                        },
                        visible: true,
                        markerType: "circle"
                    }
                ],
                seriesStyles: [{
                    fill: "#afe500",
                    stroke: "#afe500"
                }, {
                    fill: "#ff9900",
                    stroke: "#ff9900"
                }
                ]
            });
        });
    </script>
{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{% trans "Weight overview" %}</h2>

<div id="wijscatterchartDefault"></div>



<a href="/weight/add">{% trans "Add weight entry" %}</a>

{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
<h3>{% trans "Filter options" %}</h3>
<p>Filter widgets etc come here</p>
{% endblock %}