{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{% trans "Weight overview" %}{% endblock %}

<!-- 
        Header data
-->
{% block header %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/workout-manager.js' %}"></script>
<script src="{% static 'js/jquery-globalize/lib/globalize.js' %}"></script>

<script type="text/javascript">
$(document).ready(function () {

// Initialise a modal dialog
    $("#ajax-info").dialog({
                autoOpen: false,
                width: 600,
                modal: true,
                position: 'top'
    });

        });
</script>
{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{% trans "Weight overview" %}</h2>

<p>
<a href="{% url weight.views.add None %}">{% trans "Add weight entry" %}</a>
</p>

<p>
    <em>{% trans "You can click on a value on the chart to edit it. "%}</em>
</p>

{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
<h3>{% trans "Filter options" %}</h3>
<p>Filter widgets etc come here</p>

<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url weight.views.export_csv %}"
       target="_blank">
    <img src="{% static 'images/icons/save.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Export as CSV' %}"
         title="{% trans 'Export as CSV' %}">
        {% trans "Export as CSV" %}
    </a>
</p>

{% endblock %}
