{% load i18n %}
{% load staticfiles %}

<h3>{% trans "Free license" %}</h3>

<p>
<img src="{% static 'images/cc-by-sa-88x31.png' %}"
         width="88"
         height="31"
         alt="{% trans 'CC-BY-SA' %}"
         title="{% trans 'CC-BY-SA' %}"
         class="float-left">

       {% blocktrans %}This content is available under a Creative Commons
Attribution Share-Alike license.{% endblocktrans %}
{% trans "Link:" %} <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.{{language.short_name}}">CC-BY-SA
3.0</a>
</p>
