/*
 * Hide the edit options (edit, delete) on tables, only show them when the mouse is over the row
 */
div.editoptions
{
    visibility: hidden;
}

tr:hover div.editoptions, tbody tr:hover td div.editoptions
{
    visibility: visible;
}



/*
 * Own classes
 */
.invisible{
    display: none;
}

.ym-g10
{
    width: 10%;
}

.align-right
{
    text-align: right;
}