/*
 * 
 * This file contains slight modifications to the YAML theme
 * 
 */

tr:hover .editoptions, tbody tr:hover td .editoptions
{
    visibility: visible;
}


/*
 * Deactivate the default background color on hover
 */
.editoptions a:hover,
.ui-tabs-nav a:hover, 
.ui-tabs-nav a:focus {
		background-color: transparent;
}


/*
 * Use colour from the Tango palette for links 
 */

a {
	color: #3465a4;
}
/*
 * Use colours from the Tango palette for the info, warning and error boxes 
 */

.info {
		background: #babdb6;
}

.warning {
		background: #fcaf3e
}

.success {
		background: #8ae234;
}

.error {
		background: #ef2929;
}

/*
 * Set the width of form elements to 100%
 * 
 * Most forms will be edited on a JQuery dialog window and this makes it more readable
 */
.ym-form input, .ym-form input, .ym-form textarea, .ym-form select {
    width: 100%;
}

/*
 * Own classes
 */
.invisible{
    display: none;
}

.ym-g10
{
    width: 10%;
}

.ym-g15
{
    width: 15%;
}

.align-right
{
    text-align: right;
}

.sortable-settings
{
	border: 1px solid black;
}

.sortable-settings-drag
{
	padding-left: 1em;
	padding-right: 1em;
	background-color: #babdb6; /* #888a85;*/
	/*text-align:center;*/
	border-bottom:1px solid black;
}


/*
 * Hide the edit options (edit, delete) on tables, only show them when the mouse is over the row
 */
.editoptions
{
    visibility: hidden;
}

a img
{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

a:hover img
{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);	
}


header
{
	background-color: transparent;
}

header h1
{
	margin: 0px;
}

/*
 * Style the header
 */
header div.ym-wbox{
	background-color: #204A87;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 1em;
    margin-top: 1em;
    
    /* set the application logo as a background */
    background-image: url("/static/images/icons/emblem.svg");
    background-repeat: no-repeat;
    background-size: 82px 82px;
    
    /* make space for the logo */
    padding-left: 100px;
}


/*
 * Set the sizes for the background where the muscles are shown on the exercise view page
 */
.muscle-background{
    width: 200px;
    height: 369px;
    background-repeat: no-repeat; 
}