{% extends "base.html" %}
{% load i18n static wger_extras django_bootstrap_breadcrumbs crispy_forms_tags %}


{#             #}
{# Breadcrumbs #}
{#             #}
{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb day.training day.training %}
    {% breadcrumb "Weight log" "manager:log:log" day.training_id %}
    {% breadcrumb "New weight log" "manager:log:log" day.training_id %}
{% endblock %}


{#       #}
{# Title #}
{#       #}
{% block title %}{% translate "New weight log" %} – {{day.description}}{% endblock %}


{#        #}
{# Header #}
{#        #}
{% block header %}
<script type="text/javascript">
$(document).ready(function () {
    wgerGetWorkoutSession();
});
</script>
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
<form action="{{form_action}}" method="POST" class="wger-form">
    {{formset.management_form}}
    {% crispy session_form %}

    {% for set in day.set_set.select_related %}
        {% for exercise in set.exercise_bases %}
            {% with value=exercise_list|get_item:exercise.id %}
                <div class="row">
                    <label class="col-md-12 font-weight-bold">
                        <b>{{ value.obj.get_translation.name }}</b>
                    </label>
                </div>
                <div class="row">
                    <div class="col-2">{% translate "Amount" %}</div>
                    <div class="col-3">{% translate "Unit" %}</div>
                    <div class="col-2">{% translate "Weight" %}</div>
                    <div class="col-3">{% translate "Unit" %}</div>
                    <div class="col-2">{% translate "RiR" %}</div>
                </div>
                {% for form in value.forms %}
                    {% crispy form helper %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
    {% endfor %}
    <div class="form-group">
        <input type="submit" name="submit" value="{% translate 'Save' %}" class="btn btn-primary btn-success btn-block" id="submit-id-submit">
    </div>
</form>
{% endblock %}


{#          #}
{# Side bar #}
{#          #}
{% block sidebar %}
<h4>{% translate "Info" %}</h4>
<p>{% blocktranslate %}A new workout session (impression, notes, time) will
be created if there isn't already one for the selected date. If there is, it
will simply be edited. Weight entries are always added.{% endblocktranslate %}</p>
{% endblock %}
