{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{% trans "Workout log calendar" %}{% endblock %}

{% block header %}
<script>
$(document).ready(function() {
    $('.calendar-log-data').hide();
    $('table.month td a.btn').click(function(e){
        e.preventDefault();
        $('.calendar-log-data').hide();
        $('#' + $(this).data('log')).toggle();
    });
 });
</script>
{% endblock %}

{% block content %}
{{calendar|safe}}


{% for date in logs %}
    <div id="log-{{date|date:'Y-m-d'}}" class="calendar-log-data">
        <h3>{{date}}</h3>

        {% regroup logs|get_item:date by exercise as grouped_logs %}

        {# TODO: what if some of the entries don't belong to a workout? #}
        {% with tmp=grouped_logs|first %}
        {% with first_log=tmp.list|first %}
        {% with session=first_log.get_workout_session %}
            <div class="row">
                <div class="col-sm-4">
                    <a href="{{first_log.workout.get_absolute_url}}" class="btn btn-default btn-block">{{ first_log.workout }}</a>
                </div>

                <div class="col-sm-4">
                <a href="{% url 'manager:log:log' first_log.workout.id %}" class="btn btn-default btn-block">{% trans "Log overview" %}</a>
                </div>

                <div class="col-sm-4">
                    {% if session %}
                        <a href="{% url 'manager:session:edit' session.pk %}" class="btn btn-default btn-block wger-modal-dialog">{% trans "Edit workout session" %}</a>
                    {% else %}
                        <a href="{% url 'manager:session:add' first_log.workout_id date|date:'Y' date|date:'m' date|date:'d' %}" class="btn btn-default btn-block wger-modal-dialog">{% trans "Add workout impression" %}</a>
                    {% endif %}
                </div>
             </div>
            {% if session %}
            <p>
                <strong>{% trans "Time" %}:</strong>
                    {% if session.time_start %}
                        {{session.time_start|time:"H:i"}} - {{session.time_end|time:"H:i"}}
                    {% else %}
                        -/-
                    {% endif %}<br>
                <strong>{% trans "General impression" %}: </strong> {% trans session.get_impression_display %}<br>
                <strong>{% trans "Notes" %}:</strong> {{session.notes|default:'-/-'}}
            </p>
            {% endif %}
        {% endwith %}
        {% endwith %}
        {% endwith %}


        <div class="row" style="margin-top: 2em;">
            {% for i in grouped_logs %}
                <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ i.grouper }}</div>
                    <div class="panel-body" style="min-height: 8em;">
                    <ul>
                    {% for log in i.list %}
                        <li>
                            {{log.reps}} × {{log.weight}}
                            <span class="editoptions">
                                <a href="{% url 'manager:log:delete' log.pk %}"
                                   title="{% trans 'Delete' %}"
                                   class="wger-modal-dialog">
                                       <img src="{% static 'images/icons/trash.svg' %}"
                                            width="16"
                                            height="16"
                                            alt="{% trans 'Delete' %}"></a>
                                <a href="{% url 'manager:log:edit' log.pk %}"
                                   title="{% trans 'Edit' %}"
                                   class="wger-modal-dialog">
                                       <img src="{% static 'images/icons/edit.svg' %}"
                                            width="16"
                                            height="16"
                                            alt="{% trans 'Edit' %}"></a>
                            </span>
                        </li>
                    {% endfor %}
                    </ul>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}



{% block sidebar %}
<div class="modal fade" id="ecalendar-day-select-popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans 'Add log to day' %}</h4>
            </div>
            <div class="modal-body">
                {% if current_workout %}
                <p>{% blocktrans %}Click to add weight logs to a training
day in your current workout:{% endblocktrans %} <strong>{{current_workout}}</strong></p>

                {% for day in current_workout.day_set.all %}
                    <a href="{% url 'manager:day:log' day.pk %}" class="btn btn-block btn-default">{{day.description}}</a>
                {% endfor %}

                {% else %}
                <p><em>{% trans "No workouts found." %}</em></p>
                <p>
                <a href="{% url 'manager:workout:add' %}" class="btn btn-block btn-default">
                   <img src="{% static 'images/icons/add.svg' %}"
                        width="22"
                        height="22"
                        alt="">
                    {% trans "Add one now." %}
                </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<h3>{% trans 'Info' %}</h3>
<p>{% blocktrans %}The coloured days in the calendar have weight logs,
you can click on them to see the details.{% endblocktrans %}</p>

<p>
    <div style="background-color: #C9302C; display: inline;">&nbsp;</div> {{ impressions.0.1 }}<br>
    <div style="background-color: #EC971F; display: inline;">&nbsp;</div> {{ impressions.1.1 }}<br>
    <div style="background-color: #449D44; display: inline;">&nbsp;</div> {{ impressions.2.1 }}
</p>

<h3>{% trans 'Log' %}</h3>
<p>
    <a href="{% url 'manager:workout:calendar' %}">
        <img src="{% static 'images/icons/calendar.svg' %}"
             width="32"
             height="32"
             alt="{% trans 'Go to current month' %}">
    {% trans "Go to current month" %}</a>
</p>
<p>
    <a href="#" id="calendar-day-select-link" data-toggle="modal" data-target="#ecalendar-day-select-popup">
        <img src="{% static 'images/icons/add.svg' %}"
             width="32"
             height="32"
             alt="{% trans 'Add new log' %}">
    {% trans "Add new log" %}</a>
</p>
<div class="timeline-log">
{% for date in month_list %}
    {% ifchanged date.year %}
        <p><strong>{{ date|date:"Y" }}</strong></p>
    {% endifchanged %}
    {% if current_month = date.month and current_year = date.year %}
        <span>{{date|date:"F"}}</span><br>
    {% else %}
        <span><a href="{% url 'manager:workout:calendar' date.year date.month %}">{{date|date:"F"}}</a></span><br>
    {% endif %}
{% endfor %}
</div>

{% endblock %}
