{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Your workouts" %}{% endblock %}


{% block content %}
    <div class="list-group">
        {% for workout in workouts %}
            <a href="{{ workout.get_absolute_url }}" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-right float-right"></span>

                {% if workout == current_workout %}
                <span class="badge badge-primary float-right">
                    <em>{% translate "active" %}</em>
                </span>
                {% endif %}

                <p class="list-group-item-heading h5">{{ workout }}</p>
                <p class="list-group-item-text">{{ workout.creation_date }}</p>
            </a>
        {% empty %}
            <a href="{% url 'manager:workout:add' %}" class="list-group-item">
            {% translate "No workouts found." %}<br>{% translate "Add one now." %}
            </a>
        {% endfor %}
    </div>
{% endblock %}


{% block options %}
<a href="{% url 'manager:workout:add' %}" class="btn btn-success btn-sm">
    {% translate "Add workout" %}
</a>
{% endblock %}
