{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your workouts" %}{% endblock %}


{% block content %}
{% if workouts %}
<table class="table">
    <thead>
    <tr>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Date" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for workout in workouts %}
    <tr>
        <td>
            <a href="{{ workout.get_absolute_url }}">{{ workout }}</a>

            {% if workout == current_workout %}
                &nbsp;<span class="label label-primary">{% trans "active" %}</span>
            {% endif %}
        </td>
        <td>
            {{ workout.creation_date }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>
        <a href="{% url 'manager:workout:add' %}" class="btn btn-block btn-default">
        {% trans "No workouts found." %} {% trans "Add one now." %}
        </a>
    </p>
{% endif %}


{% endblock %}


{% block sidebar %}
<p>
    <a href="{% url 'manager:workout:add' %}" class="btn btn-success btn-sm">
        {% trans "Add workout" %}</a>
    </a>
</p>
{% endblock %}
