{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="list-group">
        {% for workout in workouts %}
            <a href="{{ workout.get_absolute_url }}" class="list-group-item list-group-item-action">
                <span class="glyphicon glyphicon-chevron-right float-end"></span>

                {% if workout == current_workout %}
                    <span class="badge bg-secondary float-end">
                    <em>{% translate "active" %}</em>
                </span>
                {% endif %}

                <p class="list-group-item-heading h5">{{ workout }}</p>
                <p class="list-group-item-text">{{ workout.creation_date }}</p>
            </a>
            {% empty %}
            {% if template_overview %}
                {% translate "No templates found." %}
            {% else %}
                <a href="{% url 'manager:workout:add' %}" class="list-group-item list-group-item-action">
                    {% translate "No workouts found." %}<br>{% translate "Add one now." %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


{% block options %}
    {% if not template_overview %}
        <a href="{% url 'manager:workout:add' %}" class="btn btn-success btn-sm">
            {% translate "Add workout" %}
        </a>
    {% endif %}
{% endblock %}
