{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}
{% load cache %}

{% block title %}{% endblock %}

{% block header %}
<style>

*{
    padding:0;
    margin:0;
}
ul li {
    float:left;
    list-style:none;
    position:relative;

}

div#container{
    padding:13px;
    clear:both;
    overflow:hidden;
    margin:0 auto;
    display:block;
}

canvas, div.filler_div{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

.sub_header{
    font-size: 300%;
}

div#container a{
    width: 95%;
}

a.bottom_button{
    position: absolute;
    bottom:0px;
}
</style>
<script>
/*
 * http://fearlessflyer.com/how-to-create-your-own-jquery-content-slider/
 * https://github.com/fearlessflyer/content-slider
 * http://irae.pro.br/lab/canvas_pie_countdown/
 * http://www.html5canvastutorials.com/tutorials/html5-canvas-arcs/
 */

function draw_step(step) { // step between 0 and 1
    ctx.clearRect(0, 0, canvas_size[0], canvas_size[1]);
    if(step < 1) {
        ctx.beginPath();
        ctx.moveTo(center[0], center[1]); // ponto central
        ctx.arc(  // draw next arc
            center[0],
            center[1],
            radius,
            Math.PI * (-0.5 + 0), // -0.5 pra começar do topo
            Math.PI * (-0.5 + step*2),
            true // anti horário
        );
        ctx.lineTo(center[0], center[1]); // line back to the center
        ctx.closePath();
        ctx.fillStyle = 'rgb(40, 40, 40)';    // color
        ctx.fill();
    }
}

function start_countdown(set_id, seconds)
{
    canvas = document.getElementById('canvas-'+set_id);
    num = $('#counter-'+set_id);
    ctx = canvas.getContext('2d');
    canvas_size = [canvas.width, canvas.height];
    radius = Math.min(canvas_size[0], canvas_size[1]) / 2;
    center = [canvas_size[0]/2, canvas_size[1]/2];
    start = 1; // varia de 1 até 0
    fps= 40;

    var total = fps*seconds;
    for(var i=total;i>=0;i--) {
        var delayed = (function(){
            var step = 1-i/total;
            var left = Math.ceil(i/fps);
            return function() {
                num.html(left);
                draw_step(step);
            };
        })();
        setTimeout(delayed, -1000/fps*(i-total));
    }
}


$(document).ready(function() {

    var div_height = $( window ).height() * 0.80;
    var div_width = $( window ).width() * 0.85;

    $('.timer-step').width(div_width);
    $('.timer-step').height(div_height);

    var theImage = $('ul li img');
    var theWidth = theImage.width();
    //wrap into mother div
    $('#container ul').wrap('<div id="mother" />');
    //assign height width and overflow hidden to mother
    $('#mother').css({
        width: function() {
            return div_width;
        },
        height: function() {
            return div_height;
        },
        position: 'relative',
        overflow: 'hidden'
    });
    //get total of image sizes and set as width for ul
    var totalWidth = $('.timer-step').length * div_width;
    $('#container ul').css({
        width: function() {
            return totalWidth;
        }
    });
    $('#container ul li').each(function(intIndex) {
        $(this).find('a').bind("click", function() {
            var set_id = $(this).parents('li').data('set');
            if ($(this).is(".next")) {
                $(this).parents('ul').animate({
                    "margin-left": (-(intIndex + 1) * div_width)
                }, 600)

            } else if ($(this).is(".previous")) {
                $(this).parents('ul').animate({
                    "margin-left": (-(intIndex - 1) * div_width)
                }, 600)
            } else if ($(this).is(".start")) {
                start_countdown(set_id, 90);
            } else if ($(this).is(".startover")) {
                $(this).parent('li').parent('ul').animate({
                    "margin-left": (0)
                }, 600)
            }
        });// .bind()
    });// .each()
});
</script>
{% endblock %}

{% block content %}
<div id="container">
<ul class="workout-timer">
<li class="timer-step" id="div-warmup">
    <h2>{% trans "Warm up!" %}</h2>

    <div class="filler_div"></div>
    <div class="sub_header">5 min.</div>


    <a class="next bottom_button"
       href="#"
       data-role="button"
       data-icon="arrow-r"
       data-iconpos="right">{% trans "Start workout" %}</a>
</li>
{% for set in day.set_set.select_related %}

        {% for exercise in set.exercises.select_related %}
            {% for setting in exercise|get_current_settings:set.id %}
            <li class="timer-step" id="div-exercise-{{set.pk}}" data-set="{{set.pk}}">
                <h2>{{exercise}}</h2>
                <div class="filler_div">
                    <div data-role="fieldcontain">
                        <label for="reps-field">{% trans "Repetitions" %}:</label>
                        <input name="reps-field" id="reps-field" placeholder="{% trans 'Repetitions' %}" value="" type="text">
                    </div>
                    <div data-role="fieldcontain">
                        <label for="weight-field">{% trans "Weight" %}:</label>
                        <input name="weight-field" id="weight-field" placeholder="{% trans 'Weight' %}" value="" type="text">
                    </div>
                </div>

                <div class="sub_header">{{set.sets}} x {{setting.reps}}</div>
                <a class="next bottom_button"
                   href="#"
                   data-role="button"
                   data-icon="arrow-r"
                   data-iconpos="right">{% trans "Save or skip" %}</a>
            </li>
            <li class="timer-step" id="div-pause-{{set.pk}}" data-set="{{set.pk}}">
                <h2>{% trans "Pause!" %}</h2>

                <canvas id="canvas-{{set.pk}}"></canvas>

                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="sub_header"><span id="counter-{{set.pk}}">90</span> {% trans "sec" %}</div>
                    </div>
                    <div class="ui-block-b">
                        <a class="start" href="#" data-role="button">{% trans "start" %}</a>
                    </div>
                </div>


                <a class="next bottom_button"
                   href="#"
                   data-role="button"
                   data-icon="arrow-r"
                   data-iconpos="right">{% trans "skip" %}</a>
            </li>
            {% endfor %}
        {% endfor %}

{% endfor %}
<li class="timer-step" id="div-{{set.pk}}">
    <h2>{% trans "Workout complete!" %}</h2>
    <p><strong>{% trans "Time" %}:</strong> MM:SS</p>
</li>
</ul>
</div>
{% endblock %}



<!--
        Side bar
-->
{% block sidebar %}

{% endblock %}
