{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}
{% load cache %}

{% block title %}{% endblock %}

{% block header %}
<style>

*{
    padding:0;
    margin:0;
}
ul.workout-timer li {
    float:left;
    list-style:none;
    position:relative;

}

div#container{
    padding:13px;
    clear:both;
    overflow:hidden;
    margin:0 auto;
    display:block;
}

canvas, div.filler_div{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

.sub_header{
    font-size: 300%;
}

div#container a{
    width: 95%;
}

a.bottom_button{
    position: absolute;
    bottom:0px;
}
</style>
<script>
/*
 * http://fearlessflyer.com/how-to-create-your-own-jquery-content-slider/
 * https://github.com/fearlessflyer/content-slider
 * http://irae.pro.br/lab/canvas_pie_countdown/
 * http://www.html5canvastutorials.com/tutorials/html5-canvas-arcs/
 */

function draw_step(step) { // step between 0 and 1
    ctx.clearRect(0, 0, canvas_size[0], canvas_size[1]);
    if(step < 1) {
        ctx.beginPath();
        ctx.moveTo(center[0], center[1]); // ponto central
        ctx.arc(  // draw next arc
            center[0],
            center[1],
            radius,
            Math.PI * (-0.5 + 0), // -0.5 pra começar do topo
            Math.PI * (-0.5 + step*2),
            true // anti horário
        );
        ctx.lineTo(center[0], center[1]); // line back to the center
        ctx.closePath();
        ctx.fillStyle = 'rgb(40, 40, 40)';    // color
        ctx.fill();
    }
}

function start_countdown(step_id, seconds)
{

    // deactivate the button if needed
    var link = $('#button-' + step_id) ;
    if (! link.is(".ui-state-disabled"))
    {
        link.addClass('ui-state-disabled');
        link.click(function(e) {
            e.preventDefault();
        });
    }
    else
    {
        return false;
    }

    canvas = document.getElementById('canvas-div-'+step_id);
    num = $('#counter-'+step_id);
    ctx = canvas.getContext('2d');
    canvas_size = [canvas.width, canvas.height];
    radius = Math.min(canvas_size[0], canvas_size[1]) / 2;
    center = [canvas_size[0]/2, canvas_size[1]/2];
    start = 1; // varia de 1 até 0
    fps= 40;

    var total = fps*seconds;
    for(var i=total;i>=0;i--) {
        var delayed = (function(){
            var step = 1-i/total;
            var left = Math.ceil(i/fps);
            return function() {
                num.html(left);
                draw_step(step);
            };
        })();
        setTimeout(delayed, -1000/fps*(i-total));
    }
}


$(document).ready(function() {

    var div_height = $( window ).height() * 0.80;
    var div_width = $( window ).width() * 0.85;

    $('.timer-step').width(div_width);
    $('.timer-step').height(div_height);

    //wrap into mother div
    $('#container ul').wrap('<div id="mother" />');
    //assign height width and overflow hidden to mother
    $('#mother').css({
        width: function() {
            return div_width;
        },
        height: function() {
            return div_height;
        },
        position: 'relative',
        overflow: 'hidden'
    });

    //get total of image sizes and set as width for ul
    var totalWidth = $('.timer-step').length * div_width;
    $('#container ul').css({
        width: function() {
            return totalWidth;
        }
    });

    // Bind necessary click events to advance the workout
    $('#container ul li').each(function(intIndex) {
        $(this).find('a').bind("click", function() {
            var step_id = $(this).parents('li').data('step');
            var step_time = $(this).parents('li').data('time');
            if ($(this).is(".next")) {
                $(this).parents('ul').animate({
                    "margin-left": (-(intIndex + 1) * div_width)
                }, 600)

            } else if ($(this).is(".previous")) {
                $(this).parents('ul').animate({
                    "margin-left": (-(intIndex - 1) * div_width)
                }, 600)

            } else if ($(this).is(".start")) {
                start_countdown(step_id, step_time);

            } else if ($(this).is(".startover")) {
                $(this).parent('li').parent('ul').animate({
                    "margin-left": (0)
                }, 600)
            }
        });// .bind()
    });// .each()
});
</script>
{% endblock %}

{% block content %}
<div id="container">
<ul class="workout-timer">
<li class="timer-step" id="div-warmup">
    <h2>{% trans "Your workout today" %}</h2>

    <div class="filler_div">
        {% for exercise in exercise_list %}
            {{exercise}}<br>
        {% endfor %}
    </div>
    <!--
    <div class="sub_header"></div>
    -->


    <a class="next bottom_button"
       href="#"
       data-role="button"
       data-icon="arrow-r"
       data-iconpos="right">{% trans "Start!" %}</a>
</li>
{% for step in step_list %}
    {% if step.type == 'exercise' %}
        <li class="timer-step" id="div-{{step.current_step}}" data-step="{{step.current_step}}">
            <h2>{{step.exercise}}</h2>
            <div class="filler_div">
                <div data-role="fieldcontain">
                    <label for="reps-field-{{step.current_step}}">{% trans "Repetitions" %}:</label>
                    <input name="reps-field" id="reps-field-{{step.current_step}}" placeholder="{% trans 'Repetitions' %}" value="{{step.reps}}" type="text">
                </div>
                <div data-role="fieldcontain">
                    <label for="weight-field-{{step.current_step}}">{% trans "Weight" %}:</label>
                    <input name="weight-field" id="weight-field-{{step.current_step}}" placeholder="{% trans 'Weight' %}" value="{{step.weight}}" type="text">
                </div>
            </div>

            <div class="sub_header">
                {% if step.weight %}
                    {{step.reps}} × {{step.weight}} kg.
                {% else %}
                    {{step.reps}} {% trans "reps" %}
                {% endif %}
            </div>
            <a class="next bottom_button"
               href="#"
               data-role="button"
               data-icon="arrow-r"
               data-iconpos="right">{% trans "Save or skip" %}</a>
        </li>
    {% else %}
        <li class="timer-step" id="div-{{step.current_step}}" data-step="{{step.current_step}}" data-time="{{step.time}}">
            <h2>{% trans "Pause!" %}</h2>

            <canvas id="canvas-div-{{step.current_step}}"></canvas>

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <div class="sub_header"><span id="counter-{{step.current_step}}">{{step.time}}</span> {% trans "sec" %}</div>
                </div>
                <div class="ui-block-b">
                    <a class="start" href="#" data-role="button" id="button-{{step.current_step}}">{% trans "start" %}</a>
                </div>
            </div>

            <a class="next bottom_button"
               href="#"
               data-role="button"
               data-icon="arrow-r"
               data-iconpos="right">{% trans "skip" %}</a>
        </li>
    {% endif %}
{% endfor %}
<li class="timer-step" id="div-{{set.pk}}">
    <h2>{% trans "Workout complete!" %}</h2>
    <p><strong>{% trans "Time" %}:</strong> MM:SS</p>
</li>
</ul>
</div>
{% endblock %}



<!--
        Side bar
-->
{% block sidebar %}

{% endblock %}
