{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}
{% load cache %}

{% block title %}{% endblock %}

{% block header %}
<style>

*{
    padding:0;
    margin:0;
}
ul.workout-timer li {
    float:left;
    list-style:none;
    position:relative;

}

div#container{
    padding:13px;
    clear:both;
    overflow:hidden;
    margin:0 auto;
    display:block;
}

canvas, div.filler_div{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

.sub_header{
    font-size: 300%;
}

div#container a{
    width: 95%;
}

.bottom_buttons{
    position: absolute;
    bottom:0px;
    width: 100%;
}

a.bottom_button{
    position: absolute;
    bottom: 0px;
}

div.progress-bar{
    height: 1px;
    position: absolute;
    bottom: 0px;
    background-color: gray;
}

</style>
<script>
/*
 * http://fearlessflyer.com/how-to-create-your-own-jquery-content-slider/
 * https://github.com/fearlessflyer/content-slider
 * http://irae.pro.br/lab/canvas_pie_countdown/
 * http://www.html5canvastutorials.com/tutorials/html5-canvas-arcs/
 */

function draw_step(step) { // step between 0 and 1
    ctx.clearRect(0, 0, canvas_size[0], canvas_size[1]);
    if(step < 1) {
        ctx.beginPath();
        ctx.moveTo(center[0], center[1]); // ponto central
        ctx.arc(  // draw next arc
            center[0],
            center[1],
            radius,
            Math.PI * (-0.5 + 0), // -0.5 pra começar do topo
            Math.PI * (-0.5 + step*2),
            true // anti horário
        );
        ctx.lineTo(center[0], center[1]); // line back to the center
        ctx.closePath();
        ctx.fillStyle = 'rgb(40, 40, 40)';    // color
        ctx.fill();
    }
}

function start_countdown(step_id, seconds)
{

    // deactivate the button if needed
    var link = $('#button-' + step_id) ;
    if (! link.is(".ui-state-disabled"))
    {
        link.addClass('ui-state-disabled');
        link.click(function(e) {
            e.preventDefault();
        });
    }
    else
    {
        return false;
    }

    canvas = document.getElementById('canvas-div-'+step_id);
    num = $('#counter-'+step_id);
    ctx = canvas.getContext('2d');
    canvas_size = [canvas.width, canvas.height];
    radius = Math.min(canvas_size[0], canvas_size[1]) / 2;
    center = [canvas_size[0]/2, canvas_size[1]/2];
    start = 1; // varia de 1 até 0
    fps= 40;

    var total = fps*seconds;
    for(var i=total;i>=0;i--) {
        var delayed = (function(){
            var step = 1-i/total;
            var left = Math.ceil(i/fps);
            return function() {
                num.html(left);
                draw_step(step);
            };
        })();
        setTimeout(delayed, -1000/fps*(i-total));
    }
}


$(document).ready(function() {

    var div_height = $( window ).height() * 0.80;
    var div_width = $( window ).width() * 0.85;

    $('.timer-step').width(div_width);
    $('.timer-step').height(div_height);

    //wrap into mother div
    $('#container ul').wrap('<div id="mother" />');
    //assign height width and overflow hidden to mother
    $('#mother').css({
        width: function() {
            return div_width;
        },
        height: function() {
            return div_height;
        },
        position: 'relative',
        overflow: 'hidden'
    });

    //get total of image sizes and set as width for ul
    var totalWidth = $('.timer-step').length * div_width;
    $('#container ul').css({
        width: function() {
            return totalWidth;
        }
    });

    // Bind the buttons that create new logs
    $('.save_log').bind("click", function(e) {
        e.preventDefault();
        var form = $(this).siblings('form');

        $.post( form.attr('action'), form.serialize(), function(data) {
                 //response
               }
            );

        console.log(form.attr('action'));
    });

    // Bind necessary click events to advance the workout
    $('#container ul li').each(function(intIndex) {
        $(this).find('a').bind("click", function() {
            var step_id = $(this).parents('li').data('step');
            var step_time = $(this).parents('li').data('time');
            if ($(this).is(".next")) {

                $(this).parents('ul').animate({
                    "margin-left": (-(intIndex + 1) * div_width)
                }, 600)

                // Start the countdown for the next step slightly after the previous
                // pagination animation is finished
                var next_step = $(this).parents('li.timer-step').next();
                if (next_step.is('.pause-step'))
                {
                    setTimeout(function() {
                       start_countdown(next_step.data('step'), next_step.data('time'));
                    }, 700);
                }

            } else if ($(this).is(".previous")) {
                $(this).parents('ul').animate({
                    "margin-left": (-(intIndex - 1) * div_width)
                }, 600)

            } else if ($(this).is(".startover")) {
                $(this).parent('li').parent('ul').animate({
                    "margin-left": (0)
                }, 600)
            }
        });// .bind()
    });// .each()
});
</script>
{% endblock %}

{% block content %}
<div id="container">
<ul class="workout-timer">
<li class="timer-step" id="div-warmup">
    <h2>{% trans "Your workout today" %}</h2>

    <div class="filler_div">
        {% for set in canonical_day %}
            {% for exercise in set.exercise_list %}
                {{exercise.obj}}: {{exercise.setting_text}}<br>
            {% endfor %}
        {% endfor %}
    </div>

    <a class="next bottom_button"
       href="#"
       data-role="button"
       data-icon="arrow-r"
       data-iconpos="right"
       data-theme="d">{% trans "Start!" %}</a>
</li>
{% for step in step_list %}
    {% if step.type == 'exercise' %}
        <li class="timer-step exercise-step" id="div-{{step.current_step}}" data-step="{{step.current_step}}">
            <h2>{{step.exercise}}</h2>
            <form action="{% url 'workout-log-add' workout.pk %}" method="POST">
                {% csrf_token %}
                <input name="exercise"
                       id="id-exercise-{{step.current_step}}"
                       value="{{step.exercise.pk}}"
                       type="hidden">
                <input name="date"
                       id="id-date-{{step.current_step}}"
                       value="{% now 'o-m-j' %}"
                       type="hidden">
            <div class="filler_div">
                <div data-role="fieldcontain">
                    <label for="id-reps-{{step.current_step}}">{% trans "Repetitions" %}:</label>
                    <input name="reps"
                           id="id-reps-{{step.current_step}}"
                           placeholder="{% trans 'Repetitions' %}"
                           value="{{step.reps}}"
                           type="number"
                           autocomplete="off">
                </div>
                <div data-role="fieldcontain">
                    <label for="id-weight-{{step.current_step}}">{% trans "Weight" %}:</label>
                    <input name="weight"
                           id="id-weight-{{step.current_step}}"
                           placeholder="{% trans 'Weight' %}"
                           value="{{step.weight}}"
                           type="number"
                           autocomplete="off">
                </div>
            </div>
            </form>

            <div class="sub_header">
                {% if step.weight %}
                    {{step.reps}} × {{step.weight}} kg.
                {% else %}
                    {{step.reps}} {% trans "reps" %}
                {% endif %}
            </div>

            <div class="ui-grid-a bottom_buttons">
                <div class="ui-block-a">
                    <a class="next"
                       href="#"
                       data-role="button"
                       data-icon="forward"
                       data-iconpos="right">{% trans "Skip" %}</a>
                </div>
                <div class="ui-block-b">
                    <a class="next save_log"
                       href="#"
                       data-role="button"
                       data-icon="arrow-r"
                       data-iconpos="right">{% trans "Save" %}</a>
                </div>
            </div><!-- /grid-a -->

            <div id="progress-{{step.current_step}}" class="progress-bar" style="width: {{step.step_percent|stringformat:'f'}}%;"></div>
        </li>
    {% else %}
        <li class="timer-step pause-step"
            id="div-{{step.current_step}}"
            data-step="{{step.current_step}}"
            data-time="{{step.time}}">
            <h2>{% trans "Pause!" %}</h2>

            <canvas id="canvas-div-{{step.current_step}}"></canvas>

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <div class="sub_header">
                        <span id="counter-{{step.current_step}}">{{step.time}}</span> {% trans "sec" %}
                    </div>
                </div>
                <div class="ui-block-b">
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <a class="start" href="#" data-role="button" id="button-plus-{{step.current_step}}">+</a>
                        </div>
                        <div class="ui-block-b">
                            <a class="start" href="#" data-role="button" id="button-minus-{{step.current_step}}">-</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="next bottom_button"
               href="#"
               data-role="button"
               data-icon="arrow-r"
               data-iconpos="right">{% trans "skip" %}</a>

            <div id="progress-{{step.current_step}}" class="progress-bar" style="width: {{step.step_percent|stringformat:'f'}}%;"></div>
        </li>
    {% endif %}
{% endfor %}
<li class="timer-step" id="div-{{set.pk}}">
    <h2>{% trans "Workout complete!" %}</h2>
    <p>
        <strong>{% trans "Time" %}:</strong> <span id="total_time">MM:SS</span>
    </p>
</li>
</ul>
</div>
{% endblock %}



<!--
        Side bar
-->
{% block sidebar %}

{% endblock %}
