{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{% trans "Set details" %}{% endblock %}

<!--
        Header
-->
{% block header %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/workout-manager.js' %}"></script>

<script>
function add_exercise(exercise)
{
    result_div = '<div id="DIV-ID" class="ajax-exercise-select"> \
<a href="#"> \
<img src="{% static "images/icons/status-off.svg" %}" \
     width="14" \
     height="14" \
     alt="{% trans "Delete" %}"> \
</a> EXERCISE \
<input type="hidden" name="exercises" value="EXCERCISE-ID"> \
</div>';
    
    // Replace the values into the 'template'
    result_div = result_div.replace('DIV-ID', hex_random());
    result_div = result_div.replace('EXERCISE', exercise.value);
    result_div = result_div.replace('EXCERCISE-ID', exercise.id); 
    
    $(result_div).prependTo("#exercise-search-log");
    $("#exercise-search-log").scrollTop(0);
}

$(document).ready(function() {

    // The multi-select exercise list is not needed if javascript is activated
    $('#form-exercises').remove();
    
    // Initialise the autocompleter
    $("#exercise-search").autocomplete({
            source: "{% url exercises.views.exercise_search %}",
            minLength: 2,
            select: function(event, ui) {

                // Add the exercise to the list
                add_exercise(ui.item);
                
                // Remove the result div (also contains the hidden form element) when the user
                // clicks on the delete link
                $(".ajax-exercise-select a").click(function(e) {
                    e.preventDefault();
                    $(this).parent('div').remove();
                });
            }
        });
});
</script>

{% endblock %}

<!--
        Main Content
-->
{% block content %}

<h2>{% trans "Edit" %} {{ day.description }}</h2>


<form action="{% url manager.views.edit_set workout.id day.id set.id %}"
      method="post"
      class="ym-form">
{% csrf_token %}
<table>

    
    
    <tr id="form-ajax-{{set_form.exercises.name}}">
        <td style="text-align:right;">
            {% trans set_form.exercises.label %}
        </td>
        <td>
            <div class="ym-fbox-text">
                 <input type="text" id="exercise-search">
            </div>
            <div id="exercise-search-log"></div>
        </td>
    </tr>
    
    
    {% include "form_snippet.html" with field=set_form.exercises css_class="ym-fbox-select" %}
    {% include "form_snippet.html" with field=set_form.sets %}
    
    <tr>
        <td><input type="submit" value="{% trans 'Save' %}" /></td>
        <td></td>
    </tr>
</table>
</form>


{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
{% endblock %}
