{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{% trans "Edit" %} {{ day.description }}{% endblock %}

<!--
        Header
-->
{% block header %}
<script src="{% static 'js/jquery.validate.js' %}"></script>

<script>
$(document).ready(function() {
    init_edit_set();
});
</script>

{% endblock %}

<!--
        Main Content
-->
{% block content %}

<h2>{% trans "Edit" %} {{ day.description }}</h2>


<form action="{% url manager.views.edit_set workout.id day.id set.id %}"
      method="post"
      class="ym-form">
{% csrf_token %}
<table>

    
    
    <tr id="form-ajax-{{set_form.exercises.name}}">
        <td style="text-align:right;">
            {% trans set_form.exercises.label %}
        </td>
        <td>
            <div class="ym-fbox-text">
                 <input type="text" id="exercise-search">
            </div>
            <div id="exercise-search-log"></div>
        </td>
    </tr>    

    {% include "form_snippet.html" with field=set_form.exercises css_class="ym-fbox-select" %}
    {% include "form_snippet.html" with field=set_form.sets %}
    
    <tr>
        <td colspan="2">
            <input type="submit" value="{% trans 'Save' %}" id="form-save">
        </td>
    </tr>
</table>
</form>


{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
{% endblock %}
