{% load i18n %}

<div class="pagination">
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}"
           class="page gradient load-maincontent">{% trans "previous" %}</a>
    {% endif %}
    

    {% for i in page_range %}
        {% if page.number != i %}
            <a href="?page={{ i }}"
               class="page gradient load-maincontent">{{i}}</a>
        {% else %}
            <span class="page active">{{i}}</span>
        {% endif %}
    {% endfor %}
    
    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}"
           class="page gradient load-maincontent">{%trans "next" %}</a>
    {% endif %}
</div>

