<form [formGroup]="group" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        type="text"
        id="description"
        class="form-control"
        formControlName="description"
        rows="6"></textarea>
    </div>

    <div class="form-group">
      <label for="category">Categories dropdown:</label>
      <select formControlName="category" class="form-control" id="category">
        <option *ngFor="let category of categories"
                value="{{category.id}}"
                [selected]="category.id === exercise.category.id">
          {{category.name}}
        </option>
      </select>

    </div>



    <p>Muscles</p>
    <div formArrayName="muscles" *ngFor="let order of musclesFormArray.controls; let i = index" class="form-check">
      <input type="checkbox" [formControlName]="i" [value]="muscles[i].id" class="form-check-input" id="muscle-{{i}}">
      <label class="form-check-label" for="muscle-{{i}}">
        {{muscles[i].name}}
      </label>
    </div>

    <p>Secondary Muscles</p>
    <div formArrayName="musclesSecondary" *ngFor="let order of musclesSecondaryFormArray.controls; let i = index" class="form-check">
      <input type="checkbox" [formControlName]="i" [value]="muscles[i].id" class="form-check-input" id="secondary-muscle-{{i}}">
      <label class="form-check-label" for="secondary-muscle-{{i}}">
        {{muscles[i].name}}
      </label>
    </div>

    <p>Equipment</p>
    <div formArrayName="equipment" *ngFor="let order of equipmentFormArray.controls; let i = index" class="form-check">
      <input type="checkbox" [formControlName]="i" [value]="equipment[i].id" class="form-check-input">
      <label class="form-check-label">
        {{equipment[i].name}}
      </label>
    </div>


    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!group.valid">Save</button>
  </div>


</form>
