{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load wger_extras %}

{% block title %}{% trans "Change password" %}{% endblock %}


{% block content %}
<form action="{% url 'change-password' %}"
      method="post"
      class="ym-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
<table>
{% yaml_form_field form.old_password %}
{% yaml_form_field form.new_password1 %}
{% yaml_form_field form.new_password2 %}
    <tr>
        <td colspan="2">
            <input type="submit" value="{% trans 'Change password' %}" id="form-save">
        </td>
    </tr>
</table>
</form>
{% endblock %}
