{% extends "base.html" %}
{% load i18n %}

{% comment %}Translators: Don't translate, this is already done by Django{% endcomment %}
{% block title %}{% trans "Password reset successful" %}{% endblock %}


{% block content %}

{% comment %}Translators: Don't translate, this is already done by Django{% endcomment %}
<h2>{% trans 'Password reset successful' %}</h2>

{% comment %}Translators: Don't translate, this is already done by Django{% endcomment %}
<p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>

{% endblock %}
