<li class="list-group-item">
  <div class="row">
    <div class="col-3">
      <div *ngIf="!showForm">
        {{entry.date | date:'shortDate'}}
      </div>
    </div>

    <div class="col-3">
      <div *ngIf="!showForm">
        {{entry.weight}}
      </div>
    </div>

    <div class="col-3">
      +/-
    </div>

    <div class="col-3">
      <div ngbDropdown class="text-right">
        <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="toggleForm()" i18n>Edit</button>
          <button ngbDropdownItem (click)="deleteEntry()" i18n>Delete</button>
        </div>
      </div>

    </div>
  </div>

  <app-weight-edit *ngIf="showForm" [weight]="entry"></app-weight-edit>


</li>
