{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{% trans "Ingredient weight units" %}{% endblock %}


{% block content %}
<ul class="list-group">
    {% for unit in unit_list %}
    <li class="list-group-item ">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                <span class="{% fa_class 'cog' %}"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="{% url 'nutrition:weight_unit:edit' unit.id %}" class="wger-modal-dialog">{% trans 'Edit' %}</a>
                </li>
                <li>
                    <a href="{% url 'nutrition:weight_unit:delete' unit.id %}" class="wger-modal-dialog">{% trans 'Delete' %}</a>
                </li>
            </ul>
        </div>
        {{unit.name}}
    </li>
    {% empty %}
        <li class="list-group-item">
            {% trans "Nothing found" %}
        </li>
    {% endfor %}
</ul>


{% pagination paginator page_obj %}
{% endblock %}




{#         #}
{# Options #}
{#         #}
{% block options %}
    <a href="{% url 'nutrition:weight_unit:add' %}" class="btn btn-success btn-sm wger-modal-dialog">
        {% trans "Add new weight unit" %}
    </a>
{% endblock %}
