{% extends "template.html" %}
{% load i18n %}
{% block template %}
    <div id="current-url" data-current-url="{{request_full_path}}"></div>
    <div id="current-language" data-current-language="{{language.short_name}}"></div>

    {% if not user.is_authenticated or user.get_profile.is_temporary %}
        <div data-role="popup" data-overlay-theme="a" id="popupGuestUser" class="ui-content">
        {% trans "You are using a guest account, data entered will be deleted after a week."%}
        {% if not has_demo_data %}
        <a href="{% url 'demo-entries' %}"
           rel="nofollow"
           data-role="button"
           data-mini="true"
           data-ajax="false">{% trans "Create some demo entries" %} »</a>
        {% endif %}
        </div>
    {% endif %}
    <div data-role="content" id="content">
        <h2>{% block title %}{% endblock %}</h2>
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
    </div>
{% endblock %}
