<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="author" content="Roland Geider">

    <!--
    This file is part of Workout Manager

    Workout Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Workout Manager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
    -->


    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/yaml/demos/css/flexible-grids.css' %} ">--> <!-- CSS framework for the layout -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/yaml/custom-yaml.css' %}">               <!-- Customisations for yaml      -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-mobile.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/workout-manager-common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/workout-manager-mobile.css' %}">


    <script src="{% static 'js/jquery.js' %}"          type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui.js' %}"       type="text/javascript"></script>

    <script src="{% static 'js/jquery-mobile.js' %}"  type="text/javascript"></script>
    <!--<script src="{% static 'js/workout-manager.js' %}" type="text/javascript"></script>-->

    {% block header %}{% endblock %}
</head>
<body>

<div data-role="page">

    <header data-role="header">
        <h1>wger Workout Manager</h1>
        <a href="#popupBasic"
           class="ui-icon-nodisc"
           data-rel="popup"
           data-theme="b"
           data-icon="bars"
           data-iconpos="notext"
           data-iconshadow="false"></a>
    </header>

    <div data-role="navbar">
        <ul>
            <li {% if active_tab == 'user' %}class="active"{% endif %}>
            {% if not user.is_authenticated %}
                <a href="{% url login %}">{% trans "Login" %}</a>
            {% else %}
                <a href="{% url index %}">{% trans "Dashboard" %}</a>
            {% endif %}
            </li>

            {% if user.is_authenticated %}
            <li {% if active_tab == 'workout'   %}class="active"{% endif %}>
                <a href="{% url wger.manager.views.overview %}">{% trans "Workouts" %}</a>
            </li>
            <li class="dropdown {% if active_tab == 'nutrition' %}active{% endif %}">
                <a href="{% url wger.nutrition.views.overview %}">{% trans "Nutrition" %}</a>
            </li>
            {% endif %}

            {% if not user.is_authenticated %}
            <li class="dropdown {% if active_tab == 'software' %}active{% endif %}">
                <a href="{% url software:features %}">{% trans "Features" %}</a>
           </li>
           {% endif %}
       </ul>
    </div>

    <div data-role="popup" id="popupBasic">
        <ul data-role="listview" data-inset="true">
            <li {% if active_tab == 'user' %}class="active"{% endif %}>
            {% if not user.is_authenticated %}
                <a href="{% url login %}">{% trans "Login" %}</a>
            {% else %}
                <a href="{% url index %}">{% trans "Dashboard" %}</a>
            {% endif %}
            </li>

            {% if user.is_authenticated %}
            <li {% if active_tab == 'workout'   %}class="active"{% endif %}><a href="{% url wger.manager.views.overview %}">{% trans "Workouts" %}</a></li>
            {% endif %}

            <li>
                <a href="{% url wger.exercises.views.exercise_overview %}"
                   class="dropdown-toggle"
                   data-toggle="dropdown">{% trans "Exercises" %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url wger.exercises.views.exercise_overview %}">{% trans "Exercises" %}</a></li>
                    <li><a href="{% url muscle-overview %}">{% trans "Muscle overview" %}</a></li>
                </ul>
            </li>

            {% if user.is_authenticated %}
            <li>
                <a href="{% url wger.weight.views.overview %}"
                   class="dropdown-toggle"
                   data-toggle="dropdown">{% trans "Weight" %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url wger.weight.views.overview %}">{% trans "Weight overview" %} </a></li>
                    <li><a href="{% url weight-add %}">{% trans "Add weight entry" %}</a></li>
                </ul>
            </li>
            {% endif %}

            <li>
                <a href="{% url wger.nutrition.views.overview %}"
                   class="dropdown-toggle"
                   data-toggle="dropdown">{% trans "Nutrition" %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                    <li><a href="{% url wger.nutrition.views.overview %}">{% trans "Nutrition plans" %} </a></li>
                {% endif %}
                    <li><a href="{% url wger.nutrition.views.ingredient_overview %}">{% trans "Ingredient overview" %}</a></li>
                </ul>
            </li>



            <li>
                <a href=""
                   class="dropdown-toggle"
                   data-toggle="dropdown">{% trans "About this software" %} <b class="caret"></b></a>
                <ul>
                    <li><a href="{% url software:features %}">{% trans "Features" %}</a></li>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url demo-account %}">{% trans "Demo account" %} </a></li>
                    {% endif %}
                    <li><a href="{% url software:issues %}">{% trans "Report problem" %} </a></li>

                    <li data-role="list-divider">{% trans "Developers" %}</li>
                    <li><a href="{% url software:code %}">{% trans "Get the code" %} </a></li>
                    <li><a href="{% url software:license %}">{% trans "License" %} </a></li>
                    <li><a href="{% url software:changelog %}">{% trans "Changelog" %} </a></li>
                </ul>
            </li>

            <li><a href="#">{% trans "Options" %}</a>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url wger.manager.views.logout %}" id="logout" class="browserid-logout">
                    {% trans 'Logout' %}
                    </a>
                </li>
                <li>
                    <a href="{% url wger.manager.views.preferences %}">
                    {% trans 'My preferences' %}
                    </a>
                </li>
                <li data-role="list-divider">{% trans "Languages" %}</li>
                {% endif %}

                <li>
                    <img src="{% static 'images/icons/flag-de.svg' %}"
                         width="16"
                         height="16"
                         alt="{% trans 'German' %}"
                         title="{% trans 'German' %}"
                         class="ui-li-icon">
                    <a href="/de/">{% trans "German" %}</a>
                </li>
                <li>
                    <img src="{% static 'images/icons/flag-en.svg' %}"
                         width="16"
                         height="16"
                         alt="{% trans 'English' %}"
                         title="{% trans 'English' %}"
                         class="ui-li-icon">
                    <a href="/en/">{% trans "English" %}</a>
                </li>

                <li data-role="list-divider">{% trans "Site version" %}</li>
                <li>
                    <a href="?flavour=full" data-ajax="false">{% trans "Desktop" %}</a>
                </li>
                <li>
                    <a href="?flavour=mobile" data-ajax="false">{% trans "Mobile" %}</a>
                </li>
            </ul>
            </li>
        </ul>

    </div>



    <div data-role="content">
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
    </div>

    <div data-role="footer">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                © <a href="mailto:roland@NO!SPAM!geider.net">Roland Geider</a>
            </div>

            <div class="ui-block-b">
                <em class="dimmed">{{version}}</em>
            </div>
        </div>
    </div>

</div><!-- /page -->

</body>
</html>
