/*
 * Custom Metrics Graphics styles
 */

.mg-x-axis text,
.mg-y-axis text,
.mg-histogram .axis text {
    font-size: 1.3rem;
}


.mg-active-datapoint {
    fill: black;
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.8;
}

.mg-area1-color {
    fill: #729fcf;
}

.mg-area2-color {
    fill: #8ae234;
}

.mg-area3-color {
    fill: #ef2929;
}

.mg-area4-color {
    fill: #fcaf3e;
}

.mg-area5-color {
    fill: #888a85;
}

path.mg-main-area {
    opacity: 0.9;
    stroke: none;
}

.mg-line1-color{
    stroke: black;
}


.mg-line-rollover-circle{
    fill: black;
}