/*
    This file is part of Workout Manager

    Workout Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Workout Manager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
*/

/**************************************************************
 *
 * This file contains custom classes and styles
 *
 **************************************************************/

#main-footer{
    background: none repeat scroll 0% 0% #EEE;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #000;
    padding-top: 1em;
    padding-bottom: 1em;
}

#main{
    background-color: #FFF;
}


/*
 * Images in links are vertically aligned
 */

a img{
    vertical-align: middle;
}

/*
 * "invisible" elements, simply hidden (they still take all the space)
 */
.invisible{
    display: none;
}

.align-right
{
    text-align: right;
}

.sortable-settings
{
    border: 1px solid black;
}

.sortable-settings-drag
{
    padding-left: 1em;
    padding-right: 1em;
    background-color: #babdb6;
    border-bottom:1px solid black;
}

/*
 * Set a more appropriate cursor to the drag'n'drop handle on the
 * workout view
 */
.dragndrop-handle{
    cursor:move
}

/**************************************************************
 * Mouse hover options
 **************************************************************/
/*
 * Hide the edit options (edit, delete) on tables, only show them when the mouse is over the row
 */
.editoptions
{
    visibility: hidden;
}

tr:hover .editoptions, tbody tr:hover td .editoptions, ul:hover .editoptions
{
    visibility: visible;
}


/*
 * Deactivate the default background color on hover
 */
.editoptions a:hover,
.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ajax-exercise-select a:hover,
.no-hover a:hover,
.no-hover:hover {
    background-color: transparent;
}


/*
 * Images inside a link are set to greyscale till mouseover
 */
/*
a img
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

a:hover img
{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);	
}
*/

/*
 * Set the sizes for the background where the muscles are shown on the exercise view page
 */
div.muscle-background
{
    width: 180px;
    height: 276px;
    background-size: 150px;
    background-repeat: no-repeat;
}

/*
 * Set an additional padding to the generated DIV on the edit set page
 */
#exercise-search-log{
    padding-left: 1em;
}


/**************************************************************
 * Workout log
 **************************************************************/
/*
 * Workout log entry page needs the horizontal space
 */
.workout-log-table .narrow-input {
    width: 7em;
}


/**************************************************************
 * Header
 **************************************************************/

/*
 * Add a shadow to the application name
 */
header h1{
    text-shadow: 2px 3px 3px #292929;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

header a,
header a:hover, 
header a:focus{
    color:white;
    font-size:90%;
}

header span.name{
    text-shadow: 2px 3px 3px #292929;
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size:   350%;
    color:       white;
}


header span.regular{
    text-shadow: 2px 3px 3px #292929;
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size:   350%;
    color:       white;
}

/*
 * Make more space for the page title
 */
#page-title{
    margin-top: 0.5em;
}

#content-wrapper{
    padding-top: 0.8em;
}


/*
 * Links in warning boxes get a different style, the default blue doesn't match
 * well with orange
 */
div.success a, div.success a:hover, div.success a:active,
div.warning a, div.warning a:hover, div.warning a:active,
div.info a, div.info a:hover, div.info a:active{
    color: black;
    text-decoration: underline;
    background-color: transparent;
}


/**************************************************************
 * Autocompleter
 **************************************************************/
/*
 * Category heading for the ajax autocompleter
 */
.ui-autocomplete-category {
    margin:0;
    text-align: center;
    zoom: 1;
    width: 100%;
    font-weight: bold;
    background-color: #D3D7CF;
    border-bottom: 1px solid #888a85;
}

/*
 * Give the result list from the autocompleter a maximum size
 */
.ui-autocomplete {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    overflow-x: hidden; /* prevent horizontal scrollbar */
}

/*
 * Give odd child's a different background colour (thanks CSS3!)
 */
.ui-autocomplete li.ui-menu-item:nth-child(odd)
{
    background: #eeeeec;
}


/**************************************************************
 * extra-bold fonts
 **************************************************************/

.extra-bold{
    font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/**************************************************************
 * Set edit window
 **************************************************************/
#slider{
    width: 91%;
    float: right;
    margin-right: 1em;
}


/**************************************************************
 * Carousel on the feature page
 **************************************************************/
#feature-carousel .carousel-caption
{
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
}

/**************************************************************
 * 'Your ...' shoutouts on the feature page
 **************************************************************/
#shoutout h2:first-child {
    margin-top: 0;
}