{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %} 

{% block header %}
<script src="{% static "js/tinymce/tiny_mce.js" %}"></script>
<script src="{% static "js/workout-manager.js" %}"></script>
<script type="text/javascript">
init_tinymce();
</script>      
{% endblock %}

<!--
        Title
-->
{% block title %}{% trans "Exercise details" %}{% endblock %}




<!--
        Main Content
-->
{% block content %}

<h2>{% if exercise.id %}
        {% trans "Edit" %} {{ exercise.name }}
    {% else %}
        {% trans "New exercise" %}
    {% endif %}
</h2>


<form action="/exercise/edit/{% if exercise.id %}{{ exercise.id }}{% endif %}"
      method="post"
      class="ym-form">
{% csrf_token %}
{{ edit_form.non_field_errors }}
<table>
    {% include "form_snippet.html" with field=edit_form.category css_class="ym-fbox-select" %}
    {% include "form_snippet.html" with field=edit_form.name %}
    {% include "form_snippet.html" with field=edit_form.description %}
    <tr>
        <td><input type="submit" value="{% trans 'Save' %}" /></td>
        <td></td>
    </tr>
</table>
</form>


{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{% endblock %}