{% extends "base.html" %}
{% load i18n %} 
{% load staticfiles %}


{% block header %}
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/tinymce/tiny_mce.js" %}"></script>
<script src="{% static "js/workout-manager.js" %}"></script>

<script>
function custom_modal_init()
{
    // Set up the tinyMCE editor on modal dialogs
    init_tinymce();
}

$(document).ready(function() {
	
	// Init the modal dialog to edit the exercise
	form_modal_dialog();
});

</script>
{% endblock %}
<!--
        Title
-->
{% block title %}{{ exercise.name }}{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{{ exercise.name }}</h2>

<p>{% trans "Category" %}: <strong>{{ exercise.category.name }}</strong></p>

<p>{{ exercise.description|safe }}</p>

<table>
    <thead>
        <tr>
            <th colspan="2">{% trans "All comments for this exercise" %}</th>
        </tr>
    </thead>
    <tbody>
{% for comment in exercise.exercisecomment_set.all %}
    <tr>
        <td>
            {% if comment_edit.id == comment.id %}
            <form action="{% url exercises.views.exercise_view exercise.id comment.id %}" method="post">
                {% csrf_token %}
                {{ comment_edit_form.comment }}
                <input type="submit" value="{% trans "Save" %}" />
            </form>
            {% else %}
            {{ comment }}
            {% endif %}
        </td>
        <td class="align-right">
        {% if perms.exercises %}
            <div class="editoptions">
                <a href="{% url exercises.views.exercisecomment_delete comment.id %}" title="{% trans 'Delete' %}">[x]</a>
                <a href="{% url exercises.views.exercise_view exercise.id comment.id %}" title="{% trans 'Edit' %}">[e]</a>
            </div>
         {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td>{% trans "Sorry, no comments for this exercise yet!" %}</td>
    </tr>
{% endfor %}
</ul>
    </tbody>
</table>

{% if perms.exercises %}
<h3>{% trans "Add new comment" %}</h3>
<form action = "{% url exercises.views.exercise_view exercise.id %}"
      method = "post"
      id = "new_comment_form">
{% csrf_token %}
{{ comment_form.comment }}
<input type="submit" value="{% trans "Save" %}" />
</form>
{% endif %}

{% endblock %}


<!--
        Side bar?
-->
{% block sidebar %}


{% if exercise.muscles.all %}
<h3>{% trans "Muscles" %}</h3>
<p>
    {% trans "The diagram shows the most used muscles on this exercise" %}
</p>

<div class="ym-grid linearize-level-1">
    <div class="ym-g50 ym-gl">
        <div class="ym-gbox-left">
            <div id="muscle-front" class="muscle-background" style="background-image: {% for background in muscle_backgrounds %}url({% static background %}){% if not forloop.last %},{% endif %}{% endfor %};">
            </div>
        </div>
    </div>
    <div class="ym-g40 ym-gr">
        <div class="ym-gbox-right">
            <ul>
                {% for muscle in exercise.muscles.all %}
                <li>{{muscle.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% if perms.exercises %}
<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url exercises.views.exercise_edit exercise.id %}"
       class="modal-dialog">
        <img src="{% static 'images/icons/edit.svg' %}"
             width="32"
             height="32"
             alt="{% trans 'Edit' %}"
             >
        {% trans "Edit" %}
    </a>
</p>
<p>
    <a href="{% url exercises.views.exercise_delete exercise.id %}">
	<img src="{% static 'images/icons/trash.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Delete' %}">
	    {% trans "Delete" %}
    </a>
</p>
{% endif %}
{% endblock %}
