{% extends "base.html" %}
{% load i18n %} 
{% load staticfiles %}


{% block header %}
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/tinymce/tiny_mce.js" %}"></script>
<script src="{% static "js/workout-manager.js" %}"></script>

<script>
function custom_modal_init()
{
    // Set up the tinyMCE editor on modal dialogs
    init_tinymce();
}

$(document).ready(function() {
	
	// Init the modal dialog to edit the exercise
	form_modal_dialog();
});

</script>
{% endblock %}
<!--
        Title
-->
{% block title %}{{ exercise.name }}{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{{ exercise.name }}</h2>

<p>{% trans "Category" %}: <strong>{{ exercise.category.name }}</strong></p>

<p>{{ exercise.description|safe }}</p>

<table>
    <thead>
        <tr>
            <th colspan="2">{% trans "All comments for this exercise" %}</th>
        </tr>
    </thead>
    <tbody>
{% for comment in exercise.exercisecomment_set.all %}
    <tr>
    <td>
            {{ comment }}
        </td>
        <td class="align-right">
        {% if perms.exercises %}
            <div class="editoptions">
                <a href="{% url exercises.views.exercisecomment_delete comment.id %}"
                   title="{% trans 'Delete' %}">
                   <img src="{% static 'images/icons/trash.svg' %}"
                        width="16"
                        height="16"
                        alt="{% trans 'Delete' %}">
                </a>
                <a href="{% url exercisecomment-edit comment.id %}"
                   title="{% trans 'Edit' %}"
                   class="modal-dialog">
                   <img src="{% static 'images/icons/edit.svg' %}"
                        width="16"
                        height="16"
                        alt="{% trans 'Edit' %}">
                </a>
            </div>
         {% endif %}
        </td>
    </tr>
{% empty %}
    <tr>
        <td>{% trans "No comments for this exercise" %}</td>
    </tr>
{% endfor %}
    </tbody>
</table>



{% if perms.exercises %}
<p>
    <a href="{% url exercisecomment-add exercise.id %}"
       title="{% trans 'Add' %}"
       class="modal-dialog">{% trans "Add new comment" %}</a>
</p>
{% endif %}

{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}


{% if exercise.muscles.all %}
<h3>{% trans "Muscles" %}</h3>
<p>
    {% trans "The diagram shows the most used muscles on this exercise" %}
</p>

{% if muscle_backgrounds_front %}
<div class="ym-grid linearize-level-1">
    <div class="ym-g50 ym-gl">
        <div class="ym-gbox-left">
            <div id="muscle-front" class="muscle-background" style="background-image: {% for background in muscle_backgrounds_front %}url({% static background %}){% if not forloop.last %},{% endif %}{% endfor %};">
            </div>
        </div>
    </div>
    <div class="ym-g40 ym-gr">
        <div class="ym-gbox-right">
            <ul>
                {% for muscle in exercise.muscles.all %}
                {% if muscle.is_front %}
                <li>{{muscle.name}}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}


{% if muscle_backgrounds_back %}
<div class="ym-grid linearize-level-1">
    <div class="ym-g50 ym-gl">
        <div class="ym-gbox-left">
            <div id="muscle-front" class="muscle-background" style="background-image: {% for background in muscle_backgrounds_back %}url({% static background %}){% if not forloop.last %},{% endif %}{% endfor %};">
            </div>
        </div>
    </div>
    <div class="ym-g40 ym-gr">
        <div class="ym-gbox-right">
            <ul>
                {% for muscle in exercise.muscles.all %}
                {% if not muscle.is_front %}
                <li>{{muscle.name}}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}


{% endif %}

{% if perms.exercises %}
<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url exercise-edit exercise.id %}"
       class="modal-dialog">
        <img src="{% static 'images/icons/edit.svg' %}"
             width="32"
             height="32"
             alt="{% trans 'Edit' %}"
             >
        {% trans "Edit" %}
    </a>
</p>
<p>
    <a href="{% url exercise-delete exercise.id %}">
	<img src="{% static 'images/icons/trash.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Delete' %}">
	    {% trans "Delete" %}
    </a>
</p>
{% endif %}
{% endblock %}
