{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load manager_extras %}


{% block title %}{% trans "Get the code" %}{% endblock %}

{% block content %}
<h2>{% trans "Download" %}</h2>

<h3>{% trans "Stable version" %}</h3>

<p>{% blocktrans %}Click here to download the last stable version. For
installation instructions see below.{% endblocktrans %}</p>

<div class="box success" style="text-align: center;">
<p><strong><a href="https://bitbucket.org/rolandgeider/workout_manager/get/1.0.3.zip">1.0.3</a></strong></p>
</div>

<h3>{% trans "Development version" %}</h3>

<p>{% blocktrans %}Get the development version if you want to contribute to the project,
or simply want the latest of the latest. I probably don't need to tell you that this
version will have more bugs and should not be used to keep important data,
right?.{% endblocktrans %}</p>

<p>{% blocktrans %}There are two repositories you can clone:{% endblocktrans %}</p>
{% blocktrans %}<ul>
    <li>
        <strong><a href="https://bitbucket.org/rolandgeider/workout_manager">bitbucker (HG)</a></strong>,
        the main repository. All work happens here.<br>
        <code>hg clone https://bitbucket.org/rolandgeider/workout_manager</code>
    </li>
    <li style="padding-top: 1em;">
        <strong><a href="https://github.com/rolandgeider/workout_manager">github (GIT)</a></strong>,
        a mirror of the main repo.<br>
        <code>git clone https://github.com/rolandgeider/workout_manager.git</code>
    </li>
</ul>{% endblocktrans %}

<p>{% trans "Pull requests are welcome :)" %}</p>


<h2>{% trans "Installation" %}</h2>

<p>{% blocktrans %}This is a Django application, so refer for details to its
<a href="https://docs.djangoproject.com/en/1.4/intro/install/">documentation page</a>
if things don't go as expected.</p>{% endblocktrans %}

<p>{% blocktrans %}In short, these are the steps to perform for an installation
on a <em>linux</em> machine, with python already installed. If you are using e.g.
Windows or OSX, take a look at the link above.</p>{% endblocktrans %}

<p>{% blocktrans %}I personally like installing my development
files on a virtualenv, it helps keep the system more or less clean and are very
easy to set up, but you can skip this step if you don't mind installing all
dependencies system-wide (in that case, install django and reportlab with a
<code>sudo apt-get install</code>).{% endblocktrans %}</p>

<code>
$ sudo apt-get install python-virtualenv
$ sudo apt-get install python-dev
$ mkdir manager
$ cd manager
$ virtualenv python-django
$ source python-django/bin/activate
$ pip install django
$ pip install reportlab
$ pip install django-browserid
$ pip install django-recaptcha
$ python
</code>

<p>{% blocktrans %}Try to import the packages to see if everything
works.{% endblocktrans %}</p>

<code>
>>> import django
>>> import reportlab
</code>

<p>{% blocktrans %}If the import worked, everything is set up. Now let's install
the application itself. Get the code by either downloading a package or cloning
the repository and updating to a tag or revision.{% endblocktrans %}</p>

<code>
$ hg clone https://rolandgeider@bitbucket.org/rolandgeider/workout_manager
$ cd workout_manager/workout_manager
$ cp settings.sample.py settings.py
</code>


<p>{% blocktrans %}Open settings.py and change the settings there as appropriate.
There is another configuration file, settings_global.py that contains other global
settings, but you don't need to change anything there. For the database, the
fastest to set up is Sqlite, but you can use
<a href="https://docs.djangoproject.com/en/1.4/ref/databases/">whatever Django supports</a>.
Initialise the database and create a super user.{% endblocktrans %}</p>

<p>{% blocktrans %}For the sitemap.xml to work, you need to set a correct domain name
in the sites app. This is done via django's admin interface.{% endblocktrans %}</p>


<code>
$ cd ..
$ python manage.py syncdb
</code>

<p>{% blocktrans %}Now you are ready to go, the application is installed and
can be used. However, an application like this without data is not interesting,
so you should load some initial data to populate the categories,
etc.{% endblocktrans %}</p>

<p>{% blocktrans %}For this, load these fixtures, <em>in this order</em>,
as some dependend on each other (specially the languages). The ingrediens fixture
can take some time to process, it contains more than 8000 entries.{% endblocktrans %}</p>


<code>
$ python manage.py loaddata languages
$ python manage.py loaddata days_of_week
$ python manage.py loaddata muscles
$ python manage.py loaddata categories
$ python manage.py loaddata exercises
$ python manage.py loaddata ingredients
</code>

<p>{% blocktrans %}Now, run the server:{% endblocktrans %}</p>

<code>
$ python manage.py runserver
</code>

<p>{% blocktrans %}You can now access the site with your browser:
<code>http://localhost:8000/</code>{% endblocktrans %}</p>


{% endblock %}

