{% extends "base_wide.html" %}
{% load i18n %}
{% load wger_extras %}

{% block title%}{% trans "Get in touch" %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-6">
<p>{% blocktrans %}Thank you for your interest. Feel free to use any of the
ways below to send feedback you have about any aspect of the site. For
support, it's better to use the mailing list
(<a href="mailto:wger@googlegroups.com">wger@googlegroups.com</a>), to report
a bug, consider doing it through the <a href="{{issues}}">issue tracker</a>
.{% endblocktrans %}</p>
    </div>

    <div class="col-sm-6">
        <div class="alert alert-block alert-info">
            {% blocktrans %}If you want to further help and improve this project,
you might also be interested <a href="{{contribute}}">in contributing</a>.{% endblocktrans %}
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h4>{% trans "Feedback form" %}</h4>
        <p>{% blocktrans %}A simple contact form. Remember that
if you want an answer, you need to include some way to contact you.{% endblocktrans %}</p>
    </div>

    <div class="col-md-4">
        <h4>{% trans "Twitter" %}</h4>
        <p>{% blocktrans %}We are also on twitter. Write us and tell us what
you think! Except patches, don't send patches via twitter.{% endblocktrans %}</p>
    </div>


    <div class="col-md-4">
        <h4>{% trans "Forum / Mailing list" %}</h4>
        <p>{% blocktrans %}Use the public group to get support for your
local wger installation, discuss issues or your new idea, etc.
(no registration needed){% endblocktrans %}</p>
    </div>

    <div class="col-md-4">
        <a class="btn btn-default btn-block" href="{{feedback}}">{% trans "Open feedback form" %}</a>
    </div>
    <div class="col-md-4">
        <a href="https://twitter.com/wger_de"
              class="btn btn-default btn-block twitter-mention-button">{% trans "tweet to @wger_de" %}</a>
    </div>
    <div class="col-md-4">
        <a href="https://groups.google.com/group/wger" class="btn btn-default btn-block">{% trans "Go to mailing list" %}</a>
    </div>
</div>

{% endblock %}

