# wger cron jobs
@daily     wger /home/wger/venvwrapper clearsessions
@weekly    wger /home/wger/venvwrapper delete-temp-users
0  5 * * * wger /home/wger/venvwrapper email-reminders
15 5 * * * wger /home/wger/venvwrapper email-weight-reminders
30 5 * * * wger /home/wger/venvwrapper inactive-members
# Don't remove the empty line at the end of this file. It is required to run the cron job
