{% extends "base.html" %}
{% load i18n static wger_extras thumbnail %}

{% block title %}{% trans "Group list" %}{% endblock %}


{% block content %}

<ul class="list-unstyled">
    {% for group in object_list %}
        <li class="media">
            {% if group.image %}
                <img alt="{{ group.name }}"
                     class="mr-3 img-fluid img-thumbnail"
                     width="80"
                     src="{{ group.image|thumbnail_url:'small_cropped'}}">
            {% else %}
                <img alt="{% trans 'Placeholder image' %}"
                     class="mr-3 img-fluid img-thumbnail"
                     width="80"
                     src="{% static 'images/icons/image-placeholder.svg' %}">
            {% endif %}
            <div class="media-body">
                {% if not group.public %}
                    <span class="badge badge-pill badge-primary float-right">
                        <span class="{% fa_class 'lock' %}"></span>
                        {% trans "Private group" %}
                    </span>
                {% endif %}

                {% if user in group.get_member_list %}
                    <span class="badge badge-pill badge-primary float-right">
                        <span class="{% fa_class 'user' %}"></span>
                        {% trans "Member" %}
                    </span>
                {% endif %}

                <a href="{{ group.get_absolute_url}}">
                    <h5 class="mt-0 mb-1">{{ group }}</h5>
                </a>
                <p>{{ group.description|truncatewords:20 }}</p>

            </div>
        </li>

    {% empty %}
        <a href="{% url 'groups:group:add' %}" class="list-group-item">
            {% trans "Nothing found" %}
        </a>
    {% endfor %}
</ul>
{% endblock %}




{% block sidebar %}
<a href="{% url 'groups:group:add' %}" class="btn btn-success btn-sm wger-modal-dialog">
    {% trans "Create new group" %}
</a>
{% endblock %}
