{% extends "base.html" %}
{% load i18n staticfiles wger_extras thumbnail %}

{% block title %}{% trans "Group list" %}{% endblock %}


{% block content %}

<div class="list-group">
    {% for group in object_list %}
        <a href="{% url 'groups:group:view' group.pk %}" class="list-group-item">
        <div class="media">
            <div style="width:60px;height:60px;" class="media-left">
            {% if group.image %}
                <img alt="{{ group.name }}"
                 class="media-object img-responsive img-circle img-thumbnail"
                 style="max-width:100%; max-height:100%;"
                 src="{{ group.image|thumbnail_url:'small_cropped'}}">
            {% else %}
                <img alt="{% trans 'Placeholder image' %}"
                     class="media-object"
                     style="opacity: 0.4; padding-left: 10px; padding-right: 10px;"
                     src="{% static 'images/icons/image-placeholder.svg' %}">
            {% endif %}
            </div>
            <div class="media-body">
                {% if not group.public %}
                    <span class="label label-warning pull-right" style="margin-left: 1em;">
                        <span class="glyphicon glyphicon-lock"></span>
                        {% trans "Private group" %}
                    </span>
                {% endif %}

                {% if user in group.get_member_list %}
                    <span class="label label-primary pull-right">
                        <span class="glyphicon glyphicon-user"></span>
                        {% trans "Member" %}
                    </span>
                {% endif %}

                <h4 class="media-heading">{{ group }}</h4>

                <p class="list-group-item-text">{{ group.description|truncatewords:20 }}</p>

            </div>
        </div>
        </a>
    {% empty %}
        <a href="{% url 'groups:group:add' %}" class="list-group-item">
            {% trans "Nothing found" %}
        </a>
    {% endfor %}
</div>
{% endblock %}




{% block sidebar %}
<a href="{% url 'groups:group:add' %}" class="btn btn-success btn-sm wger-modal-dialog">
    {% trans "Create new group" %}
</a>
{% endblock %}
