{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{{ object }}{% endblock %}


{% block content %}
{% endblock %}




{% block sidebar %}
    <h4>{% trans "Members" %}</h4>
    <ul>
    {% for membership in object.membership_set.all %}
        <li>
            {{ membership.user.username }}
            {% if membership.admin %}
                <span class="label label-primary">{% trans "Admin" %}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
