{% extends "base.html" %}
{% load i18n staticfiles wger_extras thumbnail django_bootstrap_breadcrumbs %}
{% load activity_tags %}

{#             #}
{# Breadcrumbs #}
{#             #}
{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb "Groups" "groups:group:list" %}
    {% breadcrumb object object.get_absolute_url %}
{% endblock %}


{#       #}
{# Title #}
{#       #}
{% block title %}{{ object }}{% endblock %}



{#         #}
{# Content #}
{#         #}
{% block content %}

{# Render the activity stream #}
{% for event in last_activity %}
<div class="panel panel-default">
    <div class="panel-body">
        <p class="list-group-item-text pull-right">
        {# Verb #}
        <span class="glyphicon
            {% if event.verb == 'added' %}
                glyphicon-plus
            {% elif event.verb == 'created' %}
                glyphicon-asterisk
            {% elif event.verb == 'edited' %}
                glyphicon-pencil
            {% elif event.verb == 'left' %}
                glyphicon-log-out
            {% elif event.verb == 'joined' %}
                glyphicon-log-in
            {% elif event.verb == 'promoted' %}
                glyphicon-sunglasses
            {% endif %}
        "></span>

        {# Action object #}
        {% if event.action_object %}
            {% if event.action_object.get_absolute_url %}
                <a href="{{ event.action_object.get_absolute_url }}">{{ event.action_object }}</a>
            {% else %}
                {{ event.action_object }}
            {% endif %}
        {% endif %}

        {# Time #}
        {{ event.timestamp|timesince }}
        </p>

        {# Actor #}
        <h4 class="list-group-item-heading">
            {{ event.actor|format_username }}
        </h4>
    </div>

</div>
{% endfor %}
{% endblock %}



{#         #}
{# Sidebar #}
{#         #}
{% block sidebar %}

    {% if object.image %}
        <img src="{{ object.image|thumbnail_url:'large' }}" class="img-responsive img-rounded">
        <br>
    {% endif %}

    {% if object.description %}
        <h4>{% trans "Description" %}</h4>
        <p style="white-space: pre-line;">{{ object.description }}</p>
    {% endif %}

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
            {% trans "Actions" %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
            {% if user in group.get_member_list %}
                <a href="{% url 'groups:member:leave' object.pk %}">
                    {% trans "Leave group" %}
                </a>
            {% else %}
                <a href="{% url 'groups:member:join-public' object.pk %}">
                    {% trans "Join group" %}
                </a>
            {% endif %}
            </li>

            {% if user in object.get_admins_list %}
                <li class="divider"></li>
                <li>
                    <a href="{% url 'groups:group:edit' object.pk %}">{% trans "Edit" %}</a>
                </li>
                <li>
                    <a href="{% url 'groups:group:delete' object.pk %}" class="wger-modal-dialog">{% trans "Delete" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <h4>{% trans "Members" %}</h4>
    <ul class="list-group">
    {% for membership in object.membership_set.all %}
    <li class="list-group-item ">

        {{ membership.user|format_username }}
        {% if membership.admin %}
            <span class="label label-primary">{% trans "Admin" %}</span>
        {% endif %}

        {% if user in object.get_admins_list %}
            <a href="{% url 'groups:member:leave' object.pk membership.user.pk %}">{% trans "Kick out" %}</a>
        {% endif %}

        {% if user in object.get_admins_list and membership.user not in object.get_admins_list %}
            <a href="{% url 'groups:member:promote' object.pk membership.user.pk %}">{% trans "Promote to administrator" %}</a>
        {% endif %}

        {% if user in object.get_admins_list and membership.user in object.get_admins_list %}
            <a href="{% url 'groups:member:demote' object.pk membership.user.pk %}">{% trans "Demote administrator" %}</a>
        {% endif %}

    </li>
    {% empty %}
        <li class="list-group-item">
            {% trans "Nothing found" %}
        </li>
    {% endfor %}
    </ul>


    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
            {% trans "Actions" %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{% url 'manager:workout:add' object.pk %}">{% trans 'Add workout' %}</a>
            </li>
        </ul>
    </div>
    <h4>{% trans "Workouts" %}</h4>
    <div class="list-group">
        {% for workout in object.workout_set.all %}
        <a class="list-group-item" href="{{ workout.get_absolute_url }}">
            {{ workout }}
        </a>
        {% endfor %}
    </div>

{% endblock %}
