{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{{ object }}{% endblock %}


{% block content %}
{% endblock %}




{% block sidebar %}

    {% if object.description %}
    <h4>{% trans "Description" %}</h4>
    <p style="white-space: pre-line;">{{ object.description }}</p>
    {% endif %}

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
            {% trans "Actions" %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
            {% if user in group.get_member_list %}
                <a href="{% url 'groups:member:leave' object.pk %}">
                    {% trans "Leave group" %}
                </a>
            {% else %}
                <a href="{% url 'groups:member:join-public' object.pk %}">
                    {% trans "Join group" %}
                </a>
            {% endif %}
            </li>

            {% if user in object.get_admins_list %}
                <li class="divider"></li>
                <li>
                    <a href="{% url 'groups:group:edit' object.pk %}">{% trans "Edit" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>


    <h4>{% trans "Members" %}</h4>
    <ul class="list-group">
    {% for membership in object.membership_set.all %}
    <li class="list-group-item ">

        {{ membership.user.username }}
        {% if membership.admin %}
            <span class="label label-primary">{% trans "Admin" %}</span>
        {% endif %}

        {% if user in object.get_admins_list %}
            <a href="{% url 'groups:member:leave' object.pk membership.user.pk %}">{% trans "Kick out" %}</a>
        {% endif %}

        {% if user in object.get_admins_list and membership.user not in object.get_admins_list %}
            <a href="{% url 'groups:member:promote' object.pk membership.user.pk %}">{% trans "Promote to administrator" %}</a>
        {% endif %}

        {% if user in object.get_admins_list and membership.user in object.get_admins_list %}
            <a href="{% url 'groups:member:demote' object.pk membership.user.pk %}">{% trans "Demote administrator" %}</a>
        {% endif %}

    </li>
    {% empty %}
        <li class="list-group-item">
            {% trans "Nothing found" %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
