{% extends extend_template %}
{% load i18n static crispy_forms_tags %}


<!--
        Title
-->

{% block title %}{% with day_name=day.description %}{% blocktranslate %}Add exercises to day "{{day_name}}"{% endblocktranslate %}{% endwith %}{% endblock %}


<!--
        Header
-->
{% block header %}
<script>
function wgerCustomPageInit()
{
    wgerInitEditSet();
}
</script>
{% endblock %}

<!--
        Main Content
-->
{% block content %}
<form action="{{request.path}}"
      method="post"
      class="wger-form">

    {% csrf_token %}
    {{ form.exercises|as_crispy_field }}
    <div class="form-group">

        <label for="id_sets" class="control-label">
            {{form.sets.label}}:
            <span id="id_sets_value">{{ form.sets.value }}</span>
        </label>
            <input name="sets"
                   id="id_sets"
                   min="1"
                   max="10"
                   value="{{ form.sets.value }}"
                   type="range"
                   class="form-control-range">
    </div>


    <div class="form-group">
        <label class="control-label">
            {% translate "Repetitions" %}
        </label>
        <span class="form-text">{% blocktranslate %}If you do the same repetitions for all sets,
you can just enter one value: e.g. for 4 sets just enter one "10" for the repetitions, this
automatically becomes "4 x 10".{% endblocktranslate %}</span>
    </div>
    <div class="form-group">
        <div id="formsets">
        {% for formset in formsets %}
            {% include 'set/formset.html' with exercise=formset.exercise formset=formset.formset helper=helper %}
        {% endfor %}
        </div>
    </div>


    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-success btn-block" value="{% translate 'Save' %}">
    </div>
</form>
{% endblock %}
