{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load i18n static crispy_forms_tags %}

<!--
        Title
-->

{% block title %}{% translate "Edit set" %}{% endblock %}

<!--
        Main Content
-->
{% block content %}
<form action="{{request.path}}"
      method="post"
      class="wger-form">

    {% csrf_token %}
    {% for formset in formsets %}
        {% include 'set/formset.html' with base=formset.base formset=formset.formset helper=helper %}
    {% endfor %}
    <div class="form-group">
        <label for="id_comment" class="control-label">{% translate "Comment" %}:</label>
        <input id="id_comment" name="comment" class="form-control" type="text" value="{{ comment }}">
    </div>    
    <br>
     <input type="submit" class="btn btn-primary btn-success btn-block" value="{% translate 'Update' %}">
</form>
{% endblock %}
