{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}


<!--
        Title
-->

{% block title %}{% trans "Edit set" %}{% endblock %}

<!--
        Main Content
-->
{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal">

    {% csrf_token %}
    <div class="form-group">
        <label class="col-md-3 control-label">
            {% trans "Repetitions" %}
        </label>
        <div class="col-md-9">
        {% for formset in formsets %}
                {% include 'set/formset.html' with exercise=formset.exercise formset=formset.formset %}
        {% endfor %}
        </div>
    </div>

    {% render_form_submit %}
</form>
{% endblock %}
