{% load wger_extras crispy_forms_tags i18n %}
<div id="formset-base-{{ exercise.id }}" class="mt-3">
    <label class="control-label fw-bold">
        {{ exercise.get_translation.name }}
    </label>
    {{ formset.management_form }}

    <div class="row">
        <div class="col-2">{% translate "Reps" %}</div>
        <div class="col-3">{% translate "Unit" %}</div>
        <div class="col-2">{% translate "Weight" %}</div>
        <div class="col-3">{% translate "Unit" %}</div>
        <div class="col-2">{% translate "RiR" %}</div>
    </div>
    {% for field in formset %}
        {% crispy field helper %}
    {% endfor %}
</div>
