{% extends "base.html" %}
{% load i18n %} 
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{% trans "Add a new Workout" %}{% endblock %}


<!--
        Main Content
-->
{% block content %}


<p>JS, etc</p>

<h1> {% trans "Add a new Workout" %}</h1>

<form action="/workout/add" method="post">{% csrf_token %}
{{ workout_form.as_p }}
<input type="submit" value="Submit" />
</form>


<h2> {% trans "Days" %} </h2>

<p>Form goes here...</p>

<h2> {% trans "Sets on days" %} </h2>
<p>Form goes here...</p>

<h2> {% trans "Exercises on set" %} </h2>
<p>Form goes here...</p>

<ul>
{% for exercise in exercises %}
<li>{{ exercise }}</li>
{% endfor %}
</ul>

<h2> {% trans "Settings for set" %} </h2>
<p>Form goes here...</p>

{% endblock %}


<!--
        Side bar?
-->