{% extends "base.html" %}
{% load i18n %}

<!--
        Title
-->
{% block title %}{% trans "Category details" %}{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>
<h2>{% if category.id %}
        {% trans "Edit" %} {{ category.name }}
    {% else %}
        {% trans "New category" %}
    {% endif %}
</h2>

<form action="/exercise/category/edit/{% if category.id %}{{ category.id }}{% endif %}"
      method="post"
      class="ym-form"
      id="category_edit_form">
    {% csrf_token %}
    {{ category_form.non_field_errors }}
<table>
    {% include "form_snippet.html" with field=category_form.name %}
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" /></td>
        <td></td>
    </tr>
</table>
</form>


{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{% endblock %}