{% extends "base.html" %}
{% load i18n %} 
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{% trans "Exercises" %}{% endblock %}



{% block header %}
<script src="{% static "js/jquery-ui.js" %}"></script>
<script>
        $(document).ready(function() {

            // Init the tabs for the exercises
            $( "#tabs" ).tabs();

            // Init the autocompleter
            $("#exercise-search").autocomplete({
                    source: "/exercise/search/",
                    minLength: 2,
                    select: function(event, ui) {
                        
                        // Redirect to exercise after clicking on a result
                        window.location.href = '/exercise/view/' + ui.item.id
                    }
                });

        });

</script>
{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2> {% trans "Exercises" %} </h2>

<div id="tabs">
    <ul>
        {% for category in categories %}
        <li><a href="#cat{{ category.id }}">{{ category.name }}</a></li>
        {% empty %}
        <li>{% trans "No category. Use link to create one" %} </li>
        {% endfor %}
    </ul>

    {% for category in categories %}
    <div id="cat{{ category.id }}">
        <table class="narrow">
        <tbody>
            {% for exercise in category.exercise_set.all %}
                <tr>
                    <td>
                        <a href="/exercise/view/{{ exercise.id }}">{{ exercise.name }}</a>
                    </td>
                    <td style="text-align:right;">
                        <a href="/exercise/edit/{{ exercise.id }}"
                        title="{% trans "Edit" %}">[e]</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>
                        <div class="box warning">
                            {% trans "No exercises in this category. Add or edit an exercise and set its category" %} 
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% endfor %}
</div>

{% endblock %}


<!--
        Side bar?
-->
{% block sidebar %}
    <h3>{% trans "Options" %}</h3>

    <p>
        <a href="/exercise/edit">{% trans "Add new exercise" %}</a> |
        <a href="/exercise/category/edit">{% trans "Add category" %}</a>
    </p>

    <h3>{% trans "Search" %}</h3>

    <div class="ui-widget">
    <input id="exercise-search">
    </div>

    <div>
        <p class="dimmed">
        {% trans "Use the search box to search the name of any exercise." %}
        </p>
    </div>

{% endblock %}