{% extends "base.html" %}
{% load i18n %} 
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{{ exercise.name }}{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{{ exercise.name }}</h2>

<p>{% trans "Category" %}: <strong>{{ exercise.category.name }}</strong></p>


<p>{% trans "All comments for this exercise" %}:</p>

<ul>
{% for comment in exercise.exercisecomment_set.all %}
    <li>
        {% if comment_edit.id == comment.id %}
        <form action="{% url manager.views.exercise_view exercise.id comment.id %}" method="post">
            {% csrf_token %}
            {{ comment_edit_form.comment }}
            <input type="submit" value="{% trans "Save" %}" />
        </form>
        {% else %}
        <a href="{% url manager.views.exercisecomment_delete comment.id %}" title="{% trans "Delete" %}">[x]</a>
        <a href="{% url manager.views.exercise_view exercise.id comment.id %}" title="{% trans "Edit" %}">[e]</a>
        {{ comment }}
        {% endif %}
    </li>
{% empty %}
    <li>{% trans "Sorry, no comments for this exercise yet!" %}</li>
{% endfor %}
</ul>

<h3>{% trans "Add new comment" %}</h3>
<form action = "{% url manager.views.exercise_view exercise.id %}"
      method = "post"
      id = "new_comment_form">
{% csrf_token %}
{{ comment_form.comment }}
<input type="submit" value="{% trans "Save" %}" />
</form>



{% endblock %}


<!--
        Side bar?
-->
{% block sidebar %}
    <h3>{% trans "Options" %}</h3>

    <p>
        <a href="{% url manager.views.exercise_edit exercise.id %}">{% trans "Edit" %}</a> |
        <a href="{% url manager.views.exercise_delete exercise.id %}">{% trans "Delete" %}</a>
    </p>
{% endblock %}