{% extends "base.html" %}
{% load i18n %} 
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{% trans "Exercise details" %}{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{{ exercise.name }}</h2>

<p><a href="/exercise/edit/{{ exercise.id }}">{% trans "Edit" %}</a></p>

<p>{% trans "All comments for this exercise" %}</p>

<form action="/exercise/view/{{ exercise.id }}" method="post">
{% csrf_token %}
{{ comment_form.as_p }}
<input type="submit" value="Submit" />
</form>

<ul>
{% for comment in exercise.exercisecomment_set.all %}
    <li>
        {% if comment_edit.id == comment.id %}
        <form action="/exercise/view/{{ exercise.id }}/edit/comment/{{ comment.id }}" method="post">
            {% csrf_token %}
            {{ comment_edit_form.as_p }}
            <input type="submit" value="Submit" />
        </form>
        {% else %}
        {{ comment.id }}
        <a href="/exercise/comment/delete/{{ comment.id }}" title="{% trans "Delete" %}">[x]</a>
        <a href="/exercise/view/{{ exercise.id }}/edit/comment/{{ comment.id }}" title="{% trans "Edit" %}">[e]</a>
        {{ comment }}
        {% endif %}
    </li>
{% empty %}
    <li>{% trans "Sorry, no comments for this exercise yet!" %}</li>
{% endfor %}
</ul>






{% endblock %}


<!--
        Side bar?
-->