{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}


<!--
        Title
-->

{% block title %}{% with day_name=day.description %}{% blocktrans %}Add exercises to day "{{day_name}}"{% endblocktrans %}{% endwith %}{% endblock %}


<!--
        Header
-->
{% block header %}
<script>
$(document).on('pageinit', function(){
    init_edit_set();

    // Slider to set the number of sets
    $( "#id_sets" ).on( "slidestop", function(event, ui) {
        update_all_exercise_formset();
    });
});
</script>
{% endblock %}

<!--
        Main Content
-->
{% block content %}

<form action="{{form_action}}"
      method="post"
      class="ym-form">

{% csrf_token %}
<table>
    {% yaml_form_field form.exercise_list %}
    <tr>
        <td colspan="2">
            <div id="exercise-search-log"></div>
        </td>
    </tr>
    <tr>
        <td style="text-align:right;width:40%;">
            <label for="id_sets">{{form.sets.label}}</label>
        </td>
        <td>
            <input name="sets" id="id_sets" min="1" max="10" value="{{ form.sets.value }}" type="range">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="dimmed">{% blocktrans %}If you do the same repetitions for all sets,
you can just enter one value: e.g. for 4 sets just enter one "10" for the repetitions, this
automatically becomes "4 x 10".{% endblocktrans %}</p>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <div id="formsets">
            {% for formset in formsets %}
                    {% include 'set/formset.html' with exercise=formset.exercise formset=formset.formset %}
            {% endfor %}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="{% url 'core:index' %}"
               data-role="button"
               data-rel="back"
               data-mini="true">{% trans "Cancel" %}</a>
            <input type="submit" value="{% trans 'Save' %}" id="form-save">
        </td>
    </tr>
</table>
</form>
{% endblock %}