{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{{routine.name}}{% endblock %}


{% block content %}
<p>{{routine.description}}</p>
<table class="table table-condensed">
    <thead>
    <tr>
        <th>{% trans "Exercise" %}</th>
        <th>{% trans "Reps" %}</th>
        <th>{% trans "Weight" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for config in routine %}


        {% ifchanged config.week %}
        <tr>
            <th colspan="3" class="active">
                {% trans "Week" %} {{config.week}}
            </th>
        </tr>
        {% endifchanged %}

        {% ifchanged config.day %}
        <tr>
            <th colspan="3">
                {% trans "Day" %} {{config.day}}
            </th>
        </tr>
        {% endifchanged %}

        <tr>
            <td>
                {{config.exercise}}
            </td>
            <td>
                {{config.sets}} × {{config.reps}}
            </td>
            <td>
                {{config.weight}} {% trans "kg." %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block sidebar %}
<h4>{% trans "Info" %}</h4>
<p>{% blocktrans %}If you don't quite like the routine, you can edit and change
any part of it once you have added it to your list.{% endblocktrans %}</p>


<h4>{% trans "Options" %}</h4>
{% if user.is_authenticated %}
<p>
    <a href="{% url 'routines-create-schedule' routine.short_name %}" {% auto_link_css flavour %}>
        <img src="{% static 'images/icons/status-on.svg' %}"
             width="32"
             height="32"
             alt="{% trans 'Use this routine' %}"
             >
        {% trans "Use this routine" %}
    </a>
</p>
{% endif %}

<p>
    <a href="{% url 'routines-pdf' routine.short_name %}" {% auto_link_css flavour %}>
        <img src="{% static 'images/icons/save.svg' %}"
             width="32"
             height="32"
             alt="{% trans 'Download as PDF' %}">
        {% trans "Download as PDF" %}
    </a>
</p>
<p>
    <a href="{% url 'routines-generator' %}" {% auto_link_css flavour %}>
        <img src="{% static 'images/icons/list.svg' %}"
             width="32"
             height="32"
             alt="{% trans 'Routine generator' %}">
        {% trans "Routine generator" %}
    </a>
</p>
{% endblock %}
