{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Weightlifting routines generator" %}{% endblock %}

{% block header %}
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script>
angular.module("routineGenerator", ["ngRoute"])
.config(function ($routeProvider) {
    $routeProvider.when("/detail/:name", {
        templateUrl: "/partials/routine-generator/detail",
        controller: "routineDetailCtrl"
    });

    $routeProvider.otherwise({
        templateUrl: "/partials/routine-generator/overview"
    });
});
</script>
<script src="{% static 'js/angularjs/ng-modules/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/controllers/wger.js' %}"></script>
{% endblock %}

{% block content %}
<div data-ng-app="routineGenerator">
<div data-ng-controller="routineListCtrl">
    <ng-view />
</div>
</div>
{% endblock %}


{% block sidebar %}
<h4>{% trans "Info" %}</h4>
<p>{% blocktrans %}If you don't quite like the routine, you can edit and change
any part of it once you have added it to your list.{% endblocktrans %}</p>
{% endblock %}
