{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Weightlifting routines generator" %}{% endblock %}

{% block header %}
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script>
angular.module("routineGenerator", ["ngRoute", "ngResource"])
.config(function ($routeProvider) {
    $routeProvider.when("/detail/:name", {
        templateUrl: "/partials/routine-generator/detail",
        controller: "routineDetailCtrl"
    });

    $routeProvider.otherwise({
        templateUrl: "/partials/routine-generator/overview"
    });
});
</script>
<script src="{% static 'js/angularjs/ng-modules/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/ng-modules/angular-resource.js' %}"></script>
<script src="{% static 'js/angularjs/controllers/routines.js' %}"></script>e
{% endblock %}

{% block content %}
<div data-ng-controller="routineListCtrl">
    <data-ng-view />
</div>
{% endblock %}


{% block sidebar %}
<h4>{% trans "Info" %}</h4>
<p>{% blocktrans %}If you don't quite like the routine, you can edit and change
any part of it once you have added it to your list.{% endblocktrans %}</p>

<div >
<form data-ng-controller="routineDetailCtrl">
    Max bench <input type="number" min="0" max="300" step="1" name="max_bench" value="100" data-ng-model="config.max_bench"><br>
    Max squat <input type="number" min="0" max="300" step="1" name="max_squat" value="100" data-ng-model="config.max_squat"><br>
    Max deadlift <input type="number" min="0" max="300" step="1" name="max_deadlift" value="100" data-ng-model="config.max_deadlift">
    <button class="btn btn-default" data-ng-click="showRoutine()">{% trans "Update routine" %}</button>
</form>
</div>
{% endblock %}
