<div class="row">
  <div class="col-3">
    <h1 i18n>Exercises</h1>
  </div>
  <div class="col-9">

    <form class="d-flex">
      <input type="text" class="form-control" placeholder="Search">
      <a class="btn btn-primary" routerLink="/{{language}}/exercise/add">Add exercise</a>
    </form>
  </div>
</div>


<div class="row">
  <div class="col-3">
    <h5 i18n>Categories</h5>
    <div class="list-group">
      <a class="list-group-item list-group-item-action"
         (click)="setSelectedCategory(null)"
         [ngClass]="{'active': selectedCategory === null}"
         i18n>All categories</a>
      <a *ngFor="let category of categories"
         class="list-group-item list-group-item-action"
         (click)="setSelectedCategory(category.id)"
         [ngClass]="{'active': selectedCategory === category.id}">{{category.name}}</a>
    </div>

    <h5 class="mt-3" i18n>Equipment</h5>
    <div class="list-group">
      <div *ngFor="let equipment of equipment" class="list-group-item" [ngClass]="{'active': selectedEquipment.indexOf(equipment.id) !== -1}">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [checked]="selectedEquipment.indexOf(equipment.id) !== -1"
            (click)="toggleSelectedEquipment(equipment.id)"
            id="equipment-{{equipment.id}}">
          <label class="form-check-label" for="equipment-{{equipment.id}}">
            {{equipment.name}}
          </label>
        </div>
      </div>
    </div>

  </div>
  <div class="col-9">
    <div class="row row-cols-3 row-cols-md-3">
      <div *ngFor="let exercise of exercises | slice: (page-1) * pageSize : page * pageSize" class="col mt-4">
        <app-exercise-preview [exercise]="exercise"></app-exercise-preview>
      </div>
    </div>

    <div class="row ">
      <div class="col-12">
        <ngb-pagination
          [(page)]="page"
          [boundaryLinks]="true"
          [collectionSize]="exercises.length"
          [ellipses]="true"
          [maxSize]="maxPageShown"
          [pageSize]="pageSize"
          class="d-flex justify-content-center mt-2"></ngb-pagination>
      </div>
    </div>
  </div>

</div>


