{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{% trans "New weight log" %}  – {{day.description}}{% endblock %}

{% block header %}
<script type="text/javascript">
$(document).ready(function () {
    $( "#id_date" ).datepicker();
});
</script>

{% endblock %}

{% block content %}
<form action="{{form_action}}" method="POST" class="ym-form" style="overflow-x: auto;">
{% csrf_token %}
{{formset.management_form}}

{% if session_form.non_field_errors %}
<div class="ym-fbox-text ym-error">
    {% for error in session_form.non_field_errors %}
         <p class="ym-message">{% trans error %}</p>
    {% endfor %}
</div>
{% endif %}

<table class="workout-log-table">
{% yaml_form_field dateform.date %}

{% for field in session_form %}
    {% if field.name == 'impression' %}
        {% yaml_form_field field "ym-fbox-select" %}
    {% else %}
        {% yaml_form_field field %}
    {% endif %}
{% endfor %}
</table>

<h3>{% trans "Exercises" %}</h3>
<table class="workout-log-table">

{% for set in day.set_set.select_related %}
{% for exercise in set.exercises.select_related %}
    {% with value=exercises|get_item:exercise.id %}
    <tr>
        <td style="max-width: 5em; padding-right:0.4em;">
            {{value.obj.name}}
        </td>

        {% for form in value.forms %}
        <td class="narrow-input">
            <div class= "ym-fbox-text narrow-input {% if form.reps.errors %}ym-error{% endif %}">
                {{form.reps}}
            </div>

            <div class="ym-fbox-text narrow-input {% if form.reps.errors %}ym-error{% endif %}">
                 <span class="ym-message">{% trans "Reps" %}</span>
            </div>
        </td>
        <td>
            <div class= "ym-fbox-text narrow-input {% if form.weight.errors %}ym-error{% endif %}">
                {{form.weight}}
            </div>

            <div class="ym-fbox-text narrow-input {% if form.weight.errors %}ym-error{% endif %}" >
                <span class="ym-message">kg.</span>
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endwith %}
{% endfor %}
{% empty %}
<tr>
    <td>
        {% trans "Add exercises to this training day before adding a log." %}

        <br>
        <a href="{% url 'workout-view' day.training.id %}">{% trans "Back to workout" %}</a>
    </td>
</tr>
{% endfor %}
</table>

<table>
<tr>
    <td style="text-align:center;">
        <input type="submit" value="{% trans 'Save' %}" id="form-save" style="width: 95%;">
    </td>
</tr>
</table>
</form>

{% endblock %}


{% block sidebar %}
<h3>{% trans "Info" %}</h3>
<p>{% blocktrans %}The description for a workout session (impression, notes, time)
will only be saved if there is no entry for the given date.{% endblocktrans %}</p>

<h3>{% trans "Options" %}</h3>
<p>
<a href="{% url 'workout-view' day.training.id %}">
    <img src="{% static 'images/icons/list.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Back to workout' %}">
    {% trans "Back to workout" %}
</a>
</p>
{% endblock %}
