{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

<!--
        Title
-->
{% block title %}{% trans "Search results" %}{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{% trans "Search results" %} - &quot;{{ search_term }}&quot;</h2>

<form action="{% url 'wger.nutrition.views.ingredient.ingredient_search' %}"
      method="get"
      id="ingredient_search_form">
    {% csrf_token %}
    <input name="term" id="ingredient-search">
</form>

<ul>
{% for ingredient in ingredients %}
    <li><a href="{% url 'wger.nutrition.views.ingredient.ingredient_view' ingredient.id %}">{{ ingredient.name }}</a></li>
{% endfor %}
</ul>

{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{% endblock %}
