{% extends "base_wide.html" %}
{% load i18n %}
{% load static %}
{% load wger_extras %}
{% load cache %}
{% load thumbnail %}

<!--
        Title
-->
{% block title %}{% translate "Exercise admin history" %}{% endblock %}



{% block header %}

{% endblock %}


<!--
        Main Content
-->
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% translate 'User' %}</th>
                <th scope="col">{% translate 'Action Type' %}</th>
                <th scope="col">{% translate 'Object' %}</th>
                <th scope="col">{% translate 'Time' %}</th>
                <th scope="col">{% translate 'Changes' %}</th>
                <th scope="col">{% translate 'Revert' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for event in context %}
            <tr>
                <td>{{ event.stream.actor }}</td>
                <td>{{ event.stream.verb }}</td>
                <td>
                    {% if event.stream.action_object.get_absolute_url %}
                        <a href="{{ event.stream.action_object.get_absolute_url }}">{{ event.stream.action_object }}</a>
                    {% else %}
                        {{ event.stream.action_object }}
                    {% endif %}
                </td>
                <td>{{ event.stream.timesince }}</td>
                {% if event.stream.verb == modes.CREATED.value %}
                    <td>
                        <a href="{{ event.stream.action_object.get_absolute_url }}" id="view-changes" class="btn btn-success btn-sm btn-block">
                            {% translate "View exercise" %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'exercise:exercise:delete' event.stream.action_object.id %}" id="view-changes" class="btn btn-danger btn-sm btn-block">
                            {% translate "Delete exercise" %}
                        </a>
                    </td>
                {% elif event.stream.verb == modes.UPDATED.value %}
                    <td>
                        <a href="#" id="view-changes" data-toggle="modal" data-target="#changes-modal-{{ event.stream.id }}"
                            class="btn btn-success btn-sm btn-block">
                            {% translate "View changes" %}
                        </a>
                        <div class="modal fade" id="changes-modal-{{ event.stream.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{% translate 'Exercise changes' %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Field</td>
                                                    <td>Old</td>
                                                    <td>New</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if event.history.delta %}
                                                {% for change in event.history.delta.changes %}
                                                <tr>
                                                    <td>{{ change.field }}</td>
                                                    <td>{{ change.old }}</td>
                                                    <td>{{ change.new }}</td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">{% translate "Close" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="#" id="revert-changes" data-toggle="modal" data-target="#revert-modal-{{ event.stream.id }}"
                            class="btn btn-danger btn-sm btn-block">
                            {% translate "Revert changes" %}
                        </a>
                        <div class="modal fade" id="revert-modal-{{ event.stream.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{% translate 'Are you sure?' %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <a href="revert/{{ event.history.record.history_id }}" id="view-changes" class="btn btn-danger btn-sm btn-block">
                                            {% translate "Yes" %}
                                        </a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">{% translate "No" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}

{% endblock %}



{% block options %}

{% endblock %}
