{% extends "base_wide.html" %}
{% load i18n static wger_extras activity_tags %}

<!--
        Title
-->
{% block title %}{% translate "Exercise edit stream" %}{% endblock %}



{% block header %}

{% endblock %}


<!--
        Main Content
-->
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{% translate 'User' %}</th>
            <th scope="col">{% translate 'Action' %}</th>
            <th scope="col">{% translate 'Object' %}</th>
            <th scope="col">{% translate 'Time' %}</th>
            <th scope="col">{% translate 'Changes' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for event in stream %}
            <tr>
                <th>{{ event.actor }}</th>
                <td>
                    {% if event.verb == modes.CREATED.value %}
                        <span class="{% fa_class 'plus' %}"></span>
                    {% elif event.verb == modes.UPDATED.value %}
                        <span class="{% fa_class 'pen' %}"></span>
                    {% else %}
                        {{ event.verb }}
                    {% endif %}
                </td>
                <td>
                    {% if event.action_object.get_absolute_url %}
                        <a href="{{ event.action_object.get_absolute_url }}">{{ event.action_object }}</a>
                    {% else %}
                        {{ event.action_object }}
                    {% endif %}
                </td>
                <td>{{ event.timesince }}</td>
                <td>...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}

{% endblock %}



{% block options %}

{% endblock %}
