{% extends "base.html" %}
{% load i18n %} 

<!--
        Title
-->
{% block title %}{% trans "Day details" %}{% endblock %}


<!--
        Main Content
-->
{% block content %}

<h2>{% trans "Edit" %} {{ day.description }}</h2>

<form action="{% url manager.views.edit_day workout.id day.id %}"
      method="post"
      class="ym-form">
{% csrf_token %}
{{ day_form.non_field_errors }}
<table>
    {% include "form_snippet.html" with field=day_form.description %}
    {% include "form_snippet.html" with field=day_form.day css_class="ym-fbox-select" %}
    <tr>
        <td><input type="submit" value="{% trans "Save" %}" /></td>
        <td></td>
    </tr>
</table>
</form>


{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
{% endblock %}