{% extends "base.html" %}
{% load i18n %} 
{% load staticfiles %}
{% load manager_extras %} 

{% block title %}{% trans "Weight log for workout" %} – {{ workout.creation_date }}{% endblock %}

{% block header %}
<style type="text/css" media="screen">
.workout-log-table .narrow-input
{
    width: 3em;
}

.ym-form .workout-log-table div.ym-fbox-text{
    padding: 0em 0.3em;
}
</style>

{% endblock %}

{% block content %}
<h2>{% trans "Weight log for workout" %} {{ workout.id }}</h2>

<form action="{{form_action}}" method="POST" class="ym-form">
{% csrf_token %}
{{formset.management_form}}





<table class="workout-log-table">

<!--
{% if formset.errors %}
    {% for error in formset.errors %}
        {{error}}
    {% endfor %}
{% endif %}
-->
<tr>
    <td>
        {{dateform.date.label}}
    </td>
    <td colspan="{{max_sets}}">
        <div class= "ym-fbox-text {% if dateform.date.errors %}ym-error{% endif %}">
        {{dateform.date}}
        </div>
    </td>
</tr>



{% for key, value in exercises.items %}
<tr>
    <td style="width:25%;">
        {{value.obj.name}}
    </td>
    {% for form in value.forms %}
    
    <td>
        <div class= "ym-fbox-text narrow-input {% if form.reps.errors %}ym-error{% endif %}">
        {{form.reps}} {% trans "Reps" %}
        </div>
    </td>
    <td>
        <div class= "ym-fbox-text narrow-input {% if form.weight.errors %}ym-error{% endif %}">
        {{form.weight}} kg.
        </div>
    </td>
    {% endfor %}
</tr>
{% endfor %}


{% comment %}
{% for form in formset %}
    {{ form.as_table }}
{% endfor %}
{% endcomment %}
<tr>
    <td colspan="{{max_sets}}">
        <input type="submit" value="{% trans 'Save' %}" id="form-save">
    </td>
</tr>
</table>
</form>

{% endblock %}
