{% load i18n %}
{% load staticfiles %} 
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="author" content="Roland Geider">

    <!--
    This file is part of Workout Manager

    Workout Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Workout Manager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
    -->

    <link rel="stylesheet" type="text/css" href="{% static "css/yaml/demos/css/flexible-grids.css" %} "> <!-- CSS framework for the layout -->
    <link rel="stylesheet" type="text/css" href="{% static "css/yaml/custom-yaml.css" %}">               <!-- customisations for yaml -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="ym-wrapper">
            <div class="ym-wbox">
                    <h1>Workout manager</h1>
            </div>
    </div>
</header>
<nav id="nav">
        <div class="ym-wrapper">
                <div class="ym-hlist">
                        <ul>
<!--                                 <li class="active"><strong>Active</strong></li> -->
                                <li><a href="/">Start</a></li>
                                <li><a href="/workout/add">Add</a></li>
                                <li><a href="/admin/">Admin</a></li>
                                <li><a href="/login">Login etc</a></li>
                        </ul>
                        <form class="ym-searchform">
                                <input class="ym-searchfield" type="search" placeholder="Search..." />
                                <input class="ym-searchbutton" type="submit" value="Search" />
                        </form>
                </div>
        </div>
</nav>

<div id="main">
        <div class="ym-wrapper">
                <div class="ym-wbox">
                        <section class="ym-grid linearize-level-1">
                                <article class="ym-g66 ym-gl content">
                                        <div class="ym-gbox-left ym-clearfix">
                                                {% block content %}{% endblock %}
                                        </div>
                                </article>
                                <aside class="ym-g33 ym-gr">
                                        <div class="ym-gbox-right ym-clearfix">
                                                <h3>A Simple Sidebar </h3>
                                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices  posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede  sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.</p>
                                                <p>Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida. Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.</p>
                                        </div>
                                </aside>
                        </section>
                </div>
        </div>
</div>



<footer>
        <div class="ym-wrapper">
                <div class="ym-wbox">
                        <p>© Company 2012 &ndash; Layout based on <a href="http://www.yaml.de">YAML</a></p>
                </div>
        </div>
</footer>
</body>
</html>