{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="author" content="Roland Geider">

    <!--
    This file is part of Workout Manager

    Workout Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Workout Manager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
    -->

    <link rel="stylesheet" type="text/css" href="{% static "css/yaml/demos/css/flexible-grids.css" %} "> <!-- CSS framework for the layout -->
    <link rel="stylesheet" type="text/css" href="{% static "css/yaml/custom-yaml.css" %}">               <!-- Customisations for yaml      -->
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">                      <!-- CSS for Jqyery UI elements   -->


    <script src="{% static "js/jquery.js" %}"></script>
    {% block header %}{% endblock %}
 
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <h1>{% trans "Workout manager" %}</h1>
        </div>
    </div>
</header>
<nav id="nav">
    <div class="ym-wrapper">
        <div class="ym-hlist">
            <ul>
                <li {% if active_tab == 'workout'   %}class="active"{% endif %}><a href="/">{% trans "Workouts" %}</a></li>
                <li {% if active_tab == 'exercises' %}class="active"{% endif %}><a href="/exercise/overview/">{% trans "Exercises" %}</a></li>
                <li {% if active_tab == 'weight'    %}class="active"{% endif %}><a href="/weight/overview/">{% trans "Weight" %} </a></li>
                <li {% if active_tab == 'nutrition' %}class="active"{% endif %}><a href="/nutrition/overview/">{% trans "Nutrition" %} </a></li>
            </ul>
            
            
            <ul style="float:right;">
            <li {% if active_tab == 'user' %}class="active"{% endif %}>
            {% if not user.username %}
                <a href="{% url manager.views.login %}">{% trans "Login" %}</a>
            {% else %}
                <a href="{% url manager.views.preferences %}">{% trans "My preferences" %}: {{ user.username }}</a>
            {% endif %}
            </li>
            </ul>
        </div>
    </div>
</nav>

<div id="main">
    <div class="ym-wrapper">
        <section >
            <div class="ym-grid linearize-level-1">
                <article class="ym-g80 ym-gl">
                    <div class="ym-gbox-left box invisible" id="ajax-info">
                        
                    </div>
                </article>
            </div>
        </section>
        <div class="ym-wbox">
            <section class="ym-grid linearize-level-1">
                <article class="ym-g66 ym-gl content">
                    <div class="ym-gbox-left ym-clearfix" id="main-content">
                        {% block content %}{% endblock %}
                    </div>
                </article>
                <aside class="ym-g33 ym-gr" id="main-sidebar">
                    <div class="ym-gbox-right ym-clearfix">
                        {% block sidebar %}
                        <h3>A Simple Sidebar </h3>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede 
                        sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi
                        vel augue.</p>

                        <p>Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien.
                        Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.
                        Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien.
                        Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.</p>
                        {% endblock %}
                    </div>
                </aside>
            </section>
        </div>
    </div>
</div>



<footer>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <a href="https://bitbucket.org/rolandgeider/workout_manager">
            <img src="{% static 'images/agplv3-88x31.png' %}" alt="{% trans 'Released under the Affero GPL' %}">
            </a>
            © <a href="mailto:roland@NO!SPAM!geider.net">Roland Geider</a>
            &ndash; {% trans "Layout based on <a href='http://www.yaml.de'>YAML</a>" %}
        </div>
    </div>
</footer>
</body>
</html>
