{% extends "base.html" %}
{% load i18n %} 

{% block title %}{% trans "Workout for" %} {{ workout.creation_date }}{% endblock %}

{% block content %}
<h1> {% trans "Workout for" %} {{ workout.creation_date }}</h1>
<ul>
{% for day in workout.day_set.select_related %}
    <li>
        {{ day.description }} (Day-ID: {{ day.id }}):

        <ul>
        {% for set in day.set_set.select_related %}
            <li>
                {{ set.order }} (Set-ID: {{ set.id }}):

                <ul>
                {% for exercise in set.exercises.select_related %}
                    <li>
                        {{ exercise }} (exercise-ID: {{ exercise.id }}):
                        <br>

                        <!-- Comments to the exercise -->
                        <!--
                        {% for comment in exercise.exercisecomment_set.all %}
                            {{comment}}
                        {% endfor %}
                        -->

                        
                        {% for setting in exercise.setting_set.all %}

                        {% comment %}
                            TODO: solution with 'if' is ugly and bad!
                        {% endcomment %}
                        {% if setting.sets_id == set.id %}
                            {{ set.sets }} (Set-ID: {{ set.id }})
                            x 

                            {% for individual_setting in setting.individual_exercises.select_related %}
                                {{individual_setting.reps}}
                                (IndividualSetting-ID: {{ individual_setting.id }})
                                <!--@ {{individual_setting.weight}}-->
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}