{% load i18n %}
<tr id="form-{{field.name}}">
    <td style="text-align:right;">
        {% trans field.label %}
    </td>
    <td>
        <div class="{{css_class|default:"ym-fbox-text"}}">
        {{ field }}
        </div>
        {% if field.help_text %}<p class="dimmed">{{ field.help_text }}</p>{% endif %}
        <div class="ym-fbox-text ym-error">
            {% for error in field.errors %}
                <p class="ym-message">{% trans error %}</p>
            {% endfor %}
        </div>
    </td>
</tr>