{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Workout list" %}{% endblock %}


{% block content %}
<h1>{% trans "Welcome"%} {{ user.username }}</h1>


<div class="ym-grid linearize-level-1">
    <div class="ym-g50 ym-gl">
        <div class="ym-gbox-left">
            <h2>{% trans "Current workout"%}</h2>
            {% if current_workout %}
            <a href="{% url manager.views.view_workout current_workout.id %}">
                {% if current_workout.comment %}
                    {{ current_workout.comment }}
                {% else %}
                    {% trans "Workout" %}
                {% endif %}
            </a>
                – {{ current_workout.creation_date }}
            
            
            <ul>
                {% for i in weekdays %}
                <li>
                    {{ i }}:
                    
                    {% for day in current_workout.day_set.select_related %}
                        {% if day.day == forloop.parentloop.counter %}                
                            {{ day.description }}
                        {% endif %}
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
             
            {% else %}
                <div class="box warning">
                    {% trans "No workouts found." %} {% trans "Use link to add one." %} 
                </div>
            {% endif %}
        </div>
    </div>
    <div class="ym-g50 ym-gr">
        <div class="ym-gbox-right">
            
            
            <h2>{% trans "Your diet plans"%}</h2>
            
            {% if plans %}
                <ul>
                {% for plan in plans  %}
                    <li><a href="{% url nutrition.views.view plan.id %}">
                        {% if plan.description %}
                            {{ plan.description }}
                        {% else %}
                            {% trans "Nutrition plan" %}
                        {% endif %}
                       </a>
                       <br> – {{ plan.creation_date }} 
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="box warning">
                    {% trans "No nutrition plans." %} {% trans "Use link to add one." %} 
                </div>
            {% endif %}
            {% if weight %}
            <p>
                {% trans "Your current weight is: "%} <strong>{{weight.weight}} kg.</strong>
            </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="ym-grid linearize-level-1">
    <div class="ym-g50 ym-gl">
        <div class="ym-gbox-left">
            <p>
                <a href="{% url manager.views.add %}">
                <img src="{% static 'images/icons/new.svg' %}"
                     width="32"
                     height="32"
                     alt="{% trans 'Add new exercise' %}"
                     title="{% trans 'Add new exercise' %}">
                {% trans "Add workout" %}</a>
            </p>
        </div>
    </div>
    <div class="ym-g50 ym-gr">
        <div class="ym-gbox-right">
            <p>
                <a href="{% url nutrition.views.add %}">
                <img src="{% static 'images/icons/new.svg' %}"
                     width="32"
                     height="32"
                     alt="{% trans 'Add new exercise' %}"
                     title="{% trans 'Add new exercise' %}">
                    {% trans "Add nutrition plan" %}</a>
            </p>
        </div>
    </div>
</div>

<p>
     <em>{% trans "After adding a workout or a nutritional plan, you can edit them to set a goal." %}</em>
</p>

{% endblock %}


{% block sidebar %}

<h3>{% trans "Options" %}</h3>
<p>
<a href="{% url manager.views.preferences %}">{% trans "My preferences" %}</a>
</p>

{% endblock %}


