{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Workout list" %}{% endblock %}

{% block content %}
{% if latest_workouts_list %}
    <ul>
    {% for workout in latest_workouts_list %}
        <li><a href="{% url manager.views.view_workout workout.id %}">{{ workout.creation_date }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <div class="box warning">
        {% trans "No workouts found." %} {% trans "Use link to add one." %} 
    </div>

{% endif %}
<p><a href="{% url manager.views.add %}">{% trans "Add workout" %}</a></p>
{% endblock %}
