{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Login" %}{% endblock %}


{% block content %}
<h3>{% trans "Login" %}</h3>
<form action="{% url manager.views.login %}"
      method="post"
      class="ym-form">
      {% csrf_token %}
      <div class="ym-fbox-text ym-error">
          <div class="ym-message">
              {{ form.non_field_errors }}
          </div>
       </div>
      <input type="hidden" name="redirect_target" value="{{redirect_target}}">
<table>
{% include "form_snippet.html" with field=form.username %}
{% include "form_snippet.html" with field=form.password %}
    <tr>
        <td><input type="submit" value="{% trans 'Login' %}" /></td>
        <td></td>
    </tr>
</table>
</form>


{% endblock %}


{% block sidebar %}
<h3>{% trans "No account?" %}</h3>
<p><a href="{% url manager.views.registration %}">{% trans "Register" %}</a></p>
{% endblock %}
