{% extends "template_no_context.html" %}
{% load i18n static %}

{% block title %}{% translate "An error occurred" %}{% endblock %}

{% block content %}
    <p>
        {% blocktranslate trimmed %}
            There was an error on the server while processing your request. Try refreshing your
            browser and if that doesn't help, please try again at a later time. If the problem
            persists, you can seek help in ways listed below:
        {% endblocktranslate %}
    </p>
{% endblock %}
