{% extends "template_features.html" %}
{% load i18n %}
{% block template %}

        {% if messages and not no_messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'warning'%}alert-error{% elif message.tags == 'info' %}alert-info{% elif message.tags == 'success' %}alert-success{% endif %}">
                <a href="#" class="close extra-bold" data-dismiss="alert">&times;</a>
                {{message}}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
{% endblock %}
