{% extends "template_features.html" %}
{% load i18n %}
{% block template %}


<div class="row" style="margin-top: 3em;">
    <div class="col-md-10 col-md-offset-1" id="main-content">
        {% if show_shariff %}
        <div class="modal fade" id="shariffModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Share this page" %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="shariff"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>

        <button type="button"
                class="btn btn-default btn-xs pull-right"
                data-toggle="modal"
                data-target="#shariffModal"
                style="margin-bottom: 1em;">
            <span class="glyphicon glyphicon-retweet"></span>
            {%  trans "Share" %}
        </button>
        <div class="clearfix"></div>
        {% endif %}



        {% if messages and not no_messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'warning'%}alert-error{% elif message.tags == 'info' %}alert-info{% elif message.tags == 'success' %}alert-success{% endif %}">
                <a href="#" class="close extra-bold" data-dismiss="alert">&times;</a>
                {{message}}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
