{% extends extend_template %}
{% load i18n staticfiles wger_extras %}

<!--
        Title
-->
{% block title %}{{title}}{% endblock %}


<!--
        Main Content
-->
{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
    <div class="col-xs-3 align-right">
        <span class="{% fa_class 'exclamation-triangle' '3x' %} "></span>
    </div>

    <div class="col-xs-9">
        {% trans "Are you sure you want to delete this? This action cannot be undone." %}
        {{ delete_message }}
    </div>
    </div>

    {% trans 'Yes, delete' as submit_text %}
    {% render_form_submit submit_text 'danger' %}
</form>
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{{sidebar|safe}}{% endblock %}
