{% extends 'base.html' %}
{% load i18n static wger_extras crispy_forms_tags %}

{% block header %}
    {{ form.media }}
    {% if custom_js %}
        <script type="text/javascript">
            $(document).ready(function () {
                {{ custom_js|safe }}
            });
        </script>
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if form %}
        {% crispy form %}
    {% else %}
        Looks like you clicked on an invalid link. Please try again.
    {% endif %}
{% endblock %}


<!--
        Sidebar
-->


{% block sidebar %}
    {% if sidebar %}
        {% include sidebar %}
    {% else %}
        {% if user.is_anonymous %}
            <h4>{% translate "Already have an account?" %}</h4>
            <p>
                <a href="{% url 'core:user:login' %}">
                    <span class="{% fa_class 'sign-in-alt' %}"></span>
                    {% translate "Login" %}
                </a>
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
