{% extends extend_template %}
{% load i18n staticfiles wger_extras %}

{% block header %}

{{ form.media }}

{% if custom_js %}
<script type="text/javascript">
    {{custom_js|safe}}
</script>
{% endif %}
{% endblock %}


{% block title %}{{title}}{% endblock %}


{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal"
      role="form"
      {% if enctype %}enctype="{{enctype}}"{% endif %}>
    {% render_form_fields form submit_text %}
</form>
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{% if sidebar %}{% include sidebar %}{% endif %}{% endblock %}
