<!DOCTYPE html>
<!--
    This file is part of wger Workout Manager

    wger is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    wger is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
-->

{% load i18n static wger_extras compress django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
{% endblock %}
<html lang="{{language.short_name}}">
{% spaceless_config %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Roland Geider">

    <!-- OpenGraph -->
    {% block opengraph %}
        <meta property="og:url" content="{{ request_absolute_path }}">
        <meta property="og:type" content="website">
    {% endblock %}
    {% block opengraphimages %}
        <meta property="og:image" content="{{ image_absolute_path }}">
    {% endblock %}

    <!-- twitter cards -->
    {% block twittercard %}
    {% if twitter %}
        <meta content="summary" name="twitter:card">
        <meta content="@{{ twitter }}" name="twitter:site">
    {% endif %}
    {% endblock %}


    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/workout-manager.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yarn/bootstrap-compiled.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yarn/components-font-awesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yarn/shariff/dist/shariff.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'yarn/metrics-graphics/dist/metricsgraphics.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/metricsgraphics-custom.css' %}">
    {% endcompress %}

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    {% compress js %}
    <script src="{% static 'yarn/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'yarn/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'yarn/Sortable/Sortable.min.js' %}"></script>
    <script src="{% static 'yarn/d3/d3.js' %}"></script>
    <script src="{% static 'yarn/metrics-graphics/dist/metricsgraphics.min.js' %}"></script>
    <script src="{% static 'yarn/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}"></script>
    <script src="{% static 'js/wger-core.js' %}"></script>
    <script src="{% static 'js/exercises.js' %}"></script>
    <script src="{% static 'js/nutrition.js' %}"></script>
    {% endcompress %}

    {% block header %}{% endblock %}

    <script>
    $(document).ready(function() {

        if (typeof wgerCustomPageInit !== "undefined")
        {
            wgerCustomPageInit();
        }

        // Init the modal dialog for editing forms
        wgerFormModalDialog();

        // Initialise the hook to reload the main-content
        wgerLoadMaincontent();

        // Check for RO-access before allowing sharing
        wgerToggleReadOnlyAccess();
    });
    </script>


    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{#            #}
{# Navigation #}
{#            #}
{% include 'navigation.html' %}



{#              #}
{# Main content #}
{#              #}
<div id="main">
    <div class="container pt-4">
        <div class="modal fade" id="wger-ajax-info" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ajax-info-title">Modal title</h4>
                        <button type="button"
                                class="close pl-2"
                                data-dismiss="modal"
                                aria-hidden="true">&times;</button>

                    </div>
                    <div class="modal-body" id="ajax-info-content">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">{% translate "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="current-url" data-current-url="{{request_full_path}}"></div>
        <div id="current-language" data-current-language="{{language.short_name}}"></div>


        {#             #}
        {# Guest users #}
        {#             #}
        {# {% if not user.is_authenticated or user.userprofile.is_temporary %} #}
        {% if user.is_authenticated and user.userprofile.is_temporary %}
            <div class="alert alert-warning text-center" role="alert">
                {% translate "You are using a guest account, data entered will be deleted after a week." %}
                {% if not has_demo_data %}
                    <br>
                    <a href="{% url 'core:user:demo-entries' %}" rel="nofollow" class="btn btn-link btn-sm">
                        {% translate "Create some demo entries" %}
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                {% else %}
                    <br>
                    <a href="{% url 'core:user:registration' %}" class="btn btn-link btn-sm">
                        {% translate "Register" %}
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                {% endif %}
            </div>
        {% endif %}
        {% block template %}{% endblock %}
    </div>
</div>



<footer id="main-footer" class="bg-wger-light border-top">
    <div class="container">
    <div class="row">
        <div class="col-md-8">


        {#                                         #}
        {# Render the links to the other languages #}
        {#                                         #}

        {% if not is_api_path %} {# Don't show language switcher in the generated API views #}
        <div class="btn-group float-right" role="group">
            <div class="btn-group" role="group">
                <button id="btnGroupLanguages2" type="button" class="btn btn-link text-muted small dropdown-toggle btn-sm" data-toggle="dropdown">
                  {% with 'images/icons/flag-'|add:language.short_name|add:'.svg' as flagname %}
                  <img src="{% static flagname %}"
                         width="18"
                         height="11"
                         alt="{% translate language.full_name %}"
                         title="{% translate language.full_name %}"
                         style="">
                    {{language.full_name}} <span class="caret"></span>
                  {% endwith %}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupLanguages">
                    {% for language in languages %}
                        {% language_select language %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a href="https://hosted.weblate.org/engage/wger/" class="dropdown-item" target="_blank">
                        <span class="{% fa_class 'plus' %}"></span>
                        {% translate "Translate" %}
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <ul class="list-unstyled mb-0 pt-2">
            <li><a href="{% url 'core:about' %}" class="text-muted small">{% translate "About" %}</a></li>
            <li><a href="{% url 'software:tos' %}" class="text-muted small">{% translate "Terms of service" %}</a></li>
        </ul>
            <!--
            <a href="https://github.com/wger-project/wger" class="no-hover">
                <img src="{% static 'images/agpl-v3.svg' %}"
                     width="57"
                     height="20"
                     alt="{% translate 'Released under the Affero GPL' %}"
                     title="{% translate 'Released under the Affero GPL' %}"></a>
            <em class="text-muted small">{{version}}</em> -->

    </div>
    </div>
    </div>
    </div>
</footer>

<script src="{% static 'yarn/shariff/dist/shariff.min.js' %}"></script>
</body>
{% endspaceless_config %}
</html>
