<!DOCTYPE html>
<!--
    This file is part of wger Workout Manager

    wger is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    wger is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
-->


{% load i18n staticfiles compress wger_extras %}
<html lang="{{language.short_name}}">
{% spaceless_config %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="author" content="Roland Geider">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- OpenGraph -->
    {% block opengraph %}
        <meta property="og:url" content="{{ request_absolute_path }}">
        <meta property="og:type" content="website">
    {% endblock %}
    {% block opengraphimages %}
        <meta property="og:image" content="{{ image_absolute_path }}">
    {% endblock %}

    <!-- twitter cards -->
    {% block twittercard %}
        <meta content="summary" name="twitter:card">
        <meta content="@wger_de" name="twitter:site">
    {% endblock %}


    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/workout-manager.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/workout-manager-common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/shariff/build/shariff.min.css' %}">
    {% endcompress %}

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    {% compress js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/d3/d3.js' %}"></script>
    <script src="{% static 'js/workout-manager.js' %}"></script>
    <script src="{% static 'js/ubuntu-unity.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/exercises.js' %}"></script>
    <script src="{% static 'js/weight.js' %}"></script>
    <script src="{% static 'js/nutrition.js' %}"></script>
    {% endcompress %}

    <title>wger Workout Manager - {% trans "Features" %}</title>
</head>
<body>

{% if user.is_authenticated %}
{% include 'navigation.html' %}
{% endif  %}

<div id="main">
    <div class="container">
        {% block template %}{% endblock %}
    </div>
    <div id="current-url" data-current-url="{{request_full_path}}"></div>
    <div id="current-language" data-current-language="{{language.short_name}}"></div>
</div>



<footer id="main-footer">
    <div class="container">
        <a href="https://github.com/rolandgeider/wger" class="no-hover">
            <img src="{% static 'images/agpl-v3.svg' %}"
                 width="88"
                 height="31"
                 alt="{% trans 'Released under the Affero GPL' %}"
                 title="{% trans 'Released under the Affero GPL' %}">
        </a>

        <a href="{% url 'core:about' %}">{% trans "About" %}</a>
        | <a href="{% url 'software:contribute' %}">{% trans "Contribute!" %}</a>
        | <a href="{% url 'core:contact' %}">{% trans "Get in touch" %}</a>
        | <a href="{% url 'software:tos' %}">{% trans "Terms of service" %}</a>

        <div class="navbar-right">
            <em class="text-muted" style="font-size: 80%;">{{version}}</em>
        </div>
    </div>
</footer>

<script src="{% static 'bower_components/shariff/build/shariff.min.js' %}"></script>
</body>
{% endspaceless_config %}
</html>
