<!DOCTYPE html>
<!--
    This file is part of wger Workout Manager

    wger is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    wger is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
-->


{% load i18n static compress %}
<html lang="{{ language.short_name }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta name="author" content="wger team">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- OpenGraph -->
    {% block opengraph %}
        <meta property="og:url" content="{{ request_absolute_path }}">
        <meta property="og:type" content="website">
    {% endblock %}
    {% block opengraphimages %}
        <meta property="og:image" content="{{ image_absolute_path }}">
    {% endblock %}

    {% block twittercard %}
        {% if twitter %}
            <!-- twitter cards -->
            <meta content="summary" name="twitter:card">
            <meta content="@{{ twitter }}" name="twitter:site">
        {% endif %}
    {% endblock %}


    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'yarn/bootstrap-compiled.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'yarn/components-font-awesome/css/all.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}">
    {% endcompress %}

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    {% compress js %}
        <script src="{% static 'yarn/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'yarn/popper.js/dist/umd/popper.js' %}"></script>
    {% endcompress %}

    <title>wger Workout Manager - {% translate "Features" %}</title>
</head>

<body>
{% block template %}{% endblock %}
</body>
</html>
