{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}


{% block content %}
<h2>{% trans "Change password" %}</h2>


<form action="{% url manager.views.change_password %}"
      method="post"
      class="ym-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
<table>
{% include "form_snippet.html" with field=form.old_password %}
{% include "form_snippet.html" with field=form.new_password1 %}
{% include "form_snippet.html" with field=form.new_password2 %}
    <tr>
        <td colspan="2">
            <input type="submit" value="{% trans 'Change password' %}" id="form-save">
        </td>
    </tr>
</table>
</form>
{% endblock %}
