{% extends "base.html" %}
{% load i18n %}
{% load manager_extras %}

{% comment %}Translators: Don't translate, this is already done by Django{% endcomment %}
{% block title %}{% trans "Password reset" %}{% endblock %}


{% block content %}
{% comment %}Translators: Don't translate, this is already done by Django{% endcomment %}
<h2>{% trans "Password reset" %}</h2>

<form action=""
      method="post"
      class="ym-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
<table>
{% yaml_form_field form.emaill %}
    <tr>
        <td colspan="2">
            {% comment %}Translators: Don't translate, this is already done by Django{% endcomment %}
            <input type="submit" value="{% trans 'Send' %}" id="form-save">
        </td>
    </tr>
</table>
</form>
{% endblock %}
