{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Preferences" %}{% endblock %}


{% block content %}

<h2>{% trans "Preferences" %}</h2>

<form action="{% url manager.views.preferences %}"
      method="post"
      class="ym-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
<table>
{% include "form_snippet.html" with field=form.show_comments %}
{% include "form_snippet.html" with field=form.show_english_ingredients %}
    <tr>
        <td><input type="submit" value='{% trans "Save" %}' /></td>
        <td></td>
    </tr>
</table>
</form>
{% endblock %}

{% block sidebar %}
<h3>{% trans "Options" %}</h3>
<p>
    <a href="{% url manager.views.logout %}">
    <img src="{% static 'images/icons/logout.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Logout' %}"
         title="{% trans 'Logout' %}">
    {% trans "Logout" %}</a>
</p>
<p><a href="{% url manager.views.change_password %}">{% trans "Change password" %}</a></p>
{% endblock %}
