{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Login" %}{% endblock %}


{% block content %}

<form action="{% url manager.views.registration %}"
      method="post"
      class="ym-form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <input type="hidden" name="redirect_target" value="{{redirect_target}}">
<table>
{% include "form_snippet.html" with field=form.username %}
{% include "form_snippet.html" with field=form.password1 %}
{% include "form_snippet.html" with field=form.password2 %}
{% include "form_snippet.html" with field=form.email %}
    <tr>
        <td colspan="2">
            <input type="submit" value="{% trans 'Save' %}" id="form-save">
        </td>
    </tr>
</table>
</form>
{% endblock %}
