{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load wger_extras %}
{% load cache %}
{% load thumbnail %}

<!--
        Title
-->
{% block title %}{% translate "Equipment overview" %}{% endblock %}


{% block header %}
 <script>
$(function() {
    // Init the autocompleter
    $('#exercise-search').autocomplete({
        showNoSuggestionNotice: true,
        serviceUrl: '{% url 'exercise-search' %}',
        onSelect: function (suggestion) {
            window.location.href = '/exercise/' + suggestion.data.id + '/view/'
        },
        groupBy: 'category',
        paramName: 'term'
    });
});
</script>
{% endblock %}


<!--
        Main Content
-->
{% block content %}
{% cache cache_timeout equipment-overview language.id %}
<div class="accordion" id="equipmentAccordion">
    {% for equipment in equipment_list %}
    <div class="card">
        <div class="card-header" id="header-{{equipment.pk}}">
            <button class="btn  btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-{{equipment.pk}}" aria-expanded="true" aria-controls="collapse-{{equipment.pk}}">
                {% translate equipment.name %}
            </button>
        </div>
        <div class="collapse" id="collapse-{{equipment.pk}}" data-parent="#equipmentAccordion">
            <div class="card-body px-0">
                <div class="list-group list-group-flush">
                    {% for exercise_base in equipment.exercisebase_set.accepted %}
                        {% for exercise in exercise_base.exercises.accepted %}
                            {% if exercise.language in exercise_languages %}
                            <a href="{{ exercise.get_absolute_url }}" class="list-group-item">
                                <div class="media">
                                    {% if exercise.main_image %}
                                        <img alt="{{ exercise.name }}"
                                        class="mr-3"
                                        style="width: 50px;"
                                        src="{{ exercise.main_image.image|thumbnail_url:'thumbnail' }}">
                                    {% else %}
                                        <img alt="{% translate 'Placeholder image for exercise' %}"
                                            class="mr-3"
                                            style="width: 50px;"
                                            src="{% static 'images/icons/image-placeholder.svg' %}">
                                    {% endif %}
                                    <div class="media-body">
                                        <p class="media-heading h5">{{ exercise.name }}</p>
                                        <span class="text-muted small">
                                            {% translate exercise_base.category.name %}
                                            <!--
                                            {% translate "Main muscles" %}: {{ exercise.exercise_base.muscles.all|join:", " }}
                                            <br>
                                            {% translate "Secondary muscles" %}: {{ exercise.exercise_base.muscles_secondary.all|join:", " }}
                                            -->
                                        </span>
                                    </div>
                                </div>
                            </a>
                            {% endif %}
                        {% empty %}
                            {% translate "No exercises for this equipment. Add or edit an exercise and set the equipment." %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endcache %}
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
<h4>{% translate "Search" %}</h4>
    <input name="term"
           type="search"
           id="exercise-search"
           class="ajax-form-element form-control"
           placeholder="{% translate 'exercise name' %}"
           style="width:100%;">
{% endblock %}


{% block options %}
    {% if user.is_authenticated and not user.userprofile.is_temporary %}
        <a href="{% url 'exercise:exercise:add' %}" class="btn btn-success btn-sm">
            {% translate "Add new exercise" %}
        </a>
    {% else %}
        <a href="#" class="btn btn-success btn-sm disabled">
            {% translate "Add new exercise" %}<br>
            <small>
            {% translate "Only registered users can do this" %}
            </small>
        </a>
    {% endif %}
{% endblock %}
