/**************************************************************
 * 
 * This file contains custom classes and styles
 *
 **************************************************************/


/*
    This file is part of Workout Manager

    Workout Manager is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Workout Manager is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Workout Manager. If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * "invisible" elements, simply hidden (they still take all the space)
 */
.invisible{
    display: none;
}

.ym-g10
{
    width: 10%;
}

.ym-g15
{
    width: 15%;
}

.align-right
{
    text-align: right;
}

.sortable-settings
{
    border: 1px solid black;
}

.sortable-settings-drag
{
    padding-left: 1em;
    padding-right: 1em;
    background-color: #babdb6;
    border-bottom:1px solid black;
}

/*
 * Set a more appropriate cursor to the drag'n'drop handle on the
 * workout view
 */
.dragndrop-handle{
    cursor:move
}


/*
 * Hide the edit options (edit, delete) on tables, only show them when the mouse is over the row
 */
.editoptions
{
    visibility: hidden;
}

/*
 * Images inside a link are set to greyscale till mouseover
 */
a img
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

a:hover img
{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);	
}


/*
 * Set the sizes for the background where the muscles are shown on the exercise view page
 */
div.muscle-background
{
    width: 200px;
    height: 369px;
    background-repeat: no-repeat; 
}

/*
 * Set an additional padding to the generated DIV on the edit set page
 */
#exercise-search-log{
    padding-left: 1em;
}



/*
 * Styling for the SVG elements on the weight chart
 */

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: lightsteelblue;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}

circle:hover{
    fill: #204a87;
    stroke: #204a87;
}

circle{
    cursor: pointer;
}


/*
 * Classes Error form
 * 
 * 'form-error' is inserted by the JQuery form validator and the styling
 * is copied from the yaml ones, for consistency
 */
.ym-form .form-error {
    color: #880000;
}
.ym-form label.form-error {
    font-weight: bold;
}

.ym-form input.form-error {
    box-shadow: none;
    background-color: #880000;
    color: black;
}


/*
 * Add a shadow to the application name
 */
header h1{
    text-shadow: 2px 3px 3px #292929;
}


/*
 * Links in warning boxes get a different style, the default blue doesn't match
 * well with orange
 */
div.warning a, div.warning a:hover, div.warning a:active{
    color: black;
    text-decoration: underline;
    background-color: transparent;
}

/*
 * Category heading for the ajax autocompleter
 */
.ui-autocomplete-category {
    margin:0;
    text-align: center;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    font-weight: bold;
    background-color: #D3D7CF;
    border-bottom: 1px solid #888a85;
}

/*
 * Give the result list from the autocompleter a maximum size
 */
.ui-autocomplete {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    overflow-x: hidden; /* prevent horizontal scrollbar */
}

/*
 * Give odd child's a different background colour (thanks CSS3!)
 */
.ui-autocomplete li.ui-menu-item:nth-child(odd)
{
    background: #eeeeec;
}


/*
 * 
 * Pagination styles
 * 
 */
.pagination a:hover
{
    color:black;
}

ul.pagination li{
    /*border: 0;*/
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 0.5em;
}

ul.pagination a{
    margin-right: 0.5em;
}

ul.pagination .active{
    background: #204a87;
    color: white;
    font-weight: bold;
    display: block;
    float: left;
    padding: 3px 9px;
    border-radius: 3px;
    border: 1px solid black;
}

ul.pagination a:link,
ul.pagination a:visited {
    box-shadow: 0 0 4px #EEEEEE inset;
    color: #0e509e
    display: block;
    float: left;
    padding: 3px 9px;
    border-radius: 3px;
    border: 1px solid #d3d7cf;
}

ul.pagination a:hover
{
    border: 1px solid #2e3436;
    box-shadow: 0 0 4px #3465a4 inset;    
}