{% load i18n static wger_extras thumbnail %}


<table class="table table-bordered workout-table"
       id="table-day-{{ day.id }}"
       data-id="{{ day.id }}">
    <thead class="thead-light">
    <tr id="day-{{ day.id }}">
        <th colspan="2">

            <h4>{{ day.description }}</h4>
            {{ day.days_txt }}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for set in day.set_set.select_related.all %}
        <tr data-id="{{ set.id }}" id="set-{{ set.id }}">
            <td style="width: 15%;border-right-width: 0;">
                <span>#{{ forloop.counter }}</span>
            </td>
            <td style="border-left-width: 0px;">
                {% if set.comment %}
                    <p class="text-muted">{{ set.comment }}</p>
                {% endif %}
                <div class="exercise-list">

                    {% for exercise in set.exercise_bases %}
                    {% with exercise.get_translation as translation %}

                        <div id="translation-{{ translation.id }}" class="ajax-set-edit-target">
                            <div class="media">

                                <div style="width: 64px; height: 64px;">
                                    <a href="{{ translation.get_absolute_url }}">
                                        {% if base.main_image %}
                                            <img class="img-fluid"
                                                 src="{{ base.main_image.image|thumbnail_url:'small' }}"
                                                 alt="{{ translation }}"
                                                 style="max-width: 100%; max-height: 100%;">
                                        {% else %}
                                            <img class="img-fluid"
                                                 src="{% static 'images/icons/image-placeholder.svg' %}"
                                                 alt="{% translate 'Placeholder image for translation' %}"
                                                 style="opacity: 0.4;">
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="media-body ml-2">
                                    <p class="media-heading h5">
                                        {{ translation.name }}
                                    </p>
                                    <p>
                                        {{ exercise.settings }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                    {% endfor %} <!--for exercise in set-->
                </div>
            </td>
        </tr>
    {% endfor %} <!--for set in day-->

    </tbody>


</table>
