{% load i18n static wger_extras thumbnail %}

<script>
$(document).ready(function() {

    // Call the setup function to allow the sets to be sortable again after loading this
    // view via AJAX
    wgerSetupSortable();

    // Init the modal dialog to edit the exercise
    wgerFormModalDialog();

})
</script>

<table class="table table-bordered workout-table" id="table-day-{{ day.obj.id }}" data-id="{{ day.obj.id }}">
<thead class="thead-light">
    <tr id="day-{{ day.obj.id }}">
        <th colspan="2">
            {{ day.days_of_week.text }} – {{ day.obj.description }}

            {% if editable %}
            <div class="float-right">
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle " type="button" id="dropdownMenuDay{{day.obj.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="{% fa_class 'cog' %}"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDay{{day.obj.id}}">
                    <a href="{% url 'manager:day:log' day.obj.id %}" class="dropdown-item">
                        <span class="{% fa_class 'chart-line' %}"></span>
                        {% translate 'Add weight log' %}
                    </a>
                    <a href="{% url 'manager:day:edit' day.obj.id %}" class="wger-modal-dialog dropdown-item">
                        <span class="{% fa_class 'edit' %}"></span>
                        {% translate 'Edit' %}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'manager:day:delete' day.obj.id %}" class="dropdown-item">
                        <span class="{% fa_class 'trash' %}"></span>
                        {% translate 'Delete' %}
                    </a>

                </div>
            </div>
            </div>
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody>
        {% for set in day.set_list %}
        <tr data-id="{{ set.obj.id }}" id="set-{{ set.obj.id }}">
            <td style="width: 15%;border-right-width: 0px;">
                <span>#{{ forloop.counter }}</span>

                {% if editable %}
                    <div class="dropdown float-right">
                        <button class="btn btn-link btn-sm btn-block dropdown-toggle " type="button" id="dropdownMenuSet{{set.obj.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuSet{{set.obj.id}}">
                            <a href="{% url 'manager:set:edit' set.obj.id %}" class="wger-modal-dialog dropdown-item">
                               <span class="{% fa_class 'edit' %}"></span>
                               {% translate 'Edit' %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'manager:set:delete' set.obj.id %}" class="dropdown-item">
                                <span class="{% fa_class 'trash' %}"></span>
                                {% translate 'Delete' %}
                            </a>
                        </div>
                    </div>

                    {% if false and day.set_list|length > 1 %}
                    <span class="editoptions">
                        <span class="{% fa_class 'bars' %} dragndrop-handle"></span>
                        <br>
                    </span>
                    {% endif %}
                {% endif %}
            </td>
            <td style="border-left-width: 0px;">
                <div class="exercise-list">
                    {% for exercise in set.exercise_list %}
                    <div id="exercise-{{ exercise.obj.id }}" class="ajax-set-edit-target">
                        <div class="media">

                            <div style="width: 64px; height: 64px;">
                                <a href="{{exercise.obj.get_absolute_url}}" >
                                    {% if exercise.obj.main_image %}
                                    <img class="img-fluid"
                                         src="{{ exercise.obj.main_image.image|thumbnail_url:'small' }}"
                                         alt="{{exercise.obj}}"
                                         style="max-width: 100%; max-height: 100%;">
                                    {% else %}
                                    <img class="img-fluid"
                                         src="{% static 'images/icons/image-placeholder.svg' %}"
                                         alt="{% translate 'Placeholder image for exercise' %}"
                                         style="opacity: 0.4;">
                                    {% endif %}
                                </a>
                            </div>

                            <div class="media-body ml-2">
                                <p class="media-heading h5">
                                    {{ exercise.obj.name }}
                                </p>
                                <p>{{exercise.setting_text}}</p>

                                {% if editable %}
                                {% if not exercise.setting_obj_list %}
                                <p>
                                    {% translate "This exercise has no repetitions." %}<br>
                                    <a href="{% url 'manager:set:edit' set.obj.id %}" class="wger-modal-dialog">
                                        {% translate "Edit them now."%}
                                    </a>
                                </p>
                                {% endif %}

                                {% if exercise.comment_list %}
                                <p class="text-muted exercise-comments">
                                    {% for comment in exercise.comment_list %}
                                        {{comment}}<br>
                                    {% endfor %}
                                </p>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %} <!--for exercise in set-->
                </div>
            </td>
        </tr>
        {% endfor %} <!--for set in day-->
        {% if editable %}
        <tr>
            <td colspan="2" class="py-0">
                <a href="{% url 'manager:set:add' day.obj.id %}"
                   class="wger-modal-dialog btn btn-link btn-block">{% translate "Add exercises to this workout day" %}</a>
            </td>
        </tr>
        {% endif %}
    </tbody>



</table>
