{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{{new_user|format_username}}{% endblock %}


{% block content %}
<table class="table">
    <tr>
        <th>{% trans "User" %}</th>
        <td>{{new_user.get_full_name}} ({{new_user}})</td>
    </tr>
    <tr>
        <th>{% trans "Password" %}</th>
        <td>{{password}}</td>
    </tr>
    <tr>
        <th>{% trans "Email" %}</th>
        <td>{{new_user.email}}</td>
    </tr>
    <tr>
        <th>{% trans "Gym" %}</th>
        <td>{{new_user.userprofile.gym}}</td>
    </tr>
</table>

<a href="{% url 'core:gym-user-list' new_user.userprofile.gym.pk %}" {% auto_link_css flavour %}>
    <img src="{% static 'images/icons/list.svg' %}"
         width="32"
         height="32"
         alt="{% trans 'Back to overview' %}">
    {% trans "Back to gym" %}
</a>
{% endblock %}




{% block sidebar %}
<h3>{% trans "Info" %}</h3>
<p>
    {% blocktrans %}Please write down the user password, this value cannot be recovered later.{% endblocktrans %}
</p>
{% endblock %}
