{% load i18n wger_extras %}
<div class="modal fade" id="shariffModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% translate "Share this page" %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="shariff {% if is_owner and not owner_user.userprofile.ro_access %}d-none{% endif %}"
                     data-lang="{{language.short_name}}"
                     data-orientation="horizontal"
                     data-button-style="icon"
                     data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;whatsapp&quot;,&quot;telegram&quot;,&quot;info&quot;]"></div>

                {% if owner_user %}
                <div class="noRoAccess {% if user.is_authenticated and is_owner and owner_user.userprofile.ro_access %}d-none{% endif %}">
                    <p>{% blocktranslate %}Before you share links on social media you need to allow external access.{% endblocktranslate %}</p>
                    <p>
                        <a href="{% url 'core:user:preferences' %}" id="toggle-ro-access" class="btn btn-success btn-sm">
                            <span class="{% fa_class 'check' %}"></span>
                            {% translate "That's done here" %}
                        </a>
                    </p>
                </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">{% translate "Close" %}</button>
            </div>
        </div>
    </div>
</div>
