{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Your schedules" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Date" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for schedule in schedules %}
    <tr>
        <td>
            <a href="{% url 'manager:schedule:view' schedule.id %}">{{ schedule.name }}</a>

            {% if schedule.is_active %}
            <span class="label label-primary">{% trans "active" %}</span>
            {% endif  %}
        </td>
        <td>
            {{ schedule.start_date }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">
            <a href="{% url 'manager:schedule:add' %}" class="wger-modal-dialog btn btn-block btn-default">
            {% trans "No schedules found." %} {% trans "Add one now." %}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block sidebar %}
<h4>{% trans "Your schedules" %}</h4>
<p>{% blocktrans %}Schedules are collections of workouts that you do in
succession.{% endblocktrans %}</p>

<p>{% blocktrans %}You can indicate how long you want to do each workout
before jumping to the next. It is also possible to create a loop, so you
always do the same workouts in succession, e.g. A > B > C > A > B > C and so on.{% endblocktrans %}</p>

<p>{% blocktrans %}The currently active schedule will remain active (and be
shown e.g. in your dashboard) till it reaches the last workout or till you
deactivate it, if it is a loop.{% endblocktrans %}</p>

<h4>{% trans "Add schedule" %}</h4>
<p>
<a href="{% url 'manager:schedule:add' %}"
   class="wger-modal-dialog">
<img src="{% static 'images/icons/new.svg' %}"
    width="32"
    height="32"
    alt="{% trans 'Add schedule' %}"
    title="{% trans 'Add schedule' %}">
{% trans "Add schedule" %}</a>
</p>
{% endblock %}
