{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Your schedules" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
    <div class="list-group">
        {% for schedule in schedules %}
            <a href="{% url 'manager:schedule:view' schedule.id %}" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-right float-right"></span>

                {% if schedule.is_active %}
                <span class="badge badge-pill badge-primary float-right">
                    {% translate "active" %}
                </span>
                {% endif %}

                <p class="list-group-item-heading h5">{{ schedule }}</p>
                <p class="list-group-item-text">{{ schedule.start_date }}</p>
            </a>
        {% empty %}
            <a href="{% url 'manager:schedule:add' %}" class="list-group-item wger-modal-dialog">
            {% translate "No schedules found." %}<br>{% translate "Add one now." %}
            </a>
        {% endfor %}
    </div>
{% endblock %}


{% block sidebar %}
<p>{% blocktranslate %}Schedules are collections of workouts that you do in
succession.{% endblocktranslate %}</p>

<p>{% blocktranslate %}You can indicate how long you want to do each workout
before jumping to the next. It is also possible to create a loop, so you
always do the same workouts in succession, e.g. A > B > C > A > B > C and so on.{% endblocktranslate %}</p>

<p>{% blocktranslate %}The currently active schedule will remain active (and be
shown e.g. in your dashboard) till it reaches the last workout or till you
deactivate it, if it is a loop.{% endblocktranslate %}</p>
{% endblock %}


{% block options %}
    <a href="{% url 'manager:schedule:add' %}" class="btn btn-success btn-sm wger-modal-dialog">
        {% translate "Add schedule" %}
    </a>
{% endblock %}
