{% extends "base.html" %}
{% load wger_extras i18n django_bootstrap_breadcrumbs %}

{% block title %}{% trans 'Email' %} - {{ gym }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}

    {% if perms.gym.manage_gyms %}
        {% breadcrumb "Gyms" "gym:gym:list" %}
    {% endif %}

    {% breadcrumb_raw gym "gym:gym:user-list" gym.pk %}
    {% breadcrumb "Emails" "email:email:overview" gym.pk %}
    {% breadcrumb "Add" "email:email:add" gym.pk %}
{% endblock %}

{% block content %}
<form action="{{ form_action }}"
      method="post"
      class="form-horizontal">
    {% render_form_fields form "Vorschau erzeugen" %}
</form>
{% endblock %}

{% block sidebar %}
    <h4>Benutzung</h4>
    <ol>
        <li>Geben Sie die nötigen Daten in das Formular ein.</li>
        <li>Die Manager bekommen eine Vorschau-Email, zur Kontrolle.</li>
        <li>
            Sie können beliebig oft den Inhalt korrigieren und über die
            Vorschau-Emails kontrollieren.
        </li>
        <li>
            Wenn Sie mit dem Inhalt zufrieden sind, können Sie die Emails
            freigeben, sie weden in den nächsten Studen automatisch
            verschickt
        </li>
    </ol>
{% endblock %}