{% extends "base.html" %}
{% load static i18n wger_extras %}


{% block title %}{% translate "About us" %}{% endblock %}

{% block content %}
    <p>
        {% blocktranslate trimmed %}
            Thank you for using wger! wger is a collaborative open source project, made
            by fitness enthusiasts from around the world.
        {% endblocktranslate %}
    </p>


    <h5>
        <span class="{% fa_class 'bug' %}"></span>
        {% translate 'Have a problem or idea?' %}
    </h5>
    <p>{% translate "Get in touch if something didn't behave as expected or if there is a feature that you feel is missing." %}</p>
    <a class="btn btn-outline-primary mb-5"
       href="https://github.com/wger-project/wger/issues/new/choose">https://github.com/wger-project/wger/issues/new/choose</a>

    <h5>
        <span class="fa-brands fa-discord"></span>
        {% translate 'Say hi!' %}
    </h5>
    <p>{% translate 'If you want to chat with us, hop on the Discord server and get in touch' %}</p>
    <a class="btn btn-outline-primary mb-5" href="https://discord.gg/rPWFv6W">https://discord.gg/rPWFv6W</a>

    <h5>
        <span class="fa-brands fa-mastodon"></span>
        {% translate 'Mastodon' %}
    </h5>
    <p>{% translate 'Follow us on mastodon for updates and news about the project' %}</p>
    <a class="btn btn-outline-primary mb-5" href="https://fosstodon.org/@wger">https://fosstodon.org/@wger</a>

    <h5>
        <span class="{% fa_class 'language' %}"></span>
        {% translate 'Translation' %}
    </h5>
    <p>{% translate 'This application is translated on weblate. If you also want to help, click the link and start translating' %}</p>
    <a class="btn btn-outline-primary mb-5" href="https://hosted.weblate.org/engage/wger/">https://hosted.weblate.org/engage/wger/</a>

    <h5>
        <span class="{% fa_class 'code' %}"></span>
        {% translate 'Source code' %}
    </h5>
    <p>{% translate 'Get the source code of this application and its server on github' %}</p>
    <a class="btn btn-outline-primary mb-5" href="https://github.com/wger-project">https://github.com/wger-project</a>
    
    <h5>
        <i class="fa-regular fa-money-bill-1"></i>
        {% translate 'Donate' %}
    </h5>
    <p>{% translate 'Buy us a coffee to help the project, pay for server costs, and keep us fueled' %}</p>
    <a class="btn btn-outline-primary mb-5" href="https://www.buymeacoffee.com/wger">https://www.buymeacoffee.com/wger</a>




{% endblock %}


{% block sidebar %}
    <div class="card text-white bg-success mb-3">
        <div class="card-header">
            {% translate "Our goal" %}
        </div>
        <div class="card-body">
            {% blocktranslate %}The goal is to build an awesome
                and flexible fitness manager, along with a comprehensive and complete list of
                exercises and
                ingredients, all released under a free license.{% endblocktranslate %}
        </div>
    </div>

    <div class="alert alert-dark mt-5" role="alert">
        {% translate "Current version" %} {{ version }}
    </div>
{% endblock %}


