{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}


{% block title %}{% trans "Changelog" %}{% endblock %}

{% block content %}
<h3>1.7 - IN DEVELOPMENT</h3>
<h4>2015-XX-XX</h4>

<ul>
    <li>
        Fix problem with datepicker
        <a href="https://github.com/rolandgeider/wger/issues/192">#192</a>
    </li>
    <li>
        Use hostname for submitted exercises
        <a href="https://github.com/rolandgeider/wger/issues/159">#159</a>
    </li>
    <li>
        Download js libraries with bowerjs
        <a href="https://github.com/rolandgeider/wger/issues/126">#126</a>
    </li>
    <li>
        Improved and more flexible management commands
        <a href="https://github.com/rolandgeider/wger/issues/184">#184</a>
    </li>
    <li>
         Fixed problems when building and installing the application on Windows
        <a href="https://github.com/rolandgeider/wger/issues/197">#197</a>
    </li>
    <li>
        Other improvements and bugfixes
        <a href="https://github.com/rolandgeider/wger/issues/190">#190</a>
        <a href="https://github.com/rolandgeider/wger/issues/194">#194</a>
        <a href="https://github.com/rolandgeider/wger/issues/185">#185</a>
        <a href="https://github.com/rolandgeider/wger/issues/178">#179</a>
        <a href="https://github.com/rolandgeider/wger/issues/150">#150</a>
    </li>
</ul>


<h3>1.6.1</h3>
<h4>2015-07-25</h4>

<ul>
    <li>
        Bugfix release
    </li>
</ul>


<h3>1.6</h3>
<h4>2015-07-25</h4>

<ul>
    <li>
        New translation: Greek (many thanks to Mark Nicolaou!)
    </li>
    <li>
        Save planed weight along with the repetitions
        <a href="https://github.com/rolandgeider/wger/issues/119">#119</a>
    </li>
    <li>
        Improvements to the workout calendar
        <a href="https://github.com/rolandgeider/wger/issues/98">#98</a>
    </li>
    <li>
        Allow external access to workouts and other pages to allow for sharing
        <a href="https://github.com/rolandgeider/wger/issues/102">#102</a>
        <a href="https://github.com/rolandgeider/wger/issues/124">#124</a>
    </li>
    <li>
        Email reminder to regularly enter (body) weight entries
        <a href="https://github.com/rolandgeider/wger/issues/115">#115</a>
    </li>
    <li>
        Allow users to submit corrections to exercises
    </li>
    <li>
        Add day detail view in workout calendar
        <a href="https://github.com/rolandgeider/wger/issues/103">#103</a>
    </li>
    <li>
        Fix bug where the exercises added to a superset did not remain sorted
        <a href="https://github.com/rolandgeider/wger/issues/89">#89</a>
    </li>
    <li>
        Reduce size of generated html code
        <a href="https://github.com/rolandgeider/wger/issues/125">#125</a>
    </li>
    <li>
        Allow users to copy shared workouts from others
        <a href="https://github.com/rolandgeider/wger/issues/127">#127</a>
    </li>
    <li>
        Added breadbrumbs, to make navigation easier
        <a href="https://github.com/rolandgeider/wger/issues/101">#101</a>
    </li>
    <li>
        Add option to delete workout sessions and their logs
        <a href="https://github.com/rolandgeider/wger/issues/156">#156</a>
    </li>
    <li>
        Improve installation, development and maintenance documentation
        <a href="https://github.com/rolandgeider/wger/issues/114">#114</a>
    </li>
    <li>
        Other improvements and bugfixes
        <a href="https://github.com/rolandgeider/wger/issues/99">#99</a>
        <a href="https://github.com/rolandgeider/wger/issues/100">#100</a>
        <a href="https://github.com/rolandgeider/wger/issues/106">#106</a>
        <a href="https://github.com/rolandgeider/wger/issues/108">#108</a>
        <a href="https://github.com/rolandgeider/wger/issues/110">#110</a>
        <a href="https://github.com/rolandgeider/wger/issues/117">#117</a>
        <a href="https://github.com/rolandgeider/wger/issues/118">#118</a>
        <a href="https://github.com/rolandgeider/wger/issues/128">#128</a>
        <a href="https://github.com/rolandgeider/wger/issues/131">#131</a>
        <a href="https://github.com/rolandgeider/wger/issues/135">#135</a>
        <a href="https://github.com/rolandgeider/wger/issues/145">#145</a>
        <a href="https://github.com/rolandgeider/wger/issues/155">#155</a>
    </li>
</ul>


<h3>1.5</h3>
<h4>2014-12-16</h4>

<ul>
    <li>New Translations:
        <ul>
            <li>Dutch (many thanks to David Machiels!)</li>
            <li>
                Portuguese (many thanks to Jefferson Campos! - <a href="http://jeffersoncampos.eti.br">website</a>, <a href="https://github.com/foguinhoperuca">github</a>)
                <a href="https://github.com/rolandgeider/wger/issues/97">#97</a>
            </li>
        </ul>
    </li>
    <li>
        Add support for gym management
        <a href="https://github.com/rolandgeider/wger/issues/85">#85</a>
        <ul>
            <li>Gym managers can create and manage gyms</li>
            <li>Trainers can see the gym's users and their routines</li>
        </ul>
    </li>
    <li>
        Reduce amount of CSS and JS libraries by using bootstrap as much as possible
        <a href="https://github.com/rolandgeider/wger/issues/73">#73</a>
    </li>
    <li>
        Improvements to the REST API
        <a href="https://github.com/rolandgeider/wger/issues/75">#75</a>
        <ul>
            <li>Add read-write access</li>
            <li>Add live browsing of the API with django rest framework</li>
            <li>Improve documentation</li>
            <li>/api/v1 is marked deprecated</li>
        </ul>
    </li>
    <li>Show exercise pictures in workout as well</li>
    <li>
        Detailed view of exercises and workouts in schedule
        <a href="https://github.com/rolandgeider/wger/issues/86">#86</a>
    </li>
    <li>
        Support for both metric (kg) and imperial (lb) weight units
        <a href="https://github.com/rolandgeider/wger/issues/105">#70</a>
    </li>
    <li>
        Allow the user to delete his account and data
        <a href="https://github.com/rolandgeider/wger/issues/84">#84</a>
    </li>
    <li>Add contact field to feedback form</li>
    <li>
        Cleanup translation strings
        <a href="https://github.com/rolandgeider/wger/issues/94">#94</a>
    </li>
    <li>
        Python 3 compatibility!
        <a href="https://github.com/rolandgeider/wger/issues/68">#68</a>
    </li>
    <li>
        Other improvements and bugfixes
        <a href="https://github.com/rolandgeider/wger/issues/51">#51</a>
        <a href="https://github.com/rolandgeider/wger/issues/76">#76</a>
        <a href="https://github.com/rolandgeider/wger/issues/80">#80</a>
        <a href="https://github.com/rolandgeider/wger/issues/81">#81</a>
        <a href="https://github.com/rolandgeider/wger/issues/82">#82</a>
        <a href="https://github.com/rolandgeider/wger/issues/91">#91</a>
        <a href="https://github.com/rolandgeider/wger/issues/92">#92</a>
        <a href="https://github.com/rolandgeider/wger/issues/95">#95</a>
        <a href="https://github.com/rolandgeider/wger/issues/96">#96</a>
    </li>
</ul>


<h3>1.4</h3>
<h4>2014-03-08</h4>

<ul>
    <li>Calendar view to more easily check workout logs</li>
    <li>Add "gym mode" with timer to log the workout while at the gym</li>
    <li>Add automatic email reminders for new workouts</li>
    <li>New iCal export to add workouts and schedules e.g. to google calendar</li>
    <li>New exercise overview, grouped by equipment</li>
    <li>Add possibility to write comments and rate the workout</li>
    <li>Simplify form for new exercises</li>
    <li>Alternative PDF export of workout without table for entering logs</li>
    <li>Unified way of specifying license of submitted content (exercises, etc.)</li>
</ul>


<h3>1.3</h3>
<h4>2013-11-27</h4>

<ul>
    <li>New translations
        <ul>
            <li>Bulgarian (many thanks to Lyuboslav Petrov!)</li>
            <li>Russian (many thanks to Inna!)</li>
            <li>Spanish</li>
        </ul>
    </li>
    <li>Mobile version of website</li>
    <li>Add images to the exercises</li>
    <li>Exercises now can list needed equipment (barbell, etc.)</li>
    <li>BMI calculator</li>
    <li>Daily calories calculator</li>
    <li>New management utility for languages</li>
    <li>Improved performance</li>
    <li>RESTful API</li>
</ul>


<h3>1.2</h3>
<h4>2013-05-19</h4>

<ul>
    <li>Added scheduling option for workouts.</li>
    <li>Open all parts of website to all users, this is done by a custom middleware</li>
    <li>Regular users can submit exercises and ingredients to be included in the general list</li>
    <li>Add more 'human' units to ingredients like '1 cup' or '1 slice'</li>
    <li>Add nutritional values calculator on the ingredient detail page</li>
    <li>Several bugfixes</li>
    <li>Usability improvements</li>
</ul>


<h3>1.1.1</h3>
<h4>2013-03-06</h4>

<ul>
    <li>Pin version of app django_browserid due to API changes in 0.8</li>
    <li>Fix issue with tabs on exercise overview due to API changes in JQuery</li>
</ul>

<h4>1.1</h4>
<h4>2013-02-23</h4>

<ul>
    <li>Better navigation bar</li>
    <li>Added descriptions for the exercises (German)</li>
    <li>New workout logbook, to keep track of your improvements</li>
    <li>Import your weight logs from a spreadsheet (CSV-Import)</li>
    <li>Better filtering for weight chart</li>
    <li>Muscle overview with corresponding exercises</li>
    <li>Add guest accounts by generating a temporary user</li>
    <li>Description pages about the software</li>
    <li>Easier installation process</li>
<!--    <li>Integration with Ubuntu's Unity desktop</li>-->
</ul>


<h3>1.0.3</h3>
<h4>2012-11-19</h4>

<ul>
    <li>Add option to copy (duplicate) workouts and nutritional plans</li>
    <li>Login without an account with [[https://login.persona.org/|mozilla's Persona]] (BrowserID)</li>
    <li>Better AJAX handling of the modal dialogs, less page reloads and redirects</li>
    <li>Expand the list of ingredients in German</li>
    <li>Add a pagination to ingredient list</li>
    <li>Improvements to user page:
        <ul>
            <li>Add a "reset password" link to the login page</li>
            <li>Email is now user editable</li>
        </ul>
    </li>
    <li>More natural lines in weight chart with cubic interpolation</li>
</ul>

<h3>1.0.2</h3>
<h4>2012-11-02</h4>

<ul>
    <li>Bugfix release</li>
</ul>

<h3>1.0.1</h3>
<h4>2012-11-02</h4>

<ul>
    <li>Fix issue with password change</li>
    <li>Small improvements to UI</li>
    <li>Categories editable/deletable from exercise overview page</li>
    <li>Exercise AJAX search groups by category</li>
    <li>More tests!</li>
    <li>Use generic views for editing, creating and deleting objects</li>
</ul>

<h3>1.0</h3>
<h4>2012-10-16</h4>

<p>Initial release.</p>

<ul>
    <li>Workout manager</li>
    <li>PDF output for logging progress</li>
    <li>Initial data with the most popular exercises</li>
    <li>Simple weight chart</li>
    <li>Nutrition plan manager</li>
    <li>Simple PDF output</li>
    <li>Initial data with nutritional values from the USDA</li>
</ul>

{% endblock %}
