{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}


{% block title %}{% trans "Changelog" %}{% endblock %}

{% block content %}
<h3>1.4</h3>
<h4>2013-XX-XX</h4>

<ul>
    <li>Calendar view to more easily check workout logs</li>
    <li>Add "gym mode" with timer to do and log the workout while at the gym<li>
    <li>Add automatic email remainders for new workouts</li>
    <li>New iCal export to add workouts and schedules e.g. to google calendar</li>
    <li>New exercise overview, grouped by equipment</li>
</ul>


<h3>1.3</h3>
<h4>2013-11-27</h4>

<ul>
    <li>New translations
        <ul>
            <li>Bulgarian (many thanks to Lyuboslav Petrov!)</li>
            <li>Russian (many thanks to Inna!)</li>
            <li>Spanish</li>
        </ul>
    </li>
    <li>Mobile version of website</li>
    <li>Add images to the exercises</li>
    <li>Exercises now can list needed equipment (barbell, etc.)</li>
    <li>BMI calculator</li>
    <li>Daily calories calculator</li>
    <li>New management utility for languages</li>
    <li>Improved performance</li>
    <li>RESTful API</li>
</ul>


<h3>1.2</h3>
<h4>2013-05-19</h4>

<ul>
    <li>Added scheduling option for workouts.</li>
    <li>Open all parts of website to all users, this is done by a custom middleware</li>
    <li>Regular users can submit exercises and ingredients to be included in the general list</li>
    <li>Add more 'human' units to ingredients like '1 cup' or '1 slice'</li>
    <li>Add nutritional values calculator on the ingredient detail page</li>
    <li>Several bugfixes</li>
    <li>Usability improvements</li>
</ul>


<h3>1.1.1</h3>
<h4>2013-03-06</h4>

<ul>
    <li>Pin version of app django_browserid due to API changes in 0.8</li>
    <li>Fix issue with tabs on exercise overview due to API changes in JQuery</li>
</ul>

<h3>1.1</h3>
<h4>2013-02-23</h4>

<ul>
    <li>Better navigation bar</li>
    <li>Added descriptions for the exercises (German)</li>
    <li>New workout logbook, to keep track of your improvements</li>
    <li>Import your weight logs from a spreadsheet (CSV-Import)</li>
    <li>Better filtering for weight chart</li>
    <li>Muscle overview with corresponding exercises</li>
    <li>Add guest accounts by generating a temporary user</li>
    <li>Description pages about the software</li>
    <li>Easier installation process</li>
<!--    <li>Integration with Ubuntu's Unity desktop</li>-->
</ul>


<h3>1.0.3</h3>
<h4>2012-11-19</h4>

<ul>
    <li>Add option to copy (duplicate) workouts and nutritional plans</li>
    <li>Login without an account with [[https://login.persona.org/|mozilla's Persona]] (BrowserID)</li>
    <li>Better AJAX handling of the modal dialogs, less page reloads and redirects</li>
    <li>Expand the list of ingredients in German</li>
    <li>Add a pagination to ingredient list</li>
    <li>Improvements to user page:</li>
        <ul>
            <li>Add a "reset password" link to the login page</li>
            <li>Email is now user editable</li>
        </ul>
    <li>More natural lines in weight chart with cubic interpolation</li>
</ul>

<h3>1.0.2</h3>
<h4>2012-11-02</h4>

<ul>
    <li>Bugfix release</li>
</ul>

<h3>1.0.1</h3>
<h4>2012-11-02</h4>

<ul>
    <li>Fix issue with password change</li>
    <li>Small improvements to UI</li>
    <li>Categories editable/deletable from exercise overview page</li>
    <li>Exercise AJAX search groups by category</li>
    <li>More tests!</li>
    <li>Use generic views for editing, creating and deleting objects</li>
</ul>

<h3>1.0</h3>
<h4>2012-10-16</h4>

<p>Initial release.</p>

<ul>
    <li>Workout manager</li>
    <li>PDF output for logging progress</li>
    <li>Initial data with the most popular exercises</li>
    <li>Simple weight chart</li>
    <li>Nutrition plan manager</li>
    <li>Simple PDF output</li>
    <li>Initial data with nutritional values from the USDA</li>
</ul>

{% endblock %}
