{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}


{% block title %}{% trans "Get the code" %}{% endblock %}

{% block content %}

<h4>{% trans "Installing the stable version" %}</h4>


<p>{% blocktrans %}Click here to download the last stable version. For
installation instructions see below.{% endblocktrans %}</p>

<div style="text-align:center">
    <a class="btn btn-primary  btn-lg" href="https://github.com/rolandgeider/wger/releases/latest">
        <span class="glyphicon glyphicon-save"></span>
        {% trans "download stable version:" %}
        <br>
        <small>tar.gz | 6MB</small>
    </a>
</div>


<p>{% blocktrans %}In short, these are the steps needed for an installation
on a linux or OS X machine, with python already installed. If you want to develop,
see the sections below.{% endblocktrans %}</p>

<p>{% blocktrans %}I personally like installing my development
files on a virtualenv, it helps keep the system more or less clean and are very
easy to set up, but you can skip this step if you don't mind installing all
dependencies system-wide (in that case, install django and the other applications
with a <code>sudo</code>).{% endblocktrans %}</p>

<pre>
$ sudo apt-get install python-virtualenv
$ sudo apt-get install python-dev
$ virtualenv python-django
$ source python-django/bin/activate
</pre>

<p>{% blocktrans %}Get the application from PyPI, initialise and start it.{% endblocktrans %}</p>

<pre>
$ pip install wger
$ wger
</pre>

<p>{% blocktrans %}The script will, on first run, create a configuration
file and a SQLite database with a standard superuser:{% endblocktrans %}</p>

<ul>
    <li><strong>{% trans "username:" %} admin</strong></li>
    <li><strong>{% trans "password:" %} admin</strong></li>
</ul>

<p>{% blocktrans %}You can later simply call <code>wger</code> again to start
the application.{% endblocktrans %}</p>

<p>{% blocktrans %}Use <code>wger --help</code> to see available options{% endblocktrans %}</p>
{% endblock %}



{% block sidebar %}
<h4>Further documentation</h4>

<p>There are more detailed instructions, other deployment options as well as an
administration guide available at <a href="https://wger.readthedocs.org">https://wger.readthedocs.org</a>
or locally in your code repository in the docs folder (<code>make html</code>
to compile, then open _build/index.html).</p>

{% endblock %}
