{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}


{% block title %}{% trans "Get the code" %}{% endblock %}

{% block content %}


<p>Click here to download a pip-installable package of the current stable
version. For installation instructions consult the documentation.</p>

<div style="text-align:center">
    <a class="btn btn-primary  btn-lg" href="https://github.com/rolandgeider/wger/releases/latest">
        <span class="glyphicon glyphicon-save"></span>
        download stable version
        <br>
        <small>tar.gz | 6MB</small>
    </a>
</div>


<p style="margin-top: 3em;">You can also check out the current source code
repository, which is hosted at github. Do this if you want to develop or just
install the current (unreleased) version:</p>
<div style="text-align:center">
    <a class="btn btn-primary" href="https://github.com/rolandgeider/wger">
        <span class="glyphicon glyphicon-globe"></span>
        code repository in github
    </a>
</div>


{% endblock %}


{% block sidebar %}
<h4>Further documentation</h4>

<p>There are more detailed instructions, other deployment options as well as an
administration guide available at <a href="https://wger.readthedocs.org">https://wger.readthedocs.org</a>
or locally in your code repository in the docs folder (<code>make html</code>
to compile, then open _build/index.html).</p>

{% endblock %}
