{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% translate "Contribute!" %}{% endblock %}

{% block content %}
        <p>{% blocktranslate %}wger Workout Manager is build by volunteers,
the development process is open and freely accessible to anybody interested.
If you are new to the free software world, we recommend to take a
look <a href="http://schlitt.info/opensource/blog/0541_10_golden_rules_for_starting_with_open_source.html">this
article</a> which summarizes they way open source projects work very well. {% endblocktranslate %}</p>


        <p>{% blocktranslate %}Any kind of contribution is appreciated and welcome.
Use this opportunity and influence the direction of the
project. {% endblocktranslate %}</p>




<h5>{% translate "Use the site" %}</h5>
<p>{% blocktranslate %}Simply use the site and tell your friends
how useful it is! ;) . When you find something that you specially liked,
could need some improvements or just doesn't work, tell us! This might not sound
like much, but is incredibly important!{% endblocktranslate %}</p>
<a class="btn btn-light mb-4" href="{% url 'core:contact' %}">{% translate "Get in touch" %} »</a>


<h5>{% translate "Submit exercises" %}</h5>
<p>{% blocktranslate %}Submit those cool exercises that you absolutely
love and do every week but are not in the list yet. If you think some description
is too short or some other detail is missing or could be improved, tell!{% endblocktranslate %}</p>

        {% if user.is_authenticated and not user.userprofile.is_temporary %}
            <a class="btn btn-light mb-4" href="{% url 'exercise:exercise:add' %}">{% translate "Add exercise" %} »</a>
        {% else %}
            <a class="btn disabled btn-secondary mb-4" href="#">{% translate "Only registered users can do this" %} »</a>
        {% endif %}


<h5>{% translate "Translate" %}</h5>
<p>{% blocktranslate %}Do you want to use wger in your own language?
Do you think the current translation could be improved?
The translations are easily managed and edited online, if you are interested,
visit the link and start translating.{% endblocktranslate %}</p>

    <a class="btn btn-light mb-4"
       href="https://hosted.weblate.org/engage/wger/">{% translate "Translate" %} »</a>


<h5>{% translate "Code" %}</h5>
<p>{% blocktranslate %}Obviously, you are highly encouraged to clone the
repo and start hacking! Once you are ready, send a pull request and we
will show the world. Take a look at the developer guide for more details
on this.{% endblocktranslate %}</p>

<a class="btn btn-light" href="{% url 'software:code' %}">{% translate "Get the code" %} »</a>
{% endblock %}


{% block sidebar %}
<div class="card text-white bg-wger-green mb-3">
    <div class="card-header">
        {% translate "Our goal" %}
    </div>
    <div class="card-body">
    {% blocktranslate %}The goal is to build an awesome
and flexible fitness manager, along with a comprehensive and complete list of exercises and
ingredients, all released under a free license.{% endblocktranslate %}
    </div>
</div>
{% endblock %}


