{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block title %}{% trans "Reporting a problem" %}{% endblock %}

{% block content %}

<img src="{% static 'images/icons/bug.svg' %}"
        width="48"
        height="48"
        alt=""
        class="float-left">
<p>{% blocktrans %}
No software is perfect. For some severe errors, an email will be automatically sent, but
not always, so I depend on you reporting everything that didn't behave as expected.
Please describe in as much detail as you can what you were doing when the error
happened.
{% endblocktrans %}</p>



<p>
<a class="btn btn-primary"
   href="https://github.com/rolandgeider/wger/issues">{% trans "report problem to the issue tracker" %} »</a>
</p>


<h3>{% trans "Enhancements" %}</h3>

<p>{% blocktrans %}
The issue tracker can also be used to document enhancements to the software.
If you have some suggestions or think a feature is missing, feel
free to open a ticket. This can be anything from a slight change to a whole
new section of the site. Please keep in mind that not all wishes can be
implemented.{% endblocktrans %}</p>

<p>
<a class="btn btn-primary"
   href="https://github.com/rolandgeider/wger/issues">{% trans "report wish to the issue tracker" %} »</a>
</p>
{% endblock %}

{% block sidebar %}
<h4>{% trans "No Github account?" %}</h4>
<p>{% blocktrans %}Filing an issue requires a github account, if you don't
have one and don't want to register, you can also send it to
<a href="https://groups.google.com/group/wger">the mailing list</a>.{% endblocktrans %}</p>
{% endblock %}
