{% load i18n %}
{% load account %}
<html>
<body>
    {# Using wger's friendly tone with Allauth's variables #}
    <p>{% blocktranslate with username=user.username %}You are almost there, {{ username }}!{% endblocktranslate %}</p>
    <br>
    <p>{% blocktranslate %}Please click <a href="{{ activate_url }}">here</a> to confirm your email{% endblocktranslate %}</p>
    
    {# Note: Allauth doesn't pass 'expiry' by default in the same way, we usually rely on settings #}
    <p><i>{% translate 'the wger Team @2026' %}</i></p>
</body>
</html>