{% load i18n %}

{% if not perms.exercises %}
<h4>{% trans "Submitting an exercise" %}</h4>
<p><strong>{% blocktrans %}Thank you for submitting an exercise. This is much
appreciated!{% endblocktrans %}</strong></p>

<p>{% blocktrans %}After you submit the form, the administrators will be notified.
Once it is reviewed, it will be added to the database. Till this happens,
it will not be visible in the overview or the search. In case you added your email
when you registered, you will get notified when the process is completed successfully.{% endblocktrans %}</p>
{% endif %}