{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}{% trans "Exercises pending review" %}{% endblock %}


{% block content %}

<table class="table">
<thead>
<tr>
    <th>{% trans "Submission date" %}</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "User" %}</th>
</tr>
</thead>
<tbody>
{% for exercise in exercise_list %}
<tr>
    <td>
        {{exercise.creation_date}}
    </td>
    <td><a href="{{ exercise.get_absolute_url }}">{{exercise.name}}</a></td>
    <td>{{exercise.license_author}}</td>
</tr>
{% empty %}
<tr>
    <td colspan="2">{% trans "Nothing found" %}</td>
</tr>
{% endfor %}
</tbody>

</table>
<div style="padding-top:3em;"></div>
{% endblock %}
