{% extends "base.html" %}
{% load i18n static wger_extras thumbnail cache django_bootstrap_breadcrumbs %}


{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:title" content="{{ exercise.name }}">
    <meta property="og:description" content="{{ exercise.description_clean }}">
{% endblock %}
{% block opengraphimages %}
    {% for image in exercise.images.accepted %}
        <meta property="og:image" content="{{ image.image.url }}">
    {% empty %}
        <meta property="og:image" content="{{ image_absolute_path }}">
    {% endfor %}
{% endblock %}


{#       #}
{# Title #}
{#       #}
{% block title %}{{ exercise.name }}{% endblock %}


{#        #}
{# Header #}
{#        #}
{% block header %}
<script>
$(document).ready(function() {
    wgerDrawWeightLogChart({{json|safe}}, "{{svg_uuid}}");
});
</script>
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}

{% if exercise.status == exercise.STATUS_PENDING %}
<div class="card text-white bg-dark mb-4">
    <div class="card-header">
        {% translate "Exercise is pending review" %}
    </div>
    <div class="card-body">
        <p>{% blocktranslate %}This user submitted exercise is pending a decision to be
        included in the database.{% endblocktranslate %}
        {% translate "Till then, it will not be shown in the overview or the search."  %}
        {% if perms.exercises.add_exercise %}{% translate "Please select one of the options below." %}{% endif %}
        </p>

        {% if perms.exercises.add_exercise %}
            <a href="{% url 'exercise:exercise:accept' exercise.id %}" class="btn btn-secondary">
                <span class="{% fa_class 'check' %}"></span>
                {% translate "Accept" %}
            </a>
            <a href="{% url 'exercise:exercise:decline' exercise.id %}" class="btn btn-secondary">
                <span class="{% fa_class 'times' %}"></span>
                {% translate "Decline" %}
            </a>
            <a href="{% url 'exercise:exercise:delete' exercise.id %}" class="wger-modal-dialog btn btn-secondary">
                <span class="{% fa_class 'trash' %}"></span>
                {% translate "Delete" %}
            </a>
        {% endif %} {# end check permissions #}
    </div>
</div>
{% endif %} {# end exercise is pending review #}


<h5 class="mt-4">{% translate "Category" %}:</h5>
{% translate exercise.category.name %}

{% if exercise.equipment.all %}
    <h5 class="mt-4">{% translate "Equipment" %}:</h5>
    {% for equipment in exercise.equipment.all %}
        {% translate equipment.name %}
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
{% endif %}


<h5 class="mt-4">{% translate "Description" %}:</h5>
{{ exercise.description|safe }}



{# Images #}
{% with images=exercise.images.accepted %}
{% if images or perms.exercises.change_exerciseimage  %}
    <h5 class="mt-4">{% translate "Images" %}:</h5>
    <div class="row row-cols-2 row-cols-md-3">
    {% with other_images=images %}
    {% for image in other_images %}

        <div class="col mb-4">
        <div class="card h-100">
            <a href="{{ image.image.url }}" title="Image for {{exercise}}">
                <img class="card-img-top" src="{{ image.image|thumbnail_url:'large' }}">
            </a>
            <div class="card-body text-center">
                {% if perms.exercises.change_exerciseimage %}
                    <a href="{% url 'exercise:image:delete' exercise.pk image.pk %}" class="wger-modal-dialog btn btn-link">
                         <span class="{% fa_class 'trash' %}"></span>
                    </a>
                    <a href="{% url 'exercise:image:edit' image.pk %}" class="btn btn-link">
                         <span class="{% fa_class 'edit' %}"></span>
                    </a>
                {% endif %}

                {% if image.is_main %}
                <p class="card-text text-wger-green">
                    <span class="{% fa_class 'medal' %}"></span></a>
                </p>
                {% endif %}
            </div>
            <div class="card-footer">
                {{image.get_license_display}}
                {% if image.license_author %}
                    {{image.license_author}}
                {% endif %}
            </div>
        </div>
        </div>
    {% endfor %}
    {% endwith %}
    </div>

    {% if perms.exercises.change_exerciseimage %}
        <p>
            <a href="{% url 'exercise:image:add' exercise.id %}" >
                {% translate "Add new image" %}
            </a>
        </p>
    {% endif %}
{% endif %}
{% endwith %}

{% if perms.exercises.change_exerciseimage %}
{% with images=exercise.images.pending %}
{% if images %}
<h5 class="mt-4">{% translate "Images pending review" %}</h5>
<div class="card-deck">
    {% for image in images %}
        <div class="card">
                <img class="card-img-top" src="{{ image.image|thumbnail_url:'small' }}">
                <div class="card-body">
                    <a href="{% url 'exercise:image:accept' image.pk %}" class="btn btn-light btn-sm">{% translate "Accept" %}</a>
                    <a href="{% url 'exercise:image:decline' image.pk %}" class="btn btn-light btn-sm">{% translate "Decline" %}</a>
                    <a href="{% url 'exercise:image:delete' exercise.pk image.pk %}" class="btn btn-danger btn-sm">{% translate "Delete" %}</a>
                 </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endif %}  {# end check permission #}


{# Comments #}
{% with comments=exercise.exercisecomment_set.all %}
{% if comments or perms.exercises.change_exercisecomment %}
    <h5 class="mt-4">{% translate "Comments for this exercise" %}:</h5>
    <ul>
    {% for comment in comments %}
        <li>
            {{ comment }}

            {% if perms.exercises.change_exercisecomment %}
            <span class="dropdown">
                <button type="button" class="btn btn-link dropdown-toggle btn-sm" data-toggle="dropdown"></button>
                <div class="dropdown-menu">
                    <a href="{% url 'exercise:comment:edit' comment.id %}" class="dropdown-item wger-modal-dialog">
                        <span class="{% fa_class 'edit' %}"></span>
                        {% translate 'Edit' %}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'exercise:comment:delete' comment.id %}" class="dropdown-item">
                        <span class="{% fa_class 'trash' %}"></span>
                        {% translate 'Delete' %}
                    </a>
                </div>
            </span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if perms.exercises.change_exercisecomment %}
        <p>
            <a href="{% url 'exercise:comment:add' exercise.id %}" class="wger-modal-dialog">
                {% translate "Add new comment" %}
            </a>
        </p>
    {% endif %}
{% endif %}
{% endwith %}




{% cache cache_timeout exercise-detail-muscles cache_vary_on %}
{% if muscles_main_front or muscles_main_back %}
    <h5 class="mt-4">{% translate "Muscles" %}:</h5>
    <p>
        {% translate "The diagram shows the most used muscles on this exercise" %}
    </p>
    <p>
        <div style="width:1em;height:1em;background-color:#cc0000;float:left;margin-right:0.5em;"></div>
        {% translate "Main muscles" %}
    </p>
    <p>
        <div style="width:1em;height:1em;background-color:#f57900;float:left;margin-right:0.5em;"></div>
        {% translate "Secondary muscles" %}
    </p>

    <div class="row ">
        <div class="col">
            {% render_muscles muscles_main_front muscles_sec_front %}
            <ul class="list-unstyled text-center">
                {% for muscle in muscles_main_front %}
                    <li>{{muscle.name}}</li>
                {% endfor %}

                {% for muscle in muscles_sec_front %}
                    <li>{{muscle.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            {% render_muscles muscles_main_back muscles_sec_back %}
            <ul class="list-unstyled text-center">
                {% for muscle in muscles_main_back %}
                    <li>{{muscle.name}}</li>
                {% endfor %}

                {% for muscle in muscles_sec_back %}
                    <li>{{muscle.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% endcache %}

{% if logs %}
    <h5 class="mt-4">{% translate "Weight log" %}:</h5>
    {% render_weight_log logs svg_uuid user %}
{% endif %}

{% if exercise.variations %}
    <h5 class="mt-4">{% translate "Exercise Variations" %}:</h5>
        <ul>
        {% for variation in exercise.variations %}
            <li>
                <a href="{{ variation.get_absolute_url }}">{{ variation }}</a>
            </li>
        {% endfor %}
        </ul>
{% endif %}
{% endblock %}


{#          #}
{# Side bar #}
{#          #}
{% block sidebar %}
{% if user.is_authenticated and not user.userprofile.is_temporary and not perms.exercises %}
<h5>{% translate "Options" %}</h5>
<p>
    <a href="{% url 'exercise:exercise:correct' exercise.id %}">
        <span class="{% fa_class 'edit' %}"></span>
        {% translate "Submit a correction" %}
    </a>
</p>
{% endif %}

{% license_sidebar exercise.license exercise.license_author %}
{% endblock %}



{#         #}
{# Options #}
{#         #}
{% block options %}
{% if perms.exercises.change_exercise %}
<div class="btn-group">
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="{% fa_class 'cog' %}"></span>
            {% translate "Options" %}
        </button>
        <div class="dropdown-menu">
            <a href="{% url 'exercise:exercise:edit' exercise.id %}" class="dropdown-item">
                <span class="{% fa_class 'edit' %}"></span>
                {% translate "Edit" %}
            </a>
            <div role="separator" class="dropdown-divider"></div>
            <a href="{% url 'exercise:exercise:delete' exercise.id %}" class="wger-modal-dialog dropdown-item">
                <span class="{% fa_class 'trash' %}"></span>
                {% translate "Delete" %}
            </a>
            </li>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
