{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

<!--
        Title
-->
{% block title %}{% trans "Exercises" %}{% endblock %}



{% block header %}
<script>
$( document ).on( "pageinit", "#myPage", function() {
$( "#exercise_search_form" ).on( "listviewbeforefilter", function ( e, data ) {
    var $ul = $( this ),
        $input = $( data.input ),
        value = $input.val(),
        html = "";
    $ul.html( "" );
    if ( value && value.length > 2 ) {
        $ul.html( "<li><div class='ui-loader'><span class='ui-icon ui-icon-loading'></span></div></li>" );
        $ul.listview( "refresh" );
        $.ajax({
            url: "{% url 'wger.exercises.views.exercises.search' %}",
            dataType: "json",
            data: {
                q: $input.val()
            }
        })
        .then( function ( response ) {
            $.each( response, function ( i, val ) {
                html += '<li><a href="/exercise/' + val.id + '/view/">' + val.name + '</a></li>';
            });
            $ul.html( html );
            $ul.listview( "refresh" );
            $ul.trigger( "updatelayout");
            });
        }
    });
});
</script>
{% endblock %}


<!--
        Main Content
-->
{% block content %}


<div data-role="collapsible-set" data-theme="c" data-content-theme="d">
{% for category in categories %}
    <div data-role="collapsible">
        <h3>{{ category.name }}</h3>

        <ul data-role="listview">
        {% for exercise in category.exercise_set.all %}
            <li><a href="{{ exercise.get_absolute_url }}">{{ exercise.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
<h3>{% trans "Search" %}</h3>

<ul data-role="listview"
    data-theme="c"
    data-filter="true"
    data-filter-reveal="true"
    data-filter-placeholder="{% trans 'exercise name' %}"
    id="exercise_search_form">
    {% for category in categories %}
    {% for exercise in category.exercise_set.all %}
        <li><a href="{{ exercise.get_absolute_url }}">{{ exercise.name }}</a></li>
    {% endfor %}
    {% endfor %}
</ul>
{% endblock %}
