{% extends "base.html" %}
{% load wger_extras %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Gallery" %}{% endblock %}


{% block content %}
    <div class="container">
    <div class="row card-columns" >
    {% for image in images %}
        <div class="card w-25">
            <a href="{% url 'gallery:images:edit' image.pk %}">
                <img class="card-img-top" src="{{ image.image.url  }}" class="img-thumbnail" alt="{{ image.description }}" >
            </a>
            <div class="card-body">
                <p class="card-title">{{ image.date }}</p>
                    <a href="{% url 'gallery:images:delete' image.id %}">
                        <span class="{% fa_class 'trash' %}"></span>
                    </a>
                <!--
                <p>
                    #{{ image.id }}
                    {{ image.description }}
                </p>
                -->
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}


{% block options %}
<a href="{% url 'gallery:images:add' %}" class="btn btn-success btn-sm">
    {% translate "Add image" %}
</a>
{% endblock %}
